<ion-view class="achivements bg" title="{{navTitle}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-help-circled icon-white" ng-click="achievmentHelp()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true" class="background-grey">
    <div class="row">
      <div class="go-left">
        <div class="fill_level">
          <div class="outline_level" ng-style="meterHeight"></div>
        </div>
      </div>
      <div class="col text-11 text-dark-grey">
        <div style="padding-top:58px;">
          <span class=" go-left"><p class="inline-text">Level 1</p></span>
          <span class="go-right"><p class="inline-text">YOU EARNED <img height="28" width="28"  style="vertical-align:middle" ng-src="img/user_level_1.svg"></p></span>
        </div>
        <div style="padding-top:78px;">
          <span class="text-11 go-left"><p class="inline-text">Level 2</p></span>
          <span class="go-right"  ng-if="level >= 2"><p class="inline-text">YOU EARNED <img height="28" width="28"  style="vertical-align:middle" ng-src="img/user_level_2.svg"></p></span>

        </div>
        <div style="padding-top:75px;">
          <span class="go-left"><p class="inline-text">Level 3</p></span>

          <span class="go-right"  ng-if="level >= 3"><p class="inline-text">YOU EARNED <img height="28" width="28"  style="vertical-align:middle" ng-src="img/user_level_3.svg"></p></span>
        </div>
        <div style="padding-top:75px;" >
          <span class="go-left">Level 4</span>
          <span class="go-right" ng-if="level >= 4"><p class="inline-text">YOU EARNED <img height="28" width="28"  style="vertical-align:middle" ng-src="img/user_level_4.svg"></p></span>
        </div>
        <div style="padding-top:75px;" >
          <span class="go-left">Level 5</span>

          <span class="go-right" ng-if="level >= 5"><p class="inline-text">YOU EARNED <img height="28" width="28"  style="vertical-align:middle" ng-src="img/user_level_5.svg"></p></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
