<ion-view title="{{navTitle}}" class="select_category">
  <ion-nav-bar class="bar zero-border theme-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon-arrow_back icon-white" ng-click="goLogin()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="bar bar-subheader">
    <label class="item item-input bottom-border">
      <i class="icon icon-search placeholder-icon"></i>
      <input type="text" placeholder="Search your service categories" ng-model="search_string">
    </label>
  </div>

  <ion-content has-header="true" style="margin-top:50px;" has-subheader="true" has-footer="true" padding="true">
    <div ng-include="'templates/partials/categories.html'"></div>

  </ion-content>
  <ion-footer-bar class="bar-energized">
    <div class="button-bar footer-bar">
      <button class="button" ng-click="supplierSignUp()">Next!</button>
    </div>
  </ion-footer-bar>
</ion-view>
