<ion-view class="construction" title="{{navTitle}}">
  <ion-nav-bar class="bar zero-border theme-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-icon button-clear icon-arrow_back icon-white" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon icon-info icon-white" ng-click="constructionHelp()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>



  <ion-content class="has-header">
    <div class="no-wrap background-d padding">
      <div class="row padding">
        <span class="text-12 text-dark-grey ">Didn't find your categories on our list? Suggest us to implement your categories.</span>
      </div>
    </div>
    <form name="constructionForm">

      <div class="list list-inset margin-top-0">
        <div>
          <label class="item bottom-border item-input item-floating-label">
            <span class="input-label">Category Name</span>

            <input type="text" ng-model="data.category" name="data.category" placeholder="Category Name" required="">
          </label>
        </div>
        <div>
          <label class="item bottom-border item-input item-floating-label">
            <span class="input-label">Sub-Category Name</span>
            <input type="text" ng-model="data.subcategories" name="data.subcategories" placeholder="Sub-Category Name" required="">
          </label>
        </div>

        <div ng-repeat="requirement in requirements">
          <label class="item bottom-border item-input item-floating-label">
            <span class="input-label">Field Title</span>
            <input type="text" ng-model="requirement.title" placeholder="Title" required="">
          </label>
          <div ng-repeat="content in requirement.content track by $index">
            <label ng-if="$first" class="item bottom-border item-input item-floating-label">
              <span class="input-label">Field Content</span>
              <input type="text" ng-model="requirement.content[$index]" placeholder="Content" required="">
            </label>

            <div class="row"  ng-if="!$first">
              <div class="col col-80">
                <label ng-if="!$first" class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Field Content</span>
                  <input type="text" ng-model="requirement.content[$index]" placeholder="Content" required="">
                </label>
              </div>
              <div class="col col-20">
                <button class="button button-clear icon ion-minus-circled" ng-click="removeContent($parent.$parent.$index,$index)"></button>
              </div>
            </div>

          </div>
          <div class="right-align-text">
            <button class="button button-clear button-energized" style="min-height:40px;" ng-click="addContent($index)">
              Add more
            </button>
          </div>
          <div class="left-align-text go-left" ng-if="$last">
            <button class="button button-outline button-small" style="min-width:60px;" ng-click="addRequirement()">
              <b>+ Add</b>
            </button>
          </div>
          <div class="go-right" ng-if="!$first && $last">
            <button class="button button-outline button-small" style="min-width:40px;" ng-click="removeRequirement($index)">
              Remove
            </button>
          </div>

        </div>


        <div class="row" ng-if="!has_email">
          <div class="col">
            <label class="item bottom-border item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" ng-model="data.email" name="data.email" placeholder="Email" required="">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="left-align-text">We will email you once your category is available</div>
        </div>
      </div>
      <button  class="button button-block button-energized" ng-click="constructSubmit(category,subcategories,email)" ng-disabled="constructionForm.$invalid">
        Send
      </button>
    </form>
  </ion-content>
</ion-view>
