<ion-view class="app-dashboard" title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-search icon-white" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-include="'templates/partials/search.html'"></div>
    <div ng-class="searchOpen.value ? 'opacity-half' : ''">

      <div class="status">
        <span class="icon icon-clock energized">
        </span>
        <span class="text-14 text-grey">Status: </span><span class="text-14 text-dark-grey">{{user.status | capitalizeFirst}}</span>
        <button class="button button-icon icon icon-arrow_down" style="margin-left:-12px;margin-top:-2px;" ng-click="statusPopover.show($event)"></button>
      </div>
      <div class="stats-container">
        <div class="stats-1">
          <div class="stats1-sub-section align-left">
            <p class="text-10 text-grey">ONGOING JOBS</p>
            <div class="centered-lg-text">{{user.my_jobs.ongoing}}</div>
          </div>
          <div class="stats1-sub-section align-right">
            <p class="text-10 text-grey">CUSTOMER SATISACTION</p>
            <div class="centered-lg-text">{{user.satisfaction | number: 1}}%</div>
          </div>
        </div>
      </div>
      <div class="stats-container">
        <div class="stats-2">
          <div class="stats-2-inner-container">
            <div class="revenue text-10 text-grey">REVENUE</div>
            <!--
            will uncomment when filter is required
            <div class="all-time">ALL TIME <span class="icon ion-ios-arrow-down"></span></div> -->
            <!-- <div class="all-time">THIS MONTH</div> -->
            <div class="amount text-24 text-dark-grey">{{achieved_goal}} AED</div>
          </div>
        </div>
      </div>
      <div class="graph">
        <canvas id="line" class="chart chart-line white-background" chart-data="data"
        chart-labels="labels" chart-colors="colors" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
        ></canvas>
      </div>
      <div class="stats-container">
        <div class="stats-2">
          <div class="stats-2-inner-container">
            <p class="text-10 text-grey">SET YOUR GOAL</p>
            <div class="bottom-border" style="width: 100%; float: left; margin-bottom:10px" ng-click="showPopup()">
              <div class="goal-amount">{{user.goal}}</div>
            </div>
            <span class="text-12 text-grey">Achieved Goal: </span><span class="text-12 text-dark-grey"> {{achieved_goal}} AED</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
