<ion-view title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-checkmark icon-white" ng-click='updateSupplier()'></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true"  class="background-grey">
    <div class="list">
      <div class="item zero-border background-grey" ng-if="!user.profilePic">
        <div class="center-circle" ng-click="popover.show($event)">
          <div class="center-div-40">
            <i class="ion-camera edit_photo text-36" style="color:white"></i>
          </div>
        </div>
      </div>

      <div class="item zero-border background-grey" ng-if="user.profilePic">
        <div class="center-div-120"  ng-click="popover.show($event)">
          <img class="avatar-img-120" ng-src="{{user.profilePic}}">
          <button class="button button-clear icon ion-close-circled" ng-click="removeProfilepic(); $event.stopPropagation();"></button>
          <div class="center-div-40">
            <i class="ion-camera edit_photo text-36" style="color:white"></i>
          </div>
        </div>
      </div>

    </div>
    <form name = "newPasswordForm" class="margin-top-negative-20" novalidate ng-submit="updateSupplier()">

      <div class="list list-inset">
        <div class="item item-divider">
          <p class="">{{name}}</p>
        </div>
        <div class="item">
          <intlpn ng-model="change.mobile" placeholder="Contact number" name="mobile" default-country="ae" only-country="['ae','sa','om','qe','bh','kw']" national-mode="true" box-header-class="bar-dark" box-header-title="Search country" search-placeholder="search" country-iso-code="model.isocode" country-dial-code="model.dialcode" required></intlpn>
        </div>
        <ng-messages for="newPasswordForm.mobile.$error" class="assertive" >
          <div ng-message="required">Mobile Required</div>
          <div ng-message="validForm">Not a valid Number</div>
        </ng-messages>
        <div>
          <label class="item item-input">
            <input type="text" ng-model = "change.email" placeholder="Email" required="">
          </label>
        </div>
      </div>
    </form>
    <div ng-if="user.type == 'Supplier'" class="item item-icon-right upper-margin bg-v-light-gray" ng-click="openCategoryModle()">
      <i class="icon ion-chevron-right text-16"></i>
      <p class="text-12 grey-frame">Your services</p>
      <p class="text-12 grey-frame"><b>{{serviceNames}}</b></p>
    </div>
    <div class="item zero-border center upper-margin">
      <button class="button button-outline button-stable" ng-click="openPasswordModal()">
        Change Password
      </button>
    </div>
  </ion-content>
</ion-view>
