<ion-view title="Forgot Password">
  <form name="forgotPassword">
    <ion-content has-header="true" padding="true">
      <div class="list lis-padding main">
        <div class="text-12">Select Method</div>
        <div class="row">
          <div class="col col-67">
            <div class="button-bar button-bar-with-border">

              <a class="button button-small" ng-click="option.mobile = true" ng-class="option.mobile ? 'button-dark' : 'button-stable'">
                <span> <i ng-if="option.mobile" class="icon-checkmark energized"></i> </span>Mobile
              </a>

              <a class="button button-small" ng-click="option.mobile = false" ng-class="option.mobile ? 'button-stable' : 'button-dark'">
                <span> <i ng-if="!option.mobile" class="icon-checkmark energized"></i> </span>Email
              </a>
            </div>
          </div>
        </div>
        <div ng-if="!option.mobile">
          <label  class="item item-input bottom-border">
            <input type="email" ng-model="formData.email" name="email" placeholder="Email"  required="" />
          </label>
          <ng-messages for="forgotPassword.email.$error" class="assertive" >
            <div ng-message="required">Email Required</div>
            <div ng-message="email">Not a valid email</div>
          </ng-messages>
        </div>
        <div ng-if="option.mobile">
          <div class="item bottom-border">
            <intlpn class="zero-border" ng-model="formData.email" required="" name="email" placeholder="Mobile number" default-country="ae" only-country="['ae','sa','om','qe','bh','kw']" national-mode="true" box-header-class="bar-dark" box-header-title="Search country" search-placeholder="search" country-iso-code="model.isocode" country-dial-code="model.dialcode"></intlpn>
          </div>

          <ng-messages for="forgotPassword.email.$error" class="assertive" >
            <div ng-message="required">Mobile Required</div>
            <div ng-message="validForm">Not a valid Number</div>
          </ng-messages>
        </div>
      </div>
      <div class="row">
        <div class="col text-center padding-top-20">
          <p class="grey-frame text-14">Already have account?
            <a class="energized text-14 " ui-sref="login({'type':'client'})">
              <b>Sign In</b>
            </a>
          </p>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized">
      <div class="button-bar footer-bar">

        <a class="button" ng-click="sendEmail()" ng-disabled="forgotPassword.$invalid">Send</a>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>
