<ion-view title="{{navTitle}}">
  <ion-content>
    <ion-refresher
    pulling-text="Checking for new notifications..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="list">
      <div ng-repeat="notification in notifications | orderBy: 'created_at':true" ng-click="readNotification(notification,$index)">

        <div class="item" ng-class="{'light-blue': notification.status==='new'}" >
          <p class="no-wrap">{{notification.message}}</p>
          <span class="text-12" am-time-ago="notification.created_at"></span>
        </div>
      </div>
      <empty-place-holder ng-if="!notifications.length"
        heading="No notification yet!"
        message="We will provide you notifications when you get"
      >
    </empty-place-holder>
    </ion-content>
  </ion-view>
