<ion-view title="{{navTitle}}">
  <ion-content class="has-header">
    <ion-refresher
    pulling-text="Check for new invitations..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div ng-include="'templates/partials/jobsList.html'"></div>
</ion-content>
</ion-view>
