<ion-view class="filter-page" title="{{navTitle}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon  ion-bookmark"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="item item-icon-left item-icon-right dark-bg white-icon text-12" ng-if="option.successBox">
      <i class="icon icon-checkmark text-16"></i>
      <span>Your proposal sucessfully sent to {{current_offer.client.first_name + ' ' + current_offer.client.last_name}}</span>
      <i class="icon ion-close-circled text-16" ng-click="cancelSuccessBox()"></i>
    </div>
    <div class="list">

      <div ng-include="'templates/partials/detail-'+ category + '.html'"></div>

      <div class="item bg-light-gray">
        <div class="row">
          <div class="col col-50">
            <div> <b> About the Client </b> </div>
          </div>
          <div class="col col-50" >
            <div class="small-label no-wrap">Member since {{current_offer.client.created_at | amDateFormat:'Do MMMM YYYY'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col col-20">
            <div class="center-circle-small">
            </div>
          </div>
          <div class="col col-80">
            <div><b>{{current_offer.client.first_name}} {{current_offer.client.last_name}} </b><i ng-if="current_offer.client.profile_completed" class="icon ion-checkmark-circled"></i></div>
            <div class="small-label">
              Dubai, United Arab Emirate
            </div>
          </div>
        </div>
        <div class="row">
          <b>Badges</b>
        </div>
        <div class="row">
          <span class="badge badge-dark" style="position:relative;right:0px;top:0px;">Feedbacker</span>
        </div>
      </div>

    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark"ng-if="!current_offer.my_bid && current_offer.bid_type=='bid'">
    <div class="button-bar footer-bar">
      <button class="button" ng-click="openProposal()">Submit Proposal!</a>
      </div>
    </ion-footer-bar>

    <ion-footer-bar ng-if="!current_offer.my_bid && current_offer.bid_type =='direct' && !current_offer.can_invite">
      <div class="footer-bar button-bar">
        <button class="button button-energized" ng-click="openProposal()">Submit Proposal!</a>
        <button class="button button-assertive" ng-click="cancel_offer()">Cancel</button>
      </div>
    </ion-footer-bar>
    <ion-footer-bar ng-if="!current_offer.my_bid && current_offer.bid_type =='direct' && current_offer.can_invite">
      <div class="footer-bar button-bar">
        <button class="button button-dark disabled" ng-click="">You Rejected</a>
      </div>
    </ion-footer-bar>
  </ion-view>
