<ion-view class="filter-page" hide-nav-bar="true">

  <ion-header-bar class="bar theme-bg item-input-inset">
    <button class="button button-icon button-clear ion-navicon icon-white" menu-toggle="left"></button>
    <label class="item-input-wrapper">
      <input type="search" ng-model="search_string" placeholder="Search by keywords">
      <i class="icon ion-ios-search placeholder-icon"></i>
    </label>
    <button class="button buttons-right button-clear button-icon icon-setting icon-white" ng-click="openFilter()"></button>
  </ion-header-bar>
  <ion-content class="has-header" direction="y">
    <ion-refresher
    pulling-text="Check for new offers..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div  ng-include="'templates/partials/jobsList.html'"></div>
</ion-content>

</ion-view>
