<ion-view title="{{navTitle}}" class="landing ">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-plus_square icon-white" ui-sref="menu.service"></button>
    <button class="button button-clear icon icon-search icon-white" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header bg">
    <div ng-include="'templates/partials/search.html'"></div>
    <div class="main-content" ng-class="searchOpen.value ? 'opacity-half' : ''">
      <ul class="list grey-frame zero-margin">
        <div class="row item item-icon-left zero-border zero-padding no-bg">
          <div class="col">
            <i class="icon ion-location" style="left:-5px;">
              <span class="text-14">Dubai</span>
            </i>
          </div>
          <div class="col">
            <span class="text-12 go-right"> Change</span>
          </div>
        </div>
      </ul>
    </div>
    <ion-slide-box class="padding-top-5">
      <ion-slide>
        <div class = "box main-box-1">
          <img height="150" width="100%" src="img/cleaning_pres.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class = "box main-box-2">
          <img height="150" width="100%" src="img/rent_car_pres.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="trending padding-top-10 custom-grid-container">
      <div>
        <div class="text-12 theme-text">Trending Services</div>
        <div class="col col-33 button button-line" ng-repeat="trending in trendings | limitTo:3 " ng-click="openOfferMethod(trending)">
          <div class="icon-container">
            <img ng-src="img/icons/{{trending.slug}}.svg">
            <p>{{trending.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="all-categories padding-top-10 custom-grid-container">
      <div>
        <div class="text-12 theme-text">
           All Services (6)
        </div>
        <!--
        {{services.length}}
        ui-sref="menu.service({'type':service.slug})" -->
        <div  ng-repeat="parentService in services">
          <div  ng-repeat="service in parentService.subcategories | limitTo:6"  ng-click="openOfferMethod(service)">
            <div class="col col-33 button button-line" >
              <div class="icon-container">
                <img ng-src="img/icons/{{service.slug}}.svg">
                <p>{{service.name}}</p>
              </div>
            </div>
            <!-- <div class="col col-33 button button-line" ng-repeat="subcategory in service.subcategories | limitTo:3 " ng-click="openOfferMethod(subcategory)">
            <div class="icon-container">
            <img ng-src="img/icons/{{subcategory.slug}}.svg">
            <p>{{subcategory.name}}</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
</ion-content>
<!-- <div class="bar bar-footer ">
<div class="button-bar">
<button class="button button-light icon-left ion-ios-keypad"  ui-sref="menu.service">More Categories</button>
</div>
</div> -->
</ion-view>
