<ion-view class="login" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
      <section class = "home-container">
        <div class = "row header">
          <div class = "col text-center">
            <img src="img/logo.png" class="img-100">
          </div>
        </div>
        <div class = "row header zero-padding">
          <div class = "col text-center">
            <p class="text-25">Service<span class='theme-color'>Me</span></p>
          </div>
        </div>
        <div class = "row">
          <div class='col'>
            <form name="loginForm" novalidate ng-submit="signIn()">
              <div class="list">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Email OR Mobile No.</span>
                  <input type="text" ng-model="user.email" name="email" autocapitalize="none" autocomplete="off" autocorrect="off"  autocapitalize="off" placeholder="Email OR Mobile No."  required />
                </label>
                <label class="item bottom-border item-input item-floating-label item-icon-right">
                  <span class="input-label">Password</span>
                  <i ng-class="password.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHidepassword()"></i>
                  <input type="{{password.type}}" class="lower_case" autocapitalize="none" autocomplete="off" autocorrect="off" ng-model = "user.password" name="password" placeholder="Password" required="">
                </label>
                <div ng-messages="signUpDetailForm.password.$error" class="assertive" ng-show="signUpDetailForm.password.$touched" >
                  <div ng-message="required">Password is required.</div>
                </div>
              </div>
              <input type="submit" class="button button-block button-energized" style="line-height:28px" value="Sign In" ng-disabled="loginForm.$invalid">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col margin-top-negative-20">
            <button class="button button-clear button-dark go-right grey-frame text-14" ui-sref="forgotPassword">
              Forgot Password?
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center grey-frame">
            <p>OR</p>
          </div>
        </div>
        <div class="row border-grey height-65">
          <div class="col col-50 col-offset-10 text-14 table-div">
            <span class="center-cell grey-frame">Sign In with </span>
          </div>
          <div class="col col-33">
            <div class="button-bar padding-top-5">
              <a class="button button-icon icon icon-facebook blue-icon" ng-click="fbLogin()"></a>
              <a class="button button-icon icon ion-social-googleplus red-icon" ng-click="gPlusLogin()"></a>
            </div>
          </div>
        </div>

        <div class="text-center padding-top-10">
          <p class="grey-frame text-14 zero-margin-bottom" style="line-height:3">Do not have an account?
            <a class="energized text-14" ng-if="type=='client'" ng-click="signup_window_client()">
              <b>Create One</b>
            </a>
            <a  class="energized text-14" ng-if="type=='supplier'" ng-click="signup_supplier()">
              <b>Create One</b>
            </a>
          </p>
        </div>
        <div class="row zero-padding" ng-if="type=='supplier'">
          <div class="col text-center">

            <a  class="button button-clear text-14 roboto-medium" ui-sref="login({'type':'client'})">
              Looking for services?
            </a>
          </div>
        </div>

        <div class="row zero-padding" ng-if="type=='client'">
          <div class="col text-center">

            <a  class="button button-clear text-14 roboto-medium" ui-sref="login({'type':'supplier'})">
              Are you a Service Provider?
            </a>
          </div>
        </div>
      </section>
    </ion-content>
  </ion-view>
