<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar zero-border theme-bg" align-title="center">
      <ion-nav-back-button class="button-icon button-clear icon-arrow_back icon-white">
      </ion-nav-back-button>
      <ion-nav-buttons>
        <button class="button button-icon button-clear icon-navicon icon-white" menu-toggle="left"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="menu-header left-menu" style="height:55px;">

      <div ng-if="user.type != 'Supplier'" class="row menu-header zero-border">
        <div class="col col-20">
          <img ng-if="user.profilePic" ng-src="{{user.profilePic}}" alt="" class="profile-box-thumb">
          <i ng-if="!user.profilePic" class="icon ion-record text-36" style="margin-top:-5px;"></i>
        </div>
        <div class="col col-67 text-left" style="">
          <p class="padding-top-negative-2 text-16 grey-frame" ng-if="!user" ng-click="go('menu.landing')"> &nbsp;&nbsp;Guest</p>
          <p class="padding-top-negative-2 text-16 grey-frame" ng-if="user.first_name" ng-click="go('menu.landing')">&nbsp;&nbsp;{{user.first_name}}&nbsp;{{user.last_name}}</p>
        </div>
        <div class="col col-10 text-right">
          <i class="icon ion-ios-bell text-20"></i>
        </div>
      </div>

      <div ng-if="user.type == 'Supplier'" class="row menu-header zero-border" ng-click="go('menu.profile')">
        <div class="col col-20">
          <img ng-if="user.profilePic" ng-src="{{user.profilePic}}" alt="" class="profile-box-thumb">
          <i ng-if="!user.profilePic" class="icon ion-record text-36" style="margin-top:-5px;"></i>
        </div>
        <div class="col col-67 text-left">
          <p class="text-16 grey-frame" ng-if="user.first_name">&nbsp;&nbsp;{{user.first_name}}&nbsp;{{user.last_name}}</p>
          <p class="text-16 grey-frame" ng-if="user.company_name">&nbsp;&nbsp;{{user.company_name | capitalizeFirst}}&nbsp;</p>
        </div>
        <div class="col col-10 text-right">
          <i class="icon ion-ios-bell text-20"></i>
        </div>
      </div>
    </ion-header-bar>

    <ion-content has-header="true" has-subheader="true" class="padding-top-10 left-menu">
      <ul class="list grey-frame">
        <div ng-if="user.type == 'Client'" class="row item item-icon-left" menu-close>
          <div class="col">
            <i class="icon ion-location"><p class="text-16 grey-frame">Dubai</p></i>
          </div>
          <div class="col">
            <p class="text-12 go-right"> Change</p>
          </div>
        </div>
        <div ng-if="user.type == 'Supplier'" class="item item-icon-left item-icon-right">
          <i class="icon ion-clock text-20"></i>
          <p class="text-16 grey-frame">Status :{{user.status | capitalizeFirst}}</p>
          <i class="icon ion-edit text-20" ng-click="statusPopover.show($event)"></i>
        </div>
        <div ng-if="!user">
          <div class="item item-icon-left top-border" menu-close>
            <i class="icon ion-record"></i>How it works
          </div>
          <div class="item item-icon-left zero-border" menu-close>
            <i class="icon ion-record"></i>Benefits
          </div>
        </div>
        <div ng-if="user.type == 'Client'">
          <div class="item item-icon-left top-border" ng-click="go('menu.profile')" menu-close>
            <i class="icon ion-android-person"></i>My Account
          </div>
          <div class="item item-icon-left zero-border" ng-click="goWithBackOnNext('menu.myOffer')" menu-close>
            <i class="icon ion-ios-list"></i>My Orders
          </div>
          <div class="item item-icon-left zero-border" ng-click="removeNotificationInbox('menu.inbox')" menu-close>
            <i class="icon ion-android-mail"></i>Inbox
            <span ng-if="notification.inboxCount > 0" class="badge badge-assertive go-right">{{notification.inboxCount}}</span>
          </div>
          <div class="item item-icon-left zero-border"  ng-click="goWithBackOnNext('menu.myPayment')" menu-close>
            <i class="icon ion-card"></i>Payments
          </div>
          <div class="item item-icon-left zero-border" ng-click="goWithBackOnNext('menu.viewSupplier',{favourite_only:true})" menu-close>
            <i class="icon ion-android-favorite"></i>My Favroites
          </div>
        </div>
        <div ng-if="user.type == 'Supplier'" >
          <div class="item item-icon-left top-border" ng-click="go('menu.dashboard')"  menu-close>
            <i class="icon ion-home"></i>My Dashboard
          </div>
          <div class="item item-icon-left zero-border" ng-click="go('menu.myJobs')" menu-close>
            <i class="icon ion-ios-glasses"></i>My Jobs
          </div>

          <div class="item item-icon-left zero-border" ng-click="go('menu.jobsList')" menu-close>
            <i class="icon ion-ios-list"></i>New Jobs
            <span ng-if="newJob > 0" class="badge badge-assertive go-right">{{newJob}}</span>
          </div>
          <div class="item item-icon-left zero-border" ng-click="removeNotificationInbox('menu.inbox')" menu-close>
            <i class="icon ion-android-mail"></i>Inbox
            <span ng-if="notification.inboxCount > 0" class="badge badge-assertive go-right">{{notification.inboxCount}}</span>
          </div>
          <div class="item item-icon-left zero-border" ng-click="goWithBackOnNext('menu.invitations')" menu-close>
            <i class="icon ion-android-mail"></i>Invitation
            <span  ng-if="invitation > 0" class="badge badge-assertive go-right">{{invitation}}</span>
          </div>

        </div>
        <div ng-if="user.type == 'Client' || !user">
          <div class="item item-icon-left top-border" menu-close ng-click="refer_friend()">
            <i class="icon ion-android-share-alt"></i>Refer A Friend
          </div>
          <div class="item item-icon-left zero-border" menu-close ng-click="refer_supplier()">
            <i class="icon ion-android-share-alt"></i>Invite A Supplier
          </div>
          <div class="item item-icon-left zero-border" menu-close>
            <i class="icon ion-help-circled"></i>Help
          </div>
        </div>
        <div ng-if="user.type == 'Supplier'">
          <div class="item item-icon-left top-border" menu-close ng-click="go('menu.profile')">
            <i class="icon ion-android-person"></i>Profile
          </div>
          <div class="item item-icon-left zero-border" menu-close ng-click="goWithBackOnNext('menu.myPayment')">
            <i class="icon ion-card"></i>Payments
          </div>
          <div class="item item-icon-left top-border" menu-close ng-click="refer_supplier()">
            <i class="icon ion-android-share-alt"></i>Share
          </div>
          <div class="item item-icon-left zero-border" menu-close>
            <i class="icon ion-help-circled"></i>Help
          </div>
        </div>
      </ul>
    </ion-content>
    <ion-footer-bar class="bar left-menu">
      <a ng-if="!user" ui-sref="login({'type':'client'})" class="text-center grey-frame text-16" menu-close>
        Sign In/ Sign Up
      </a>
      <div class="item-icon-left" ng-if="user" ng-click="logout()" menu-close>
        <i class="icon ion-arrow-swap"></i> Switch Account
      </div>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
