<ion-view class="filter-page" title="{{navTitle}}">

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-outline" ng-click="addAddressModal()"></button>
    <!-- <button class="button button-clear icon icon-search" ng-click="showFilterBar()"></button> -->
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    <div class="item item-button-right"  ng-repeat="address in myAddresses">
      <button class="button button-clear" ng-click="openPopOver($event,$index);$event.stopPropagation();">
        <i class="icon ion-android-more-vertical" ></i>
      </button>

      <div class="zero-border">
        <span class="text-left no-wrap">{{areaString(address)}}</span>
      </div>
      <div>
        <i class="icon ion-location"></i>
        <span class="no-wrap">{{address.street_address}} {{address.landmark}}</span>
      </div>
      <div>
        <i class="icon ion-ios-telephone"></i>
        <span ng-if="address.phone">{{address.phone}}</span>
        <span ng-if="!address.phone">Not available</span>
      </div>
    </div>

    <empty-place-holder ng-if="!myAddresses.length"
      heading="No Address created yet!"
      message="You have not created any address yet. Once you create that you will see them here."
      >
    </empty-place-holder>

  </div>
  <button class="button button-full button-energized" ng-if="current_page < total_pages" ng-click="loadMore(current_page+1)" ng-disabled="addressForm.$invalid">
    View more
  </button>
</ion-content>
</ion-view>
