<ion-view  title="{{navTitle}}" class="filter-page">

  <ion-header-bar class="bar theme-bg item-input-inset">
  </ion-header-bar>
  <tab-slide-box tab="0">
    <div class="tsb-icons">
      <div class="tsb-ic-wrp">
        <ion-scroll direction="x" class="tsb-hscroll">
          <a href="javascript:;">Ongoing</a>
          <a href="javascript:;">Saved</a>
          <a href="javascript:;">Completed</a>
          <a href="javascript:;">Proposals</a>
        </ion-scroll>
      </div>
    </div>
    <ion-slide-box show-pager="false"
    on-slide-changed="slideHasChanged($index);newTabOffers($index)">
    <ion-slide>
      <ion-content class="no-header has-footer has-subfooter">
        <ion-scroll style="height:100%" delegate-handle="slide1Scroll" >
          <div ng-include="'templates/partials/jobsList.html'"></div>
        </ion-scroll>
      </ion-slide>
    </ion-content>
    <ion-slide>
      <ion-content class="no-header has-footer has-subfooter">
        <ion-scroll style="height:100%" delegate-handle="slide2Scroll" >
          <div ng-include="'templates/partials/jobsList.html'"></div>
        </ion-scroll>
      </ion-slide>
    </ion-content>
    <ion-slide>
      <ion-content class="no-header has-footer has-subfooter">
        <ion-scroll style="height:100%" delegate-handle="slide3Scroll" >
          <div ng-include="'templates/partials/jobsList.html'"></div>
        </ion-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="no-header has-footer has-subfooter">
        <ion-scroll style="height:100%" delegate-handle="slide4Scroll" >
          <div ng-include="'templates/partials/proposalsList.html'"></div>
        </ion-scroll>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</tab-slide-box>
</ion-view>
