<ion-view class="filter-page" title="{{navTitle}}">

  <ion-nav-buttons side="right">
    <!-- <button class="button button-clear icon icon-search" ng-click="showFilterBar()"></button> -->
    <a class="button button-clear icon icon-plus_square icon-white" ui-sref="menu.service"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
    pulling-text="Check for new proposals..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="list">
    <div class="item animate-repeat" collection-repeat="offer in offerList | filter:search_string" ng-click="openModalOnItemClick($index)">
      <div>
        <div class="button button-clear padding go-right"  ng-click="openPopover($event,$index); $event.stopPropagation();">
          <i class="icon ion-android-more-vertical text-36"></i>
        </div>
        <p class="dotted-overflow text-16 roboto-medium text-dark-grey">{{offer.title}}</p>
      </div>
      <div class="assigned-to"><span am-time-ago="offer.created_at"></span>
        <b ng-if="locations[offer.location]">{{locations[offer.location]}}</b>
        <b ng-if="!locations[offer.location]">{{offer.location}}</b>
      </div>
      <div class="row">
        <div class="col col-50 small-label no-wrap"  ng-if="offer.has_budget">
          <span class="balanced-badge-box">{{offer.status}}</span>
          <span class="light-badge-box" ng-if="offer.bid_type">{{offer.bid_type}}</span>
          <b ng-if="offer.price" class="text-11 grey-75">AED {{offer.price}}</b>
          <b ng-if="!offer.price" class="text-11 grey-75">Supplier Price</b>
        </div>
        <div  class="col col-50 small-label"  ng-if="!offer.has_budget">
          <span class="balanced-badge-box">{{offer.status}}</span>
        </div>
        <div class="col col-20 text-center left-border">
          <span class="text-11 grey-75">{{offer.bids_count}} Proposal</span>
        </div>
        <div class="col col-33 text-center" ng-if="offer.done_in">
          <span class="text-11 grey-75">Expire in {{offer.done_in}} days</span>
        </div>
        <div class="col col-33 text-center text-11 grey-75" ng-if="!offer.done_in && offer.date_time">
          Expire <span am-time-ago="offer.date_time"></span>
        </div>
      </div>
    </div>
    <empty-place-holder ng-if="!offerList.length"
    heading="No Offer created yet!"
    message="You have not created any offer yet. Once you create that you will see them here."
    >
  </empty-place-holder>

</div>
<button class="button button-full button-energized" ng-if="current_page < total_pages" ng-click="loadMore(current_page+1)">
  View more
</button>
</ion-content>
</ion-view>
