<ion-view title="{{navTitle}}" hide-back-button="false">
  <ion-nav-buttons side="right">
    <button class="button buttons-right button-clear button-icon icon-setting icon-white" ng-click="paymentFilter()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item no-left-padding" ng-if="isSupplier" ng-repeat="transaction in transactions">
        <span class="text-14 roboto-medium energized">{{transaction.offer.title}}</span>
        <div class="row">
          <div class="col col-50">
            <span class="text-12 text-grey roboto-regular">Date</span>
            <div class="text-12 text-dark-grey roboto-medium" >{{transaction.date_time | amDateFormat:'Do MMM YY'}}</div>
          </div>
          <div class="col col-50">
            <span class="text-12 text-grey roboto-regular">Category</span>
            <div class="text-12 text-dark-grey roboto-medium" >{{transaction.category.name}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <span class="text-12 text-grey roboto-regular">Payment Status</span>
            <div class="text-12 text-dark-grey roboto-medium" >{{transaction.payment_status}}</div>
          </div>
          <div class="col col-50">
            <span class="text-12 text-grey roboto-regular">Amount</span>
            <div class="text-12 text-dark-grey roboto-medium" >AED {{transaction.amount}}</div>
          </div>
        </div>
      </div>

      <div class="item no-left-padding" ng-if="!isSupplier" ng-repeat="transaction in transactions">
        <span class="text-14 roboto-medium text-dark-grey">{{transaction.offer.title}}</span>
        <div class="row">
          <div class="col">
            <span class="text-12 text-grey roboto-regular">Date</span>
            <div class="text-12 roboto-medium text-dark-grey" >{{transaction.date_time | amDateFormat:'Do MMM YY'}}</div>
          </div>
          <div class="col">
            <span class="text-12 text-grey roboto-regular">Category</span>
            <div class="text-12 roboto-medium text-dark-grey" >{{transaction.category.name}}</div>
          </div>
          <div class="col col-20"></div>
        </div>
        <div class="row padding-top-30">
          <div class="col">
            <span class="text-12 text-grey roboto-regular">Payment Method</span>
            <div class="text-12 roboto-medium text-dark-grey" >Not Available</div>
          </div>
          <div class="col">
            <span class="text-12 text-grey roboto-regular">Payment Status</span>
            <div class="text-12 roboto-medium text-dark-grey" >{{transaction.payment_status}}</div>
          </div>
          <div class="col col-20"></div>
        </div>
        <div class="row padding-top-30">
          <div class="col">
            <span class="text-12 text-grey roboto-regular">Amount</span>
            <div class="text-12 roboto-medium text-dark-grey" >AED {{transaction.amount}}</div>
          </div>
          <div class="col col-20"></div>
          <div class="col">
            <button class="button button-small button-light button-icon icon-download go-right" ng-click="download(transaction.id)" style="border-color:#e6e6e6">
              <span class="text-11 text-dark-grey">INVOICE&nbsp;</span>
            </button>
          </div>
        </div>
      </div>

    </div>
    <empty-place-holder ng-if="!transactions.length"
    heading="No Payments Found!"
    message="No payment history available"
    >
  </empty-place-holder>

</ion-content>
