<ion-view title="{{navTitle}}">
  <ion-nav-bar class="bar zero-border theme-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-icon button-clear icon-arrow_back icon-white" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear text-12 icon-white roboto-medium" ng-click="cancelData()">CANCEL</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header offer">
    <!-- ng-if="supplier" -->
    <form name="offerForm">
      <div class="list">
        <div class="padding item item-divider zero-border">
          Provide your requirements
        </div>
        <div class="padding custom-input-label" ng-if = "method=='direct' && supplier">
          You have choosen following supplier
        </div>
        <div class="padding custom-select-container no-upper-padding" ng-if = "method=='direct' && supplier">
          <div class="row">
            <div class="col-20 selected-supplier">
              <img ng-if="supplier.image.url" ng-src="{{prefix}}/{{supplier.image.url}}" alt="No Image found" class="round-image">
              <i ng-if="!supplier.image.url" class="icon ion-record text-36" class="go-left"></i>
            </div>
            <div class="col-67 selected-supplier">
              <p>
                <b class="dotted-overflow" style="position:relative;bottom: -12px;">{{supplier.company_name}} {{supplier.first_name}} {{supplier.last_name}}</b>
              </p>
            </div>
            <div class="col-10 selected-supplier" ng-if= "!offer.id">
              <button class=" button button-clear button-energized go-right" ng-click="$ionicGoBack()">
                <i class="icon ion-edit" ></i>
              </button>
            </div>

          </div>
        </div>
      </div>
      <div ng-include = "getPartial()"></div>
      <br>
      <button ng-if= "!offer.id" ng-click="addressModal(offer)" class="button button-full button-energized"  ng-disabled="offerForm.$invalid">
        Continue
      </button>
      <button ng-if= "offer.id" ng-click="addressModal(offer)" class="button button-full orange-button" ng-disabled="offerForm.$invalid">
        Update
      </button>
    </form>
  </ion-content>
</ion-view>
