<ion-view title="{{navTitle}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-outline" ng-click="addOffer()"></button>
    <button class="button button-clear icon icon-search icon-white" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div class="list zero-padding">
      <div class="item icon-center text-60-px zero-border">
        <i class="icon icon-checkmark"></i>
      </div>
      <div class="item icon-center text-20 no-wrap zero-border">
        Your job post is successfully published on service me.
      </div>

      <div class="list card">
        <div class="item item-button-right no-bottom-border">
          <p class="text-16"><b>{{Offer.title}}</b></p>
          <div class="buttons">
            <button class="button button-clear button-energized" ng-click="editOffer()">
              <i class="icon ion-edit" ></i>
            </button>
            <button class="button button-clear button-assertive" ng-click="deleteOffer()">
              <i class="icon ion-trash-a" ></i>
            </button>
          </div>
        </div>

        <div class="item item-body no-top-border">
          <span class="text-12"><b>{{Offer.location}}</b>
            <br>
            <span ng-if="Offer.detail.house_type">{{Offer.detail.house_type}}, {{Offer.detail.bathrooms}} bathroom, {{Offer.detail.bedrooms}} bedrooms</span>
            <span ng-if="Offer.detail.car_type">Vehicle type {{Offer.detail.car_type}}, {{Offer.detail.brand}},quantity: {{Offer.detail.quantity}}</span>

            <span ng-if="Offer.detail.category_slug == 'pest-control'">{{Offer.title}}</span>
            <span class="no-wrap"></span>
          </span>

          <div class="row "  ng-if="Offer.category_slug == 'laundry'">
            <div class="col" ng-if="Offer.laundryIncludings.wash">
              <p class="text-12 no-wrap"><b>Washing:</b>
                {{Offer.laundryIncludings.wash}}
              </p>
            </div>
          </div>
          <div class="row"  ng-if="Offer.category_slug == 'laundry'">
            <div class="col" ng-if="Offer.laundryIncludings.iron">
              <p class="text-12 no-wrap"><b>Ironing:</b>
                {{Offer.laundryIncludings.iron}}
              </p>
            </div>
          </div>
          <div class="row"  ng-if="Offer.category_slug == 'laundry'">
            <div class="col" ng-if="Offer.laundryIncludings.dryclean">
              <p class="text-12 no-wrap"><b>Dry Cleaning</b>
                {{Offer.laundryIncludings.dryclean}}
              </p>
            </div>
          </div>
          <p class="text-12"><b>Additional Requirements :</b>
            <br>
            {{Offer.additional_req}}
          </p>
        </div>
        <div class="item">
          <p class="go-left text-12" ng-if="Offer.bid_type === 'bid'">
            <b>&#164; {{Offer.price}} &nbsp;{{Offer.currency}}</b>
          </p>

          <p class="go-left text-12" ng-if="Offer.bid_type === 'Direct'">
            <b>&#164; Price will be decided by Supplier</b>
          </p>
          <p class="go-right text-12" ng-if="!Offer.date_time">
            Expires in {{Offer.done_in}} days.
          </p>
          <p class="go-right text-12" ng-if="Offer.date_time">
            Expires after {{Offer.date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}.
          </p>

        </div>

      </div>

      <div class="zero-border padding-top-0">

        <button class="button button-clear button-positive go-left text-16" ng-click="go('menu.landing')">
          <b>Home</b>
        </button>
        <button class="go-right text-16 button button-clear button-positive" ng-click="go('menu.myOffer')">
          <b>My Offers</b>
        </button>

      </div>
    </div>

  </ion-content>
</ion-view>
