<ion-view >
  <ion-content>
    <div class="list zero-margin">
      <div class="item item-divider">
        Choose a method
      </div>
    </div>
    <div class="list">
      <div class="padding item no-wrap">
        <a class="button text-left" ng-class="method.bid ? 'button-dark' : 'button-stable'" ng-click="bid()">

              <div class="heading-text">
                Bid
              </div>
              <p class="text-12 normal-whitespace">
                Lorem Ipsum is simply dummy text
                of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standar
              </p>
        </a>
      </div>
      <div class="padding item no-wrap">
        <a class="button text-left" ng-class="method.direct ? 'button-dark' : 'button-stable'" ng-click="direct()">

              <div class="heading-text">
                Direct
              </div>
              <p class="text-12 normal-whitespace">
                Lorem Ipsum is simply dummy text
                of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standar
              </p>
        </a>
      </div>

      </div>

  </ion-content>
</ion-view>
