<ion-view title="{{navTitle}}" >
  <ion-content>
    <service-me-intro type="supplier" ng-if="type=='supplier'"></service-me-intro>
    <service-me-intro type="client" ng-if="type=='client'"></service-me-intro>


</ion-content>
</ion-view>
