<ion-view  class="profile">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-search icon-white" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-include="'templates/partials/search.html'"></div>
    <div class="zero-margin padding-top-0" ng-class="searchOpen.value ? 'opacity-half' : ''">
      <div class="theme-bg" style="position:relative;" >
        <div ng-if="user.profilePic" class="center-avatar-div">
          <img ng-src="{{user.profilePic}}" class="avatar-img">
        </div>

        <div style="padding-top:40px;" ng-if ="!user.profilePic" >
          <div class="center-circle-60">
          </div>
        </div>
        <p class="name" ng-if="user.first_name">{{user.first_name}}&nbsp;{{user.last_name}}</p>
        <p class="name" ng-if="user.company_name">{{user.company_name}}</p>
        <div class="center">
          <span ng-if="user.type =='Client'" class="custum-badge-energized">Level {{level}}</span>
        </div>

        <div class="center">
          <div ng-if="user.type =='Supplier'" class="custum-badge-energized"></div>
        </div>
        <div class="text-center-normal padding-top">
          <p>{{user.mobile}}</p>
          <p class="low-line">{{user.email}}</p>
        </div>
        <button class="button button-clear button-light edit-corner" ui-sref="menu.editProfile">
          <i class="icon icon-edit" ></i>
        </button>
      </div>
      <div class="custom-list" ng-if="user.type == 'Supplier'">


        <div class="row"  ng-click="jobsList()">
          <div class="col col-10">
            <i class="icon icon-list text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Jobs</span>
          </div>
        </div>

        <div class="row"   ng-click="myDocuments()">
          <div class="col col-10">
            <i class="icon icon-card text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">Documents</span>
            <i ng-if="!user.trade_license.url" class="text-25 icon-danger go-right assertive"></i>
          </div>
        </div>


        <div class="row"  ng-click="bankDetails()">
          <div class="col col-10">
            <i class="icon icon-card text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">Bank details</span>
            <i   ng-if="!user.account_name || !user.account_no" class="text-25 icon-danger go-right assertive"></i>
          </div>
        </div>


        <div class="row" ng-click="addresses()">
          <div class="col col-10">
            <i class="icon icon-location text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">Addresses</span>
            <i  ng-if="!(user.address && user.address.area)"  class="text-25 icon-danger go-right assertive"></i>
          </div>
        </div>

        <div class="row" ng-click="logout()">
          <div class="col col-10">
            <i class="icon icon-out_folder text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text">Sign Out</span>
          </div>
        </div>
      </div>
      <div class="custom-list" ng-if="user.type == 'Client'">
        <div class="row"  ng-click="goWithBackOnNext('menu.myOffer')">
          <div class="col col-10">
            <i class="icon icon-list text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Offers</span>
          </div>
        </div>
        <div class="row"  ng-click="goWithBackOnNext('menu.myPayment')">
          <div class="col col-10">
            <i class="icon icon-card text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">Payment Information</span>
          </div>
        </div>

        <div class="row" ng-click="goWithBackOnNext('menu.review')">
          <div class="col col-10">
            <i class="icon icon-message text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Reviews</span>
          </div>
        </div>

        <div class="row" ng-click="findFav()">
          <div class="col col-10">
            <i class="icon icon-heart_fill text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Favourites</span>
          </div>
        </div>


        <div class="row" ng-click="goWithBackOnNext('menu.myAddresses')">
          <div class="col col-10">
            <i class="icon icon-location text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Addresses</span>
          </div>
        </div>

        <div class="row" ng-click="goWithBackOnNext('menu.achievment')">
          <div class="col col-10">
            <i class="icon icon-award text-25"></i>
          </div>
          <div class="col col-90">
            <span class="custom-list-text bottom-border">My Achievements</span>
          </div>
        </div>

        <div class="row" ng-click="logout()">
          <div class="col col-10">
            <i class="icon icon-out_folder text-25"></i>
          </div>
          <div class="col col-80">
            <span class="custom-list-text">Sign Out</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
