<ion-view class="filter-page chat" title="{{navTitle}}">
  <ion-nav-buttons side="right">
    <button class="button button-outline button-dark">
      Proposal
    </button>
  </ion-nav-buttons>
  <div class="customer-sub-header" ng-click="openOfferDetailModal()">
    <div class="item item-icon-right item-stable">
      {{current_offer.title}}
      <div class="item-info" ><span ng-if="current_offer.has_budget">Budget {{current_offer.currency}} {{current_offer.price}} ,</span> Posted <b am-time-ago="current_offer.created_at"></b></div>
      <i class="icon ion-ios-arrow-forward icon-right"></i>
    </div>
  </div>

  <ion-content class="has-custom-chat-header has-custom-chat-footer">
      <div class="list">
        <div ng-include="'templates/partials/proposalHistory.html'"></div>
      </div>
      <div ng-if="(current_proposal.status === 'client_accept' || current_proposal.status === 'client_complete_cancel') && isSupplier">
        <button class="button button-block button-dark submit-review-button" ng-click="startJobSupplier()">Start Job</a>
      </div>

      <div ng-if="(current_proposal.status === 'supplier_started') && isSupplier">
        <button class="button button-block button-dark submit-review-button" ng-click="markDoneSupplier()">Mark Done</a>
      </div>

      <div ng-if="current_proposal.status === 'client_complete_approve' && isSupplier">
        <button class="button button-block button-dark submit-review-button" ng-click="reviewSupplierWindow()">Submit your review</a>
      </div>

  </ion-content>
  <div class="custom-footer" ng-show="!current_proposal.msg_credit <= 0 || !isSupplier || current_proposal.status!='supplier_feedback'">
    <div ng-if="current_proposal.msg_credit > 0 || !isSupplier">
      <textarea ng-model="message.content" placeholder="write your text here"></textarea>
      <button class="button button-icon button-large ion-ios-navigate dark" ng-click="sendMessage()"></button>
    </div>
  </div>
</ion-view>
