<ion-view title="{{navTitle}}" class="protected" hide-nav-bar="true">
  <ion-content>
    <a class="item card item-text-wrap" ng-click="presentScreen('client')">
      <img src="img/icons/client.png"/>
      <div class="heading-text normal-whitespace">
        I am a buyer
      </div>
      <p class="padding">
        Lorem Ipsum is simply dummy text
        of the printing and typesetting
        industry. Lorem Ipsum has been the
        industry's standar
        Lorem Ipsum is simply dummy text
        of the printing and typesetting
        industry. Lorem Ipsum has been the
        industry's standar
      </p>
    </a>
    <a class="item card item-text-wrap" ng-click="presentScreen('supplier')">
      <img src="img/icons/supplier.png"/>
      <div class="heading-text normal-whitespace">
        I am a seller
      </div>
      <p class="padding">
        Lorem Ipsum is simply dummy text
        of the printing and typesetting
        industry. Lorem Ipsum has been the
        industry's standar
        Lorem Ipsum is simply dummy text
        of the printing and typesetting
        industry. Lorem Ipsum has been the
        industry's standar
      </p>
    </a>
  </ion-content>
</ion-view>
