<ion-view title="Reset Password">
  <ion-content has-header="true" padding="true">
    <div class="list lis-padding main">
      <form name="resetPassword" novalidate ng-submit="reset(code,new_password)">
        <div>
          <label class="item item-input bottom-border item-floating-label">
            <span class="input-label">Code</span>
            <input type="number" min="1000" max="9999" ng-model="code" name="code" placeholder="Verification Code"  required="" />
          </label>
          <div ng-messages="resetPassword.code.$error" class="assertive" >
            <div ng-message="min">At least 4 characters.</div>
            <div ng-message="max">At most 4 characters.</div>
          </div>
        </div>
        <div>
          <label class="item bottom-border item-input item-floating-label item-icon-right">
          <span class="input-label">New Password</span>
          <i ng-class="password_input.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHidepassword()"></i>

          <input type="{{password_input.type}}" ng-model = "new_password" name="password" placeholder="Password" required=""
          ng-minlength="6" ng-maxlength="15"
          pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$" >
        </label>
        <div ng-messages="resetPassword.password.$error" class="assertive" >
          <div ng-message="required">Password is required.</div>
          <div ng-message="minlength">At least 6 characters.</div>
          <div ng-message="maxlength">At most 15 characters.</div>
          <div ng-message="pattern"> Must contain letter and number.</div>
        </div>
      </div>
      <div>
        <label class="item bottom-border item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model = "password_confirmation" id="password_confirmation" name="password_confirmation"
          compare-to="new_password" placeholder="Confirm Password" />
        </label>

        <div ng-messages="resetPassword.password_confirmation.$error" class="assertive">
          <div ng-message="required">Please confirm your password.</div>
          <div ng-message="compareTo">Password does not match</div>
        </div>
      </div>

      <input style="margin-top: 20px;" type="submit" value="Reset Password" class="button button-block button-dark" ng-disabled="resetPassword.$invalid">
    </form>
    <div class="clear-button-wrapper">
      <button class="button button-clear button-energized" ui-sref="login">
        Login?
      </button>
    </div>
  </div>
</ion-content>
</ion-view>
