<ion-view title="My Reviews">
  <ion-content has-header="true" padding="true">
    <div class="list">
      <div class="card item padding" ng-repeat="review in myReviews">
        <p class="text-10 text-grey">{{review.updated_at | amDateFormat:"DD MMM'YY"}} for {{review.category_name}}</p>
        <p class="text-14 heading-color">{{review.offer_name}}</p>
        <div class="row">
          <div>
            <span class="go-left small-label text-grey">Your Rating </span>
            <span class="balanced-badge-box text-12 margin-left-10"> {{review.rating |number:1}} </span>
          </div>
          <div class="margin-left-20">
            <span class="go-left small-label text-grey">To</span>
            <span class="go-left margin-left-10" >
              <img ng-if="review.supplier_details.image.thumb" ng-src="{{prefix}}/{{review.supplier_details.image.thumb}}" alt="No Image found" class="round-image-25">
              <div ng-if="!review.supplier_details.image.thumb" class="margin-top-negative-2">
              <i  class="icon ion-record text-25"></i>
            </div>
            </span>
            <span class="text-left  small-label margin-left-10 energized" >{{review.supplier_details.name}}</span>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <b class="small-label no-wrap text-left">{{review.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- badge badge-dark go-left" style="position:relative;right:0px;top:0px; max-width:30px -->
