<ion-view title="{{navTitle}}">
  <ion-content>
    <div class="list zero-margin">
      <div class="item item-divider">
        Pick a service as your need
      </div>
    </div>
    <div class="list">
      <div ng-repeat="subcategory in subcategories">
        <ion-item class="item  item-icon-right accordion-header-60"
        ng-click = "showDescription(subcategory.slug); createOffer(subcategory)">
        <div>
          <img height="38" width="38"  style="vertical-align:middle" ng-src="img/icons/{{subcategory.slug}}.svg">
           {{subcategory.name}}
         </div>
          <i class="icon" ng-click="showHide($event,subcategory.slug)"
          ng-class="options[subcategory.slug] ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <div class="item" ng-show="options[subcategory.slug]">
          <p class="text-12 no-wrap">
            {{subcategory.description}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
