<ion-view title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-info icon-white"  ng-click="showHint()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="row background-d"  ng-if="!hideHint">
      <div class="col">
        <i class="icon ion-information-circled text-20 text-dark-grey"></i>
      </div>
      <div class="col col-90">
        <span class="roboto-medium text-12 text-dark-grey">
          In order to come in list of direct services, your exact location and
          serving area is required.
        </span>
      </div>
      <div class="col zero-padding" style="margin:-2px 0px 0px -8px;">
        <i class="icon icon-close text-16" ng-click="cancelHint()"></i>
      </div>
    </div>
    <form name="addressForm" novalidate>
      <div class="list padding">
        <div class="item item-input bottom-border" >
          <input type="text" ng-model = "user.address.street_address" placeholder="Street Address" required="" />
        </div>
        <div class="item item-input bottom-border upper-margin" >
          <input type="text" ng-model="user.address.landmark" placeholder="Landmark (Optional)" />
        </div>
        <div class="row double-input" style="margin-top:5px;">
          <div class="col-50">
            <div class="item item-input item-select padding custom-select-container bottom-border">
              <select class="custom-select" ng-model="user.address.country" required="">
                <option value="" selected="" disabled="">Country</option>
                <option
                ng-repeat="(countryCode, countryName) in countries"
                value="{{countryCode}}">
                {{countryName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-50 second-child">
          <div class="item item-input item-select padding custom-select-container bottom-border">
            <select class="custom-select" ng-model="user.address.city" required="">
              <option value="" selected="" disabled="">City</option>
              <option
              ng-repeat="(cityCode,cityName) in cities[user.address.country]"
              value="{{cityCode}}">
              {{cityName}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="item item-input item-select upper-margin custom-select-container bottom-border">
      <select class="custom-select" ng-model="user.address.area" required="">
        <option value="" selected="" disabled="">Your Service area</option>
        <option
        ng-repeat="(areaCode,areaName) in areas[user.address.city]"
        value="{{areaCode}}">
        {{areaName}}
      </option>
    </select>
  </div>

  <button class="button button-full button-energized" ng-click="submitDetail()" ng-disabled="addressForm.$invalid">
    Save
  </button>
</div>
</form>

<div class="list zero-border">
  <div class="item bottom-border text-center-normal">
    <p class="text-12 roboto-regular text-dark-grey">Choose all locations, where you provide services at</p>
  </div>
  <label class="bar item item-input bottom-border upper-margin">
    <input type="text" placeholder="Search your service areas" ng-model="search_string">
    <i class="icon icon-search placeholder-icon"></i>
  </label>

  <div class="item item-checkbox-right zero-border zero-padding upper-margin" ng-repeat="(areaCode, areaName) in areas[user.address.city] | customSearch:search_string">
    <ion-checkbox class="zero-border checkbox-energized"
    ng-checked="serviceAreas.indexOf(areaCode) > -1"
    ng-click="toggleSelection(areaCode)"
    >
    <span class="no-wrap text-12"><b>{{areaName}}</b></span>
  </ion-checkbox>
</div>
</div>
</ion-content>
</ion-view>
