<ion-view title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-info icon-white"></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="row background-d"  ng-if="!hideHint">
      <div class="col">
        <i class="icon ion-information-circled text-20 text-dark-grey"></i>
      </div>
      <div class="col col-90">
        <span class="roboto-medium text-12 text-dark-grey">
          We cann't send you money without your bank details,
          So please add your bank details :)
        </span>
      </div>
      <div class="col zero-padding" style="margin:-2px 0px 0px -8px;">
        <i class="icon icon-close text-16" ng-click="cancelHint()"></i>
      </div>
    </div>
    <form name="bankDetailForm">
      <div class="list padding upper-margin">
        <label class="item bottom-border item-input item-floating-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Full Name" name = "full_name"   autocapitalize = "words" ng-minlength="3" ng-maxlength="15" ng-model="user.account_name" required="">
        </label>
        <div ng-messages="bankDetailForm.full_name.$error" class="assertive" >
          <div ng-message="minlength">At least 3 characters.</div>
          <div ng-message="maxlength">At most 15 characters.</div>
          <div ng-message="required">Name is required.</div>
        </div>
        <label class="item bottom-border  item-input item-floating-label">
          <span class="input-label">IBAN/Account No</span>
          <input type="text" ng-model="user.account_no" name="account_no" minlength="16" maxlength="24" placeholder="Account No" required="" />
        </label>

        <div ng-messages="bankDetailForm.account_no.$error" class="assertive" >
          <div ng-message="minlength">At least 16 characters.</div>
          <div ng-message="maxlength">At most 24 characters.</div>
          <div ng-message="required">Account is required.</div>
        </div>

        <label class="item bottom-border item-input item-floating-label">
          <span class="input-label">Bank Name</span>
          <input type="text" ng-model = "user.bank_name" name="bank_name" maxlength="35" placeholder="Bank Name" required="">
        </label>

        <div ng-messages="bankDetailForm.bank_name.$error" class="assertive" >
          <div ng-message="maxlength">At-most 35 characters.</div>
          <div ng-message="required">Bank name is required.</div>
        </div>

        <label class="item bottom-border item-input item-floating-label">
          <span class="input-label">Swift Code</span>
          <input type="text" ng-model = "user.swift_code" name="swift_code" minlength="8" maxlength="11" placeholder="Swift Code" required="">
        </label>

        <div ng-messages="bankDetailForm.swift_code.$error" class="assertive" >
          <div ng-message="minlength">At least 8 characters.</div>
          <div ng-message="maxlength">At most 11 characters.</div>
          <div ng-message="required">Swift code required is required.</div>
        </div>

      </div>
    </div>
    <div class="padding zero-border">
      <input type="submit" class="button button-block button-energized padding" style="line-height:28px" ng-click="submitDetail()" value="Save" ng-disabled="bankDetailForm.$invalid">
    </div>
  </form>
</ion-content>
</ion-view>
