<ion-view class="supplier-profile" title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="markFavourite()">
      <i class="icon icon-white" ng-class="supplier.is_favourite ? 'ion-android-favorite' : 'ion-android-favorite-outline'" ></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background-grey">
      <div class="list zero-margin padding-top-0" >
        <div class="item black-background">
          <div ng-if="supplier.image.url" class="center-avatar-div">
            <img ng-src="{{prefix}}/{{supplier.image.url}}" class="avatar-img">
            <i ng-if="supplier.status == 'online'" class="status_circle_image icon ion-ios-circle-filled text-20" style="color:green !important;"></i>
            <i ng-if="supplier.status == 'busy'" class="status_circle_image icon ion-ios-circle-filled text-20" style="color:red !important;"></i>
            <i ng-if="supplier.status == 'offline'" class="status_circle_image icon ion-ios-circle-filled text-20"></i>
          </div>
          <div ng-if ="!supplier.image.url" >
            <div class="center-circle">
              <div class="center-div-40">
                <i ng-if="supplier.status == 'online'" class="status_circle icon ion-ios-circle-filled text-20" style="color:green !important;"></i>
                <i ng-if="supplier.status == 'busy'" class="status_circle icon ion-ios-circle-filled text-20" style="color:red !important;"></i>
                <i ng-if="supplier.status == 'offline'" class="status_circle icon ion-ios-circle-filled text-20"></i>
              </div>
            </div>
          </div>
          <p class="text-18 s_name" >{{supplier.company_name}}{{supplier.first_name}}&nbsp;{{supplier.last_name}}</p>
          <div class="row padding-top-0">
            <div class="col padding-top-0">
              <p  class="text-center-normal text-11"> Member since {{supplier.created_at | amDateFormat:'MMM DD,YYYY'}} &nbsp;&nbsp; <b>Rating</b> <span class="balanced-badge-box">{{supplier.rating | number:1}}</span></p>
            </div>
          </div>
          <div class="row text-center-normal">
            <div class="col white-border">
              <b class="text-16">{{supplier.satisfaction | number:1}} %</b>
              <p class=" text-11 p-col" ng-if="supplier.satisfaction > 50">Happy Customer</p>
              <p class=" text-11 p-col" ng-if="supplier.satisfaction == 0">No review</p>
              <p class=" text-11 p-col" ng-if="supplier.satisfaction > 0 && supplier.satisfaction < 50">Satisfactory Customer</p>

            </div>
            <div class="col white-border">
              <b class="text-16"> {{supplier.my_jobs.completed}} </b>
              <p class=" text-11 p-col">Jobs Completed</p>
            </div>
            <div class="col white-border" ng-if="supplier.active">
              <i class="ion ion-android-checkmark-circle"></i>
              <p class=" text-11 p-col">Verified</p>
            </div>

          </div>

        </div>
      </div>

      <div class="list card" >
        <div class="item">
          <p class="text-14 heading-color">About Us</p>
          <p class="small-label text-grey">Serving Areas</b>
            <p class="small-label text-dark-grey no-wrap" ng-if="areaString">{{areaString}}</p>
            <p class="small-label text-dark-grey" ng-if="!areaString">Not defined</p>
            <br>
            <b class="small-label text-grey">Services</b>
            <p class="small-label text-dark-grey no-wrap" ng-if="serviceString">
              {{serviceString}}</p>
              <p ng-if="!serviceString">No service available</p>
            </div>
          </div>
          <div class="list card" >
            <div class="item item-button-right" ng-if="myReviews">
              <p class="text-14 heading-color">Customer Reviews ({{myReviews.length}})</p>
              <button class="button button-clear text-12" ng-click="openReview()">View</button>
            </div>

            <div class="item item-button-right" ng-if="!myReviews">
              <p class="text-14 heading-color">No Customer Reviews</p>
            </div>
          </div>

          <div class="list "  ng-if = "supplier.images">
            <div class="item">
              <p class="text-14 heading-color">Gallery ({{supplier.images.length}})</p>
              <ion-scroll direction="x" zooming="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll">
                <ul>
                  <li class="gallery-inline" ng-repeat="image in supplier.images"> <div ng-click="view_full_image(prefix + '/' +image.file.url,'image')"><img class="gallery-image" ng-src="{{prefix}}/{{image.file.thumb.url}}" /></div></li>
                </ul>
              </ion-scroll>
            </div>
          </div>
      </ion-content>
      <ion-footer-bar class="bar-energized">
        <div class="button-bar footer-bar">
          <button class="button" ng-click="askService()">Ask Service</button>
        </div>
      </ion-footer-bar>
    </ion-view>
