<ion-view title="{{navTitle}}" >
  <ion-nav-buttons side="right">
    <button class="button button-clear icon icon-checkmark icon-white" ng-click='goProfile()'></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="row background-d"  ng-if="!hideHint">
      <div class="col">
        <i class="icon ion-information-circled text-20 text-dark-grey"></i>
      </div>
      <div class="col col-90">
        <span class="roboto-medium text-12 text-dark-grey">
          Trade lisence copy must be the renewed copy with proper validity.
        </span>
      </div>
      <div class="col zero-padding" style="margin:-2px 0px 0px -8px;">
        <i class="icon icon-close text-16" ng-click="cancelHint()"></i>
      </div>
    </div>
    <div class="list">
      <div class="padding">
        <a class="button button-small button-light text-12 text-dark-grey roboto-medium border-grey" style="line-height: 35px;min-width: 100px;" ng-click="popover.show($event)">UPLOAD</a>
        <i class="icon icon-help_circled  text-grey text-24 padding" style="line-height:40px"></i>
    </div>
    <div class="item zero-border" ng-if="!user.trade_license.url || isFilePDF()">


      <div class="center-box" >
        <button class="button button-clear" ng-if="isFilePDF()" ng-click="view_pdf(prefix+user.trade_license.url,'pdf');  $event.stopPropagation();">
          {{fileName}}
        </button>
        <button ng-if="user.trade_license.url" class="button button-clear icon ion-close-circled" ng-click="removeTradeLicense(); $event.stopPropagation();"></button>
      </div>
    </div>
    <div class="item zero-border" ng-if="user.trade_license.url && !isFilePDF()">
      <div class="center-box">
        <img ng-if="user.trade_license && user.trade_license.url" class="center-box" ng-src="{{prefix}}{{user.trade_license.url}}">
        <button class="button button-clear icon ion-close-circled remove-button" ng-click="removeTradeLicense(); $event.stopPropagation();"></button>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
