<ion-pane>
  <ion-view view-title="{{navTitle}}">
    <form name="signUpDetailForm">
    <ion-content has-header="true" has-footer="true" padding="true">
      <div class="list padding-top-20">
        <div class="item zero-border">
          <p class="normal-whitespace text-20">
            I AM A
          </p>
        </div>
        <div class="row">
          <div class="col-75">
            <div class="button-bar button-bar-with-border">
              <a class="button button-small" ng-click="user.is_company = true" ng-class="user.is_company ? 'button-dark' : 'button-stable'">
                <span> <i ng-if="user.is_company" class="icon-checkmark energized"></i> </span>Company
              </a>
              <a class="button button-small " ng-click="user.is_company = false" ng-class="user.is_company ? 'button-stable' : 'button-dark'">
                <span> <i ng-if="!user.is_company" class="icon-checkmark energized"></i> </span>Individual
              </a>
            </div>
          </div>
          </div>

          <div class="list padding-left-right">
            <div class="row" ng-if="user.is_company">
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Company Name</span>
                  <input type="text" placeholder="Company Name" name = "first_name"   autocapitalize = "words" ng-minlength="3" ng-maxlength="15" ng-model="user.company_name" required="">
                </label>
              </div>
            </div>
            <div class="row" ng-if="!user.is_company">
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">First Name</span>
                  <input type="text" placeholder="First Name" name = "first_name"   autocapitalize = "words" ng-minlength="3" ng-maxlength="15" ng-model="user.first_name" required="">
                </label>
              </div>
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Last Name</span>
                  <input type="text" placeholder="Last Name" ng-name="last_name" autocapitalize = "words" ng-model="user.last_name">
                </label>
              </div>
            </div>
            <div class="item bottom-border">
              <intlpn class="zero-border" ng-model="user.mobile" required="" name="mobile" placeholder="Contact number" default-country="ae" only-country="['ae','sa','om','qe','bh','kw']" national-mode="true" box-header-class="bar-dark" box-header-title="Search country" search-placeholder="search" country-iso-code="model.isocode" country-dial-code="model.dialcode"></intlpn>
            </div>
            <ng-messages for="signUpDetailForm.mobile.$error" class="assertive" ng-show="signUpDetailForm.email.$touched" >
              <div ng-message="required">Mobile Required</div>
              <div ng-message="validForm">Not a valid Number</div>
            </ng-messages>

            <div>
              <label class="item bottom-border  item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email" name="email" placeholder="Email"    autocapitalize = "off"  required="" />
              </label>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label item-icon-right">
                <span class="input-label">Password</span>
                <i ng-class="password.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHidepassword()"></i>

                <input type="{{password.type}}" ng-model = "user.password" name="password" placeholder="Password" required=""
                ng-minlength="6" ng-maxlength="15"
                pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$" >
              </label>
              <div ng-messages="signUpDetailForm.password.$error" class="assertive" ng-show="signUpDetailForm.password.$touched" >
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">At least 6 characters.</div>
                <div ng-message="maxlength">At most 15 characters.</div>
                <div ng-message="pattern"> Must contain letter and number.</div>
              </div>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model = "user.password_confirmation" id="password_confirmation" name="password_confirmation"
                compare-to="user.password" placeholder="Confirm Password" />
              </label>

              <div ng-messages="signUpDetailForm.password_confirmation.$error" class="assertive" ng-show="signUpDetailForm.password_confirmation.$touched">
                <div ng-message="required">Please confirm your password.</div>
                <div ng-message="compareTo">Password does not match</div>
              </div>
            </div>
            <div class="padding-top-5">
              <ion-checkbox class="zero-border checkbox-energized" ng-model="data.tos"><p class="normal-whitespace text-16">By clicking "Continue" I accept ServiceMe terms and conditions</p></ion-checkbox>
            </div>
            <div class="item item-icon-left assertive-bg" ng-show="data.pwError">
              <i class="icon ion-android-alert"></i>
              <span>Password doesn't match</span>
            </div>
          </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized">
      <div class="button-bar footer-bar">
        <a class="button" ng-click="createSupplier()" ng-disabled="signUpDetailForm.$invalid || !data.tos || data.pwError">
          Continue
        </a>
      </div>
    </ion-footer-bar>
  </form>
  </ion-view>
</ion-pane>
