<ion-view class="filter-page" hide-nav-bar="true">

  <ion-header-bar class="item-input-inset theme-bg">
    <button class="button back-button buttons button-icon button-clear icon-arrow_back icon-white header-item" ng-click="$ionicGoBack()"><span class="back-text"></span></button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="search_string" placeholder="Search by keywords">
    </label>
    <!-- <button class="button buttons-right button-clear button-icon icon-setting" ng-click="openFilter()"></button> -->
  </ion-header-bar>
  <div class="bar-stable bar-subheader">

  </div>
  <ion-content class="has-header">
    <ion-refresher
    pulling-text="Refreshing suppliers"
    on-refresh="doRefresh()">
  </ion-refresher>

  <div class="list">
    <div class="item item-thumbnail-left item-button-right animate-repeat" collection-repeat="supplier in supplierList | filter:search_string">
      <img ng-if="supplier.image.url" ng-src="{{prefix}}/{{supplier.image.url}}">
      <img ng-if="!supplier.image.url" ng-src="img/no_image.svg">
      <div class="row">
        <div class="col col-75">
          <h2 class="go-left no-wrap">{{supplier.first_name}} {{supplier.last_name}}
            {{supplier.company_name}}
            {{supplier.name}}
          </h2>
          <i ng-if="supplier.status == 'online'" class="icon ion-ios-circle-filled text-12" style="color:green !important;"></i>
          <i ng-if="supplier.status=='busy'" class="icon ion-minus-circled text-12"   style="color:red !important;"></i>
          <i ng-if="!supplier.status || supplier.status == 'offline'" class="icon ion-ios-circle-outline text-12"></i>
        </div>

      </div>

      <p>
        {{supplier.address.area}}
        {{supplier.address.city}}
      </p>

      <!-- <p ng-if="!supplier.address.area && !supplier.address.city">
      Address not available.
    </p> -->
    <p class="small-label"> 3 km </p>
    <div class="buttons">
      <button class="button button-clear" ng-click="markFavourite($index)">
        <i class="icon" ng-class="supplier.is_favourite ? 'ion-android-favorite' : 'ion-android-favorite-outline'" ></i>
      </button>
      <button ng-if = "direct" class="button button-clear" ng-click="createOffer($index)">
        <i class="icon ion-arrow-right-c" ></i>
      </button>
      <button ng-if = "normal" class="button button-outline button-small" ng-click="askService($index)">
        Ask
      </button>

      <button ng-if = "invite && !invited[supplier.id]" class="button button-outline button-small" ng-click="inviteSupplier($index)">
        Invite
      </button>

      <button ng-if = "invite && invited[supplier.id]" class="button button-clear">
        <i class="icon ion-android-checkmark-circle" ></i>
      </button>
    </div>

  </div>

</div>
<button class="button button-full button-energized" ng-if="current_page < total_pages" ng-click="loadMore(current_page+1)">
  View more
</button>

</ion-content>
</ion-view>
