/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #f39c12 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$balanced:                        #72960c !default;
$energized:                       #f39c12 !default;

$roboto-font-path: "../lib/ionic/fonts/roboto" !default;

@font-face {
  font-family: "roboto-regular";
  src: url("#{$roboto-font-path}/roboto-regular.ttf") format("truetype"),
}

@font-face {
  font-family: "roboto-bold";
  src: url("#{$roboto-font-path}/roboto-bold.ttf") format("truetype"),
}

@font-face {
  font-family: "roboto-light";
  src: url("#{$roboto-font-path}/roboto-light.ttf") format("truetype"),
}

@font-face {
  font-family: "roboto-medium";
  src: url("#{$roboto-font-path}/roboto-medium.ttf") format("truetype"),
}


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
