<ion-slides  class = "padding-bottom-20" options="options" slider="data.slider">
  <ion-slide-page>
    <div class="padding">
      <div class="row">
        <div class="col">
          <img src="img/icons/home.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/office.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/plumbing.svg" class="icon-85">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/icons/rental-services.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/fixing.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/house-cleaning.svg" class="icon-85">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/icons/pest-control.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/ac.svg" class="icon-85">
        </div>
        <div class="col">
          <img src="img/icons/laundry.svg" class="icon-85">
        </div>
      </div>
      <div class="row padding-top-30 text-center">
        <div class="col">
          <div class="padding heading-text normal-whitespace">
            Grow with us
          </div>
          <p class="padding normal-whitespace text-20">
            Earn money with your skills and services
          </p>
        </div>
      </div>
    </div>
  </ion-slide-page>
</ion-slides>
<ion-footer-bar>
  <div class="button-bar footer-bar">
    <a class="button orange-button"  ui-sref="login({type:'supplier'})">Get Started!</a>
  </div>
</ion-footer-bar>
