<ion-view class="achivements">
  <div class="modal">
    <ion-header-bar class="theme-bg" align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <p class="title text-16 white-icon  roboto-medium">Achievements Help</p>
    </ion-header-bar>
    <ion-content class="bg" >
      <div class="list">
        <div class="item zero-border">
          <p class="text-16 text-dark-grey roboto-medium" >How it works?</p>
          <p class="text-12 no-wrap text-dark-grey roboto-regular">
            It works simple. You start owing badges on every successful step of qualifying,
            simply like you are entitled with newbie at the time of successful first time registration,
            similarily you User badge for first successful service usage.
            <br>
            <br>
            Feedbacker works out with first feedback you post for service you take(not valid on Ratings).
            Frequent user is one who opts for services frequently with whole range of services we offer.
            <br>
            <br>
            Loyal, a very crucial badge is owed by customers who choose same service provider for their services always, works with loyality towards services.
          </p>
        </div>
        <div class="item zero-border margin-top-15">
          <p class="text-16 text-dark-grey roboto-medium" >All badges</p>
          <div class="row">
            <div class="col text-center rcorner_border">
              <p>
                <img height="36" width="36"  style="vertical-align:middle" ng-src="img/user_level_1.svg">
              </p>
              <p class="text-16 text-dark-grey roboto-medium">Newbie</p>
              <p class="small-label no-wrap">Get one at the time of Registration</p>
            </div>
            <div class="col col-offset-10 text-center rcorner_border achievment_badge">
              <p>
                <img height="36" width="36"  style="vertical-align:middle" ng-src="img/user_level_2.svg">
              </p>
              <p class="text-16 text-dark-grey roboto-medium">User</p>
              <p class="small-label no-wrap">Get one at the time of First service usage</p>
            </div>

          </div>
          <div class="row">
            <div class="col text-center rcorner_border">
              <p>
                <img height="36" width="36"  style="vertical-align:middle" ng-src="img/user_level_3.svg">
              </p>
              <p class="text-16 text-dark-grey roboto-medium">Feedbacker</p>
              <p class="small-label no-wrap">Get one to give one succesful feedback of service</p>
            </div>
            <div class="col col-offset-10 text-center rcorner_border achievment_badge">
              <p>
                <img height="36" width="36"  style="vertical-align:middle" ng-src="img/user_level_4.svg">
              </p>
              <p class="text-16 text-dark-grey roboto-medium">Frequent User</p>
              <p class="small-label no-wrap">Get one on frequent usage of services</p>
            </div>
          </div>
          <div class="row ">
            <div class="col text-center rcorner_border">
              <p>
                <img height="36" width="36"  style="horizontal-align:middle" ng-src="img/user_level_2.svg">
              </p>
              <p class="text-16 text-dark-grey roboto-medium">Loyal</p>
              <p class="small-label no-wrap">Get one of being loyal to the services you take from same service provider</p>
            </div>
            <div class="col col-offset-10 text-center achievment_badge">

            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
