<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center" class="theme-bg">
      <div class="buttons">
        <button class="button button-icon icon ion-close-round white-icon" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title white-icon">Add A New Address</h1>
      <div class="buttons buttons-right">
        <button class="button  button-icon icon ion-android-locate white-icon" ng-click="myLocation()"></button>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" have_subheader="true" padding="true">

      <div ng-include="'templates/partials/addressForm.html'"></div>

    </ion-content>
  </div>
</ion-view>
