<ion-view title="{{navTitle}}">
  <div class="modal">
    <ion-header-bar align-title="center" class="theme-bg white-icon">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <span class="title text-16 roboto-medium icon-white" > Catogories</span>
    </ion-header-bar>

    <div class="bar bar-subheader">
      <label class="bar item item-input bottom-border">
        <i class="icon icon-search placeholder-icon"></i>
        <input type="text" placeholder="Search your service categories" ng-model="search_string">
      </label>
    </div>

    <ion-content has-header="true" style="margin-top:50px;" has-subheader="true" has-footer="true" padding="true">
      <div ng-include="'templates/partials/categories.html'"></div>
    </ion-content>
    <ion-footer-bar class="bar-energized">
      <div class="button-bar footer-bar">
        <a class="button" ng-click="upDateServices()">Apply</a>
      </div>
    </ion-footer-bar>
  </div>
</ion-view>
