<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">Change password</h1>
    </ion-header-bar>
    <ion-content has-header="true" have_subheader="true" padding="true">
      <form name="passwordForm" novalidate ng-submit="changePassword()">
        <div class="list list-inset">
          <div>
            <label class="item bottom-border item-input item-floating-label item-icon-right">
              <span class="input-label">Current Password</span>
              <i ng-class="c_password.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHideCurrentPassword()"></i>

              <input type="{{c_password.type}}" ng-model="credentials.current_password" placeholder="Current Password">
            </label>
          </div>
          <div>
            <label class="item bottom-border item-input item-floating-label item-icon-right">
              <span class="input-label">New Password</span>
              <i ng-class="password.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHidepassword()"></i>

              <input type="{{password.type}}" ng-model = "credentials.password" name="password" placeholder="New Password"  ng-required
              ng-minlength="6" ng-maxlength="15"
              pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$" >
            </label>
            <div ng-messages="passwordForm.password.$error" class="assertive" >
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">At least 6 characters.</div>
              <div ng-message="maxlength">At most 15 characters.</div>
              <div ng-message="pattern"> Must contain letter and number.</div>
            </div>
          </div>
          <div>
            <label class="item bottom-border item-input item-floating-label">
              <span class="input-label">Confirm Password</span>
              <input type="password" ng-model = "password_confirmation" id="password_confirmation" name="password_confirmation"
              compare-to="credentials.password" placeholder="Confirm Password"/>
            </label>

            <div ng-messages="passwordForm.password_confirmation.$error" class="assertive">
              <div ng-message="required">Please confirm your password.</div>
              <div ng-message="compareTo">Password does not match</div>
            </div>
          </div>
        </div>
        <input type="submit" value="Submit" class="button button-block button-energized" ng-disabled="passwordForm.$invalid" >

      </form>

        </ion-content>

  </ion-view>
