
<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center" class="bar theme-bg">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title light">Service Construction Help</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="no-wrap background-d padding">
        <div class="row padding">
          <span class="text-12 text-dark-grey ">Here is an example for an existing service we have in our system.Please provide your service</span>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 360 434.58"><defs><style>.cls-1,.cls-7{fill:none;stroke-miterlimit:10;}.cls-1{stroke:#ccc;}.cls-2,.cls-5,.cls-6{font-size:14px;}.cls-2{fill:#ccc;}.cls-10,.cls-2,.cls-4,.cls-5,.cls-6{font-family:Roboto;}.cls-3,.cls-4,.cls-6{fill:#999;}.cls-10,.cls-4{font-size:12px;}.cls-5{fill:#565552;}.cls-7{stroke:#c1c1c1;}.cls-10,.cls-8{fill:#f39c12;}.cls-9{fill:#fff;}</style></defs><title>Graphics</title><line class="cls-1" x1="345.31" y1="38.22" x2="16.31" y2="38.22"/><text class="cls-2" transform="translate(16.31 27.3)">House<tspan x="40.43" y="0"> </tspan><tspan x="43.51" y="0">T</tspan><tspan x="51.45" y="0">ype</tspan></text><path class="cls-3" d="M340.31,25.92l4.39-4.7,0.61,0.65-5,5.35-5-5.35,0.6-.65Z"/><line class="cls-1" x1="345.31" y1="140.3" x2="16.31" y2="140.3"/><text class="cls-2" transform="translate(16.31 129.38)">Bath<tspan x="28.83" y="0">r</tspan><tspan x="33.51" y="0">ooms</tspan></text><path class="cls-3" d="M340.31,128l4.39-4.7,0.61,0.65-5,5.35-5-5.35,0.6-.65Z"/><line class="cls-1" x1="343.31" y1="194.32" x2="16.31" y2="194.32"/><text class="cls-2" transform="translate(16.31 183.4)">Bed<tspan x="24.25" y="0">r</tspan><tspan x="28.92" y="0">ooms</tspan></text><path class="cls-3" d="M338.31,182l4.39-4.7,0.61,0.65-5,5.35-5-5.35,0.6-.65Z"/><line class="cls-1" x1="343.31" y1="89.09" x2="16.31" y2="89.09"/><text class="cls-2" transform="translate(16.31 78.18)">Si<tspan x="12.02" y="0">z</tspan><tspan x="18.96" y="0">e (squa</tspan><tspan x="65.37" y="0">r</tspan><tspan x="70.16" y="0">e </tspan><tspan x="81.16" y="0">f</tspan><tspan x="85.96" y="0">eet)</tspan></text><path class="cls-3" d="M338.31,76.8l4.39-4.7,0.61,0.65-5,5.35-5-5.35,0.6-.65Z"/><text class="cls-4" transform="translate(16.31 233.36)">Cleaning Includes</text><text class="cls-5" transform="translate(41.64 263.71)">Dusting, mopping and vacuuming all rooms</text><text class="cls-6" transform="translate(41.64 303.71)">Kitchen counters, floor and stove cleaning</text><rect class="cls-7" x="16.31" y="291.48" width="15" height="15" rx="3" ry="3"/><rect class="cls-8" x="16.31" y="251.48" width="15" height="15" rx="3" ry="3"/><path class="cls-9" d="M18.81,259.43A3.46,3.46,0,0,0,19.2,259l1.11-1.15c0-.05.07-0.05,0.13,0l2.08,2s0.06,0,.09,0l4.73-4.74c0.06-.06.09-0.06,0.15,0l1.28,1.28s0.05,0.07,0,.12l-1.33,1.29-3.54,3.46-1.58,1.55c-0.06.06-.09,0.05-0.14,0l-3.35-3.36,0,0v0Z"/><text class="cls-4" transform="translate(15 346.54)">Needs <tspan x="37.35" y="0">t</tspan><tspan x="41.17" y="0">o be done in</tspan></text><text class="cls-10" transform="translate(18.81 419.58)">I have a Specific Date and Time</text><line class="cls-1" x1="345" y1="388.12" x2="19" y2="388.12"/><text class="cls-5" transform="translate(19 377.2)">3 days</text><path class="cls-3" d="M340,375.82l4.39-4.7,0.61,0.65-5,5.35-5-5.35,0.6-.65Z"/></svg>
      <!-- <div >
        <img src="../img/sct_help.svg">
      </div> -->
    </ion-content>
  </ion-view>
