<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title" style="color: white">Enter time and date</h1>
      <div class="buttons">
        <button class="button button-clear larger" ng-click="saveDateTime('{{key}}')">
          Save
        </button>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" have_subheader="true" padding="true">
      <div class="list">
        <div class="item item-divider bottom-top-border">
          <p>
            <b>Date : </b>
          </p>
          <div class="row">
            <div class="col padding">
              <ionic-datepicker input-obj="dateObject">
                <label class="item item-input item-icon-right bottom-border">
                  <i class="icon icon-calendar"></i>
                  <button class="button icon-right  button-clear"></button>
                  <label class="ng-binding">{{specificDate | amDateFormat:'Do MMMM YYYY'}}</label>
                </label>
              </ionic-datepicker>

            </div>
          </div>
        </div>
        <div class="item item-divider bottom-top-border">
          <p>
            <b>Time: </b>

          </p>
          <div class="row">
            <div class="col padding">
              <ionic-timepicker input-obj="timeObject">
                <label class="item item-input" style="border-left: none; border-right: none">
                  <span class="input-label">Start Time</span>
                  <label>{{str_time}}</label>
                </label>
              </ionic-timepicker>
            </div>
          </div>
        </div>

      </div>
    </ion-content>

  </ion-view>
