<ion-modal-view>
  <ion-header-bar class="theme-bg">
    <div class="buttons">
      <button class="button button-icon icon-close icon-white" ng-click="cancel_modal()"></button>
    </div>
    <h1 class="title light">Reason for decline</h1>
  </ion-header-bar>
  <ion-content class="has-header has-footer">
    <form name="declineProposalForm">

    <div class="list padding">

      <ion-radio ng-model="decline.message" ng-value="'Bid amount is high'" class="small-label radio-energized">Bid amount is high</ion-radio>
      <ion-radio ng-model="decline.message" ng-value="'Preferred other offer'" class="small-label radio-energized">Preferred other offer</ion-radio>
      <ion-radio ng-model="decline.message" ng-value="'Not enough evidence of relevant experience'" class="small-label radio-energized">Not enough evidence of relevant experience</ion-radio>
      <ion-radio ng-model="decline.message" ng-value="'It took too long to receive this proposal'" class="small-label radio-energized">It took too long to receive this proposal</ion-radio>
      <ion-radio ng-model="decline.message" ng-value="'Irrelevant'" class="small-label radio-energized">Irrelevant</ion-radio>
      <ion-radio ng-value="" ng-model="decline.message" class="small-label radio-energized">Other</ion-radio>
      <div class="item item-input margin-top-10 bottom-border" >
        <textarea rows="1" ng-disabled="decline.message" ng-model = "decline.messageText" maxlength="150" placeholder="Tell us reason" required="">
        </textarea>
      </div>
    </div>
  </form>
  </ion-content>
  <ion-footer-bar class="bar-energized">
    <div class="button-bar footer-bar">
      <button class="button" ng-click="declineProposal()" ng-disabled="declineProposalForm.$invalid">Send</a>
      </div>
    </ion-footer-bar>
</ion-modal-view>
