<ion-modal-view class="deposit">
  <ion-header-bar class="bar theme-bg">
    <div class="buttons">
      <button class="button button-icon icon-close icon-white" ng-click="cancel_modal()"></button>
    </div>
    <h1 class="title light">Make a deposit</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-help icon-white" ></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-footer">
    <div class="item padding item-icon-right white-background">
      <span class="row text-12 text-grey">DEPOSIT FOR</span>
      <span class="row text-16 text-dark-grey">{{current_offer.title}}</span>
      <span class="row text-11 text-grey" ng-if="current_offer.price"> Budget: {{current_offer.currency}} {{current_offer.price}} posted <b am-time-ago="current_offer.created_at"></b></span>
      <i class="icon icon-right ion-ios-arrow-forward text-grey text-25"></i>
    </div>

    <div class="padding-top-15 white-background">
      <span class="row text-12 text-grey">SELECT YOUR PAYMENT METHOD</span>
      <ion-list class="payment-method">

        <ion-radio class="radio-energized radio-checked-energized" ng-model="deposit_option.choice" ng-value="'cardPayment'"><span class="icon ion-card"></span>Credit cards or debits card</ion-radio>
        <ion-radio class="radio-energized text-grey" ng-model="deposit_option.choice" ng-disabled="true" ng-value="'cashOnDelivery'"><i class="icon ion-cash"></i>Cash on Delivery(Coming Soon)</ion-radio>
      </ion-list>

      <ion-checkbox class="margin-top-10 zero-border checkbox-energized" ng-model="deposit_option.tos">
        <span class="lrg-checkbox-label no-wrap">I agree to the <a>term and condition</a> and <a>refund/cancellation policy</a></span>
      </ion-checkbox>
  </div>

  <div class="margin-top-15">
    <ion-item class="item-icon-left item-icon-right item-stable guarantee-text accordion-header"
    ng-click="options.show = !options.show"
    ng-class="{active: options.show}" style="background-color:#ffffff">
    <i class="icon icon-left icon-check_mark_round text-40" style="color:#f39c12"></i>
    <span class="text-16 heading-color">Money Protection Guarantee</span>
    <i class="icon icon-right" ng-class="options.show ? 'ion-arrow-up-b' : 'ion-arrow-right-b'"></i>
  </ion-item>

  <ion-item class="item-accordion"
  ng-show="options.show" style="background-color:#fff">
  <span class="text-12 text-grey no-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet facilisis massa. Suspendisse dictum, lorem nec molestie malesuada. Proin porttitor rhoncus lacus, in porttitor augue rhoncus non.
</ion-item>
</div>

</ion-content>
<div class="bar bar-footer " ng-if="deposit_option.choice !='cashOnDelivery'">
  <button class="button button-full button-energized" ng-disabled = "!(deposit_option.tos && deposit_option.choice)" ng-click="openPaymentDetails()">
    Next
  </button>
</div>

<div class="bar bar-footer " ng-if="deposit_option.choice =='cashOnDelivery'">
  <button class="button button-full button-energized" ng-disabled = "!(deposit_option.tos && deposit_option.choice)" ng-click="accept_proposal()">
    Accept Proposal
  </button>
</div>
</ion-modal-view>
