<ion-modal-view class="laundri" align-tile="left">
  <ion-header-bar class="bar theme-bg">
    <div class="buttons">
      <button class="button button-icon icon-close icon-white" ng-click="discard_cancel_modal()">
      </button>
    </div>
    <h1 class="title roboto-regular light">{{laundry_for}}</h1>
    <div class="buttons">
      <button class="button button-icon icon-checkmark icon-white" ng-click="discard_cancel_modal()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-washing-custom-footer">
    <div class="list">
      <div class="item custom-item-divider"><span class="text-grey">Menswear</span></div>
      <div ng-repeat="(k,v) in mens_wear">
        <div class="item" ><span class="text-14 text-dark-grey">{{v}}</span>
          <div class="quantity-selector">
            <button class="button icon ion-ios-minus-empty" ng-click="minusItem(type,k)"></button>
            <div class="input-span" ng-if="offer.detail[type][k]">{{offer.detail[type][k]}}</div>
            <div class="input-span" ng-if="!offer.detail[type][k]">0</div>
            <button class="button icon ion-ios-plus-empty" ng-click="plusItem(type,k,'menswear')"></button>
          </div>
        </div>

      </div>
      <div class="item custom-item-divider">Ladieswear</div>
      <div ng-repeat="(k,v) in ladies_wear">
        <div class="item" ><span class="text-14 text-dark-grey">{{v}}</span>
          <div class="quantity-selector">
            <button class="button icon ion-ios-minus-empty" ng-click="minusItem(type,k)"></button>
            <div class="input-span" ng-if="offer.detail[type][k]">{{offer.detail[type][k]}}</div>
            <div class="input-span" ng-if="!offer.detail[type][k]">0</div>
            <button class="button icon ion-ios-plus-empty" ng-click="plusItem(type,k,'ladieswear')"></button>
          </div>
        </div>
      </div>

      <div class="item custom-item-divider">Others</div>
      <div ng-repeat="(k,v) in other_wear">
        <div class="item" ><span class="text-14 text-dark-grey">{{v}}</span>
          <div class="quantity-selector">
            <button class="button icon ion-ios-minus-empty" ng-click="minusItem(type,k)"></button>
            <span class="input-span" ng-if="offer.detail[type][k]">{{offer.detail[type][k]}}</span>
            <span class="input-span" ng-if="!offer.detail[type][k]">0</span>
            <button class="button icon ion-ios-plus-empty" ng-click="plusItem(type,k,'others')"></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="washing-custom-footer">
    <div class="padding">
      <p class="light-gray">&nbsp;Your selection for {{laundry_for}}</p>
      <p class="footer_string">&nbsp;{{laundryIncludings[type]}}</p>
    </div>

    <!-- <p>Shirts (2), Suit 2pcs(1), Tie(5), Overcoat(3)</p> -->
  </div>
</ion-modal-view>
