<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center" class="theme-bg">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_login()"></button>
      </div>
      <h1 class="title" > Login </h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <section class = "home-container">
        <div class = "row header">
          <div class = "col text-center">
            <img src="img/logo.png" class="img-100">
          </div>
        </div>
        <div class = "row">
          <div class='col'>
            <form name="loginForm" novalidate ng-submit="logIn()">
              <div class="list">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Email OR Mobile No.</span>
                  <input type="text" ng-model="user.email" name="email"  autocapitalize="off" placeholder="Email OR Mobile No."  required />
                </label>
                <label class="item bottom-border item-input item-floating-label item-icon-right">
                  <span class="input-label">Password</span>
                  <i class="icon ion-eye placeholder-icon" ng-show = "!showPassword" on-touch="showPassword = !showPassword"></i>
                  <i class="icon ion-eye-disabled placeholder-icon" ng-show = "showPassword" on-touch="showPassword = !showPassword"></i>
                  <input type="password" ng-hide="showPassword" ng-model = "user.password" id="password" name="password" placeholder="Password" required="">
                  <input type="text" ng-show="showPassword" ng-model = "user.password" id="password" name="password" placeholder="Password" required="">
                </label>
              </div>
              <input type="submit" class="button button-block button-energized" value="Sign In" ng-disabled="loginForm.$invalid">
            </form>
          </div>
        </div>

      </section>
    </ion-content>
  </ion-view>
