<ion-view>
  <div class="modal">
    <ion-header-bar class="theme-bg" align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <p class="title text-18 icon-white">Offer Details</p>
      <div class="buttons buttons-right">
        <button class="button button-clear button-icon ion-android-more-vertical icon-white" ng-click="openPopover($event,index)"></button>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="list">
        <div ng-include="'templates/partials/detail-'+ current_offer.category_slug + '.html'"></div>
      </div>
    </ion-content>
  </ion-view>
