<ion-modal-view class="filter-page">
  <ion-header-bar class="bar theme-bg">
    <div class="buttons">
      <button class="button button-icon icon-close icon-white" ng-click="close()"></button>
    </div>
    <h1 class="title light">Filter Payments by</h1>
    <div class="buttons buttons-right">
      <button class="button button-clear button-small icon-white" ng-click="resetFilter()">Reset</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-footer">
    <div class="list">
      <div class="padding">
        <div class="custom-input-label text-12 text-grey roboto-medium">Category</div>
        <div class="item item-input item-select padding custom-select-container bottom-border" >
          <select class="custom-select" ng-model="search_qry.category" multiple>
            <option  class="text-11 text-dark-grey roboto-regular"  ng-repeat="subcategory in subCategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
          </select>
        </div>
      </div>

      <div class="row double-input padding" style="margin-top:5px;">
        <div class="col-50">
            <span  class="text-12 text-grey roboto-medium">By Date : </span>
            <ionic-datepicker placeholder="Date"  class="height-45" input-obj="fromDateObject">
              <label class="item item-input item-icon-right bottom-border" style="height:45px">
                <label class="ng-binding text-11">{{search_qry.from_date | amDateFormat:'Do MMMM YYYY'}}</label>
                <i class="icon icon-calendar text-grey text-16"></i>
              </label>
            </ionic-datepicker>
        </div>
        <div class="padding-left col-50">
            <span  class="text-12 text-grey roboto-medium">&nbsp;</span>
            <ionic-datepicker  class="height-45" input-obj="toDateObject">
              <label class="item item-input item-icon-right bottom-border" style="height:45px">

                <label class="ng-binding text-11">{{search_qry.to_date | amDateFormat:'Do MMMM YYYY'}}</label>
                <i class="icon icon-calendar text-grey text-16"></i>
              </label>
            </ionic-datepicker>
        </div>
      </div>

      <div class="padding">
        <div class="custom-input-label text-12 text-grey roboto-medium">Payment Status</div>

        <div class="item item-checkbox-left zero-border zero-padding">
          <ion-checkbox class="zero-border checkbox-energized text-12 text-grey" ng-model="search_qry.completed">
            <span class="no-wrap text-12"><b>Completed</b></span>
          </ion-checkbox>
        </div>

        <div class="item item-checkbox-left zero-border zero-padding">
          <ion-checkbox class="zero-border checkbox-energized text-12 text-grey"  ng-model="search_qry.cancelled">
            <span class="no-wrap text-12"><b>Cancelled</b></span>
          </ion-checkbox>
        </div>
        <!-- <ion-radio ng-model="search_qry.status" name="status" value="'completed'" class="zero-border radio-energized">Completed</ion-radio>
        <ion-radio ng-model="search_qry.status" name="status" value="'cancelled'" class="bottom-border radio-energized">Cancelled</ion-radio> -->
    </div>
  </div>
</ion-content>
<ion-footer-bar class="bar-energized">
  <div class="button-bar footer-bar">
    <a class="button button-energized" ng-click="getTransactions();">Apply</a>
  </div>
</ion-footer-bar>
</ion-modal-view>
