<ion-view title="{{navTitle}}">
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-arrow_back" ng-click="discard_cancel_modal()"></button>
      </div>
      <h1 class="title" >  Choose Pest Control Type</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
      <label class="bar item item-input bottom-border">
        <i class="icon icon-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search_string">
      </label>
    </div>

    <ion-content has-header="true" style="margin-top:50px;" has-subheader="true" has-footer="true" padding="true">
      <div class="list zero-border">
        <div class="item item-checkbox-right zero-border zero-padding" ng-repeat="bug in bugs">
           <!-- ng-model="pest[$index]" ng-false-value= "null" ng-true-value="'{{bug.key}}'" -->
          <ion-checkbox class="zero-border checkbox-energized" ng-model="offer.detail[bug.key]">
            <span class="no-wrap text-12"><b>{{bug.value}}</b></span>
          </ion-checkbox>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <div class="button-bar footer-bar">
        <a class="button" ng-click="upDateIncludings()">Done</a>
      </div>
    </ion-footer-bar>
  </div>
</ion-view>
