<ion-view class="proposalListModal">
  <div class="modal">
    <ion-header-bar class="bar theme-bg" align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <p class="title text-18 icon-white">Proposal</p>
      <div class="buttons buttons-right">
        <button class="button button-clear button-icon icon-setting padding icon-white"  ng-if="!option.tab" ng-click="openProposalFilter()"></button>
        <button class="button button-clear button-icon ion-android-more-vertical padding icon-white" ng-click="offerDetailPopover($event)"></button>
      </div>
    </ion-header-bar>
    <ion-content class="bg-light-gray" has-header="true" padding="true">
      <tab-slide-box tab="0">
        <div class="tsb-icons">
          <div class="tsb-ic-wrp">
            <ion-scroll direction="x" class="tsb-hscroll">
              <a href="javascript:;">Proposals</a>
              <a href="javascript:;">Invited Supplier</a>
            </ion-scroll>
          </div>
        </div>
        <ion-slide-box
        on-slide-changed="slideHasChanged($index);newTabMyOffer($index)">
        <ion-slide>
          <div class="list">
            <div class="item card" ng-repeat="proposal in current_offer.bids" ng-click="proposalDetail(proposal.id)">
              <div class="row">
                <div class="col">
                  <div class="go-left">
                    <i  class="icon ion-record padding-right-5" ng-if="!proposal.supplier.image.thumb.url"></i>
                    <img ng-if="proposal.supplier.image.thumb.url" ng-src="{{prefix}}/{{proposal.supplier.image.thumb.url}}" alt="No Image found" class="round-image-25 padding-right-5">

                    <span class="text-16 roboto-medium text-dark-grey padding-left-right" ng-if="proposal.supplier.company_name">{{proposal.supplier.company_name}}</span>
                    <span class="text-16 roboto-medium text-dark-grey padding-left-right" ng-if="proposal.supplier.first_name">{{proposal.supplier.first_name}} {{proposal.supplier.last_name}}</span>
                    <i class="icon ion-android-favorite-outline"></i>
                    <span class="balanced-badge-box" ng-if="proposal.supplier.rating != 0">{{ proposal.supplier.rating | number:1 }} </span>
                    <span class="balanced-badge-box" ng-if="proposal.supplier.rating == 0"> New </span>
                  </div>
                  <span class="text-16 roboto-medium go-right text-dark-grey">{{proposal.amount}} <span class="text-12">AED</span></span>
                </div>
              </div>
              <div class="row">
                <div class="padding-left-36">
                  <i class="icon icon-calander text-12 energized"></i>
                  <span class="text-12 text-dark-grey">{{proposal.start_date| amDateFormat:'Do MMMM YYYY'}}</b>
                  </div>
                  <div class="padding-left-right">
                    <i class="icon ion-ios-location energized"></i>
                    <span class="text-12 text-dark-grey">{{proposal.supplier.address.area}}</span>
                  </div>
                </div>
              </div>
              <empty-place-holder ng-if="!current_offer.bids.length"
              heading="No proposal yet!"
              message="You have not recieved any proposal yet, we will notify you once proposed and you will see them here."
              >
            </empty-place-holder>
          </div>
        </ion-slide>
        <ion-slide>
        <div class="item" ng-repeat="supplier in invited_suppliers">


          <div class="row">
            <div class="col">
              <div class="go-left">
                <i  class="icon ion-record padding-right-5" ng-if="!supplier.thumb_image"></i>
                <img ng-if="supplier.thumb_image" ng-src="{{prefix}}/{{supplier.thumb_image}}" alt="No Image found" class="round-image-25 padding-right-5">

                <span class="name_span" ng-if="supplier.company_name">{{supplier.company_name}}</span>
                <span class="name_span" ng-if="supplier.first_name && !supplier.company_name">{{supplier.first_name}} {{supplier.last_name}}</span>
                <i class="icon" ng-class="supplier.is_favourite ? 'ion-android-favorite assertive' : 'ion-android-favorite-outline'" ></i>


                <span class="balanced-badge-box" ng-if="supplier.rating != 0">{{ supplier.rating | number:1 }} </span>
                <span class="balanced-badge-box" ng-if="supplier.rating == 0"> New </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="padding-left-36">
              <i class="icon ion-ios-location energized"></i>
              <span class="small-label text-dark-grey">{{supplier.address.area}}</span>
              <span ng-if="!supplier.address.area" class="small-label text-dark-grey">Not available</span>
            </div>
          </div>
        </div>
        <empty-place-holder ng-if="!invited_suppliers.length"
        heading="No Supplier Invited!"
        message="You have not invited any supplier yet, once you invite any, you will see them here."
        >
      </empty-place-holder>
    </div>
  </ion-slide>
</ion-slide-box>
</tab-slide-box>
</ion-content>
</div>
</ion-view>
