<ion-modal-view class="filter-page">
  <ion-header-bar class="bar bar-stable">
    <div class="buttons">
      <button class="button button-icon icon-close" ng-click="closeFilter()"></button>
    </div>
    <h1 class="title light">Filter Payments by</h1>
    <div class="buttons buttons-right">
      <button class="button button-clear button-small" ng-click="resetFilter()">Reset</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
      <div class="custom-input-label">Location</div>
      <div class="item item-input item-select padding custom-select-container zero-border" >
        <select class="custom-select" ng-model="search_qry.locations" multiple>
          <option value="dso">Dubai Silicon Oasis</option>
          <option value="mc">Media City</option>
          <option value="nd">Al Nahda</option>
          <option value="ja">Jabel Ali</option>
          <option value="km">Al Karama</option>
          <option value="ra">Rolla</option>
          <option value="np">National Paints</option>
          <option value="df">Dhayah Fort</option>
          <option value="jah">Jazirat al-Hamra</option>
        </select>
      </div>
      <hr>
      <label class="item">
        <b>Sort By</b>
      </label>
      <ion-radio ng-model="search_qry.sort" name="sort" value="price" class="no-border">Price</ion-radio>
      <ion-radio ng-model="search_qry.sort" name="sort" value="rating" class="no-top-border">Rating (High to Low)</ion-radio>
      <ion-radio ng-model="search_qry.sort" name="sort" value="date" class="no-top-border">Delivery Time</ion-radio>

      <ion-checkbox ng-model="search_qry.online">Online Only</ion-checkbox>
      <ion-checkbox ng-model="search_qry.favourite_only">Favourite Only</ion-checkbox>

      <button class="button button-block button-energized" ng-click="updateBids();">
        Apply
      </button>
    </ion-content>
  </ion-modal-view>
