<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon ion-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">Customer Reviews</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="list">
        <div class="card item padding" collection-repeat="review in myReviews">
          <div class="row">
            <div class="col col-20">
              <img ng-if="review.client_details.image.thumb" ng-src="{{prefix}}/{{review.client_details.image.original}}" alt="No Image found" class="round-image">
              <i ng-if="!review.client_details.image.thumb" class="icon ion-record text-36" class="go-left"></i>
            </div>
            <div class="col">

              <b class="line-height-2">{{review.client_details.name}}</b>
              <p class="text-10 text-grey">{{review.updated_at | amDateFormat:"DD MMM'YY"}} for {{review.category_name}}</p>
              <b class="small-label no-wrap">{{review.comment}}</p>
            </div>
            <span class="balanced-badge-box"> {{review.rating | number:1}} </span>
          </div>
        </div>

      </div>

    </ion-content>
  </div>
</ion-view>
