<ion-modal-view class="review-approve">
  <ion-header-bar class="bar bar-stable">
    <div class="buttons">
      <button class="button button-icon icon-close" ng-click="cancel_modal()"></button>
    </div>
    <h1 class="title light">Review and Approve Payment</h1>
  </ion-header-bar>
  <ion-content class="has-header has-footer">
    <div class="review-label" ng-if="current_proposal.supplier.is_company">
      <b>{{current_proposal.supplier.company_name}}</b> has marked this job as done. If they done a job then  approve it. Decline if they didnt complete
    </div>
      <div class="review-label" ng-if="!current_proposal.supplier.is_company">
        <b>{{current_proposal.supplier.first_name}} {{current_proposal.supplier.last_name}}</b> has marked this job as done. If they done a job then  approve it. Decline if they didnt complete
      </div>
    <div>
      <div class="padding">What is your feeling about {{current_proposal.supplier.company_name}}{{current_proposal.supplier.first_name}} {{current_proposal.supplier.last_name}} service</div>
      <div class="row feeling-selector">
        <div class="col col-33 feelings-smiley-container no-right-border" ng-class="{'active': isFeeling('happy')}" ng-click="setFeelingValue('happy')">
          <span class="lnr lnr-smile"></span><br>
          <span class="smiley-label">Happy</span>
        </div>
        <div class="col col-33 feelings-smiley-container no-right-border" ng-class="{'active': isFeeling('neutral')}" ng-click="setFeelingValue('neutral')">
          <span class="lnr lnr-neutral"></span><br>
          <span class="smiley-label">Neutral</span>
        </div>
        <div class="col col-33 feelings-smiley-container" ng-class="{'active': isFeeling('sad')}" ng-click="setFeelingValue('sad')">
          <span class="lnr lnr-sad"></span><br>
          <span class="smiley-label">Sad</span>
        </div>
      </div>
    </div>
    <div class="checkbox-buttons padding">
      <div>They are on time</div>
      <div class="button-bar button-bar-66">
        <a class="button no-right-border" ng-class="{'orange-button': isActiveOntime(true)}" ng-click="setOnTimeValue(true)">Yes</a>
        <a class="button" ng-class="{'orange-button': isActiveOntime(false)}" ng-click="setOnTimeValue(false)">No</a>
      </div>
    </div>
    <div class="checkbox-buttons padding">
      <div >How they responded you</div>
      <div class="button-bar">
        <a class="button no-right-border" ng-class="{'orange-button': isActiveResponse('fast')}" ng-click="setResponseValue('fast')">Fast</a>
        <a class="button no-right-border" ng-class="{'orange-button': isActiveResponse('medium')}" ng-click="setResponseValue('medium')">Medium</a>
        <a class="button" ng-class="{'orange-button': isActiveResponse('slow')}" ng-click="setResponseValue('slow')">Slow</a>
      </div>
    </div>
    <div class="item item-input standard-margin">
      <textarea ng-model="rating.comment" placeholder="Type your review comments here"></textarea>
    </div>
  </ion-content>
  <div class="bar bar-footer ">
    <div class="button-bar">
      <a class="button orange-button" ng-click="markDoneClient()">Approve</a>
      <a class="button button-stable" ng-click="declineDoneClient()">Decline</a>
    </div>
  </div>
</ion-modal-view>
