<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-arrow_back" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">Delivery Address</h1>
    </ion-header-bar>
    <ion-content class="bg-light-gray" has-header="true" padding="true">
      <div class="list">
        <h4>Choose from your addresses</h4>
        <div class="card padding " ng-repeat="address in myAddresses">
          <div class="item item-checkbox-right zero-border zero-padding">
            <span class="text-left">{{areaString(address)}}</span>
            <ion-checkbox class="go-right zero-border" ng-init="address.selected = (address.id == offer.address_id)" ng-model="address.selected" ng-click="setAddress(offer,address)"></ion-checkbox>

          </div>
          <div>
            <i class="icon ion-location"></i>
            {{address.street_address}} {{address.landmark}}
          </div>
          <div>
            <i class="icon ion-ios-telephone"></i>
            <span ng-if="address.phone">{{address.phone}}</span>
            <span ng-if="!address.phone">Not available</span>
          </div>
        </div>
          <empty-place-holder ng-if="!myAddresses.length"
          heading="No Address created yet!"
          message="You have not created any address yet. Once you create that you will see them here."
          >
        </empty-place-holder>
        <div class="padding">
          <button class="button button-small button-outline" ng-click="addNewAddress()">
            ADD NEW
          </button>

        </div>
        <div ng-if="showAdd.add" ng-include="'templates/partials/addressForm.html'"></div>

      </div>

    </ion-content>
  </div>
</ion-view>
