<ion-modal-view class="filter-page">
  <ion-header-bar class="bar bar-stable">
    <div class="buttons">
      <button class="button button-icon icon-close" ng-click="close()"></button>
    </div>
    <h1 class="title light">Filters</h1>
    <div class="buttons buttons-right">
      <button class="button button-clear button-small" ng-click="resetFilter()">Reset</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
      <div class="custom-input-label">&nbsp;Category</div>
      <div class="item item-input item-select padding custom-select-container zero-border" >
        <select class="custom-select" ng-model="search_qry.category_ids" multiple>
          <option ng-repeat="subcategory in subCategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
        </select>
      </div>
      <hr>
      <div class="custom-input-label padding">Area</div>
      <div class="item item-input item-select padding custom-select-container zero-border" >
        <select class="custom-select" ng-model="search_qry.locations" multiple>
          <option value="dera"> Dera </option>
          <option value="silicon oasis"> Silicon oasis </option>
          <option value="Palm Jummehra"> Palm Jummerah</option>
          <option value="Rashdiya"> Rashida</option>
        </select>
      </div>
      <hr>
      <div class="custom-input-label padding">Priority</div>
      <div class="item item-input item-select padding custom-select-container zero-border" >
        <select class="custom-select" ng-model="search_qry.priority" multiple>
          <option ng-repeat="day in numdays" value="{{day.id}}">{{day.text}}</option>
        </select>
      </div>
      <label class="item no-bottom-border">
        Price
      </label>
      <ion-radio ng-model="search_qry.sort" ng-value="'asc'" class="no-border price-radio-text radio-energized">Price low to high</ion-radio>
      <ion-radio ng-model="search_qry.sort" ng-value="'desc'" class="no-top-border price-radio-text radio-energized">Price high to low</ion-radio>

      <rzslider class="energized" rz-slider-model="slider.minValue"
      rz-slider-high="slider.maxValue"
      rz-slider-options="slider.options"></rzslider>

      <button class="button button-block button-energized" ng-click="getOffer(search_qry);">
        Apply
      </button>
    </ion-content>
  </ion-modal-view>
