<ion-view class="signup">
  <div class="modal">
    <ion-header-bar class="no-header-line">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_signup_window()"></button>
      </div>
    </ion-header-bar>
    <form name="numberForm" novalidate ng-submit="create_user()">
      <ion-content has-header="true" has-footer="true" padding="true">

        <div class="list padding-top-30">
          <div class="item zero-border">
            <p class="padding heading-style">
              Verify your number, Its quick and easy!
            </p>
          </div>
          <div class="item bottom-border">
            <intlpn class="zero-border" ng-model="user.mobile" placeholder="Phone" name="mobile" default-country="ae" only-country="['ae','sa','om','qe','bh','kw']" national-mode="true" box-header-class="bar-energized" box-header-title="Search country" search-placeholder="search" country-iso-code="model.isocode" country-dial-code="model.dialcode" required></intlpn>
          </div>
          <div class="row">
            <div class="col text-center padding-top-20">
              <p class="grey-frame text-14">No spam calls! Your number will only be shared to the experts that you choose.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center padding-top-20">
              <p class="grey-frame text-14">Already have a account?
                <a class="energized text-14 " ng-click="cancel_signup_window()">
                  <b>Sign In</b>
                </a>
              </p>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer-bar class="bar-energized">
        <div class="button-bar footer-bar">
          <input type="submit" class="button" value="Sign Up" ng-disabled="numberForm.$invalid">
        </div>
      </ion-footer-bar>
    </form>
  </div>
</ion-view>
