<ion-view class="signup">
  <div class="modal">
    <ion-header-bar class="theme-bg">
      <div class="buttons">
        <button class="button button-icon icon icon-arrow_back icon-white" ng-click="cancel_signup_step2_window()"></button>
      </div>
      <h1 class="title" >Sign Up</h1>
    </ion-header-bar>
    <form name="signUpDetailForm" novalidate ng-submit="signUpStep2Form()">
      <ion-content has-header="true" has-footer="true"  padding="true">
        <div class="list">
          <div class="item zero-border light-background">
            <p class="normal-whitespace text-16">
              Please complete your account details
            </p>
          </div>

          <div class="list padding-left-right">
            <div class="row">
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">First Name</span>
                  <input type="text" placeholder="First Name" name = "first_name"   autocapitalize = "words" ng-minlength="3" ng-maxlength="15" ng-model="user.first_name" required="">
                </label>

              </div>
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Last Name</span>
                  <input type="text" placeholder="Last Name" ng-name="last_name" autocapitalize = "words" ng-model="user.last_name">
                </label>

              </div>
            </div>

            <div>
              <label class="item bottom-border  item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email" name="email" placeholder="Email"    autocapitalize = "off"  required="" />
              </label>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label item-icon-right">
                <span class="input-label">Password</span>
                <i ng-class="password.show ?  'icon ion-eye-disabled placeholder-icon': 'icon ion-eye placeholder-icon' " on-touch = "showHidepassword()"></i>
                <input type="{{password.type}}" ng-model = "user.password" name="password" placeholder="Password" required=""
                ng-minlength="6" ng-maxlength="15"
                pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$" >
              </label>
              <div ng-messages="signUpDetailForm.password.$error" class="assertive" ng-show="signUpDetailForm.password.$touched" >
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">At least 6 characters.</div>
                <div ng-message="maxlength">At most 15 characters.</div>
                <div ng-message="pattern"> Must contain letter and number.</div>
              </div>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model = "user.password_confirmation" id="password_confirmation" name="password_confirmation"
                compare-to="user.password" placeholder="Confirm Password" />
              </label>
              <div ng-messages="signUpDetailForm.password_confirmation.$error" class="assertive" ng-show="signUpDetailForm.password_confirmation.$touched">
                <div ng-message="required">Please confirm your password.</div>
                <div ng-message="compareTo">Password does not match</div>
              </div>
            </div>
            <div class="padding-top-5">
              <ion-checkbox class="zero-border checkbox-energized" ng-model="data.tos"><p class="normal-whitespace text-12">By clicking "Continue" I agree to Serviceme <span class="energized"> terms and conditions</span></p></ion-checkbox>
            </div>
          </div>
          <div class="padding item zero-border">
          </div>
          <div class="item item-icon-left assertive-bg" ng-show="data.pwError">
            <i class="icon ion-android-alert"></i>
            <span>Password doesn't match</span>
          </div>
        </div>
      </ion-content>

      <ion-footer-bar class="">
        <div class="button-bar footer-bar">
          <input type="submit" class="button button-energized" value="Continue" ng-disabled="signUpDetailForm.$invalid || !data.tos || data.pwError">
        </div>
      </ion-footer-bar>
    </form>
  </div>
</ion-view>
