<ion-view class="customer-review">
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">Submit your review</h1>
    </ion-header-bar>
    <ion-content has-header="true" class="has-footer">
      {{choice}}
      <div class="list padding">
        How you rate {{current_offer.client.first_name}} {{current_offer.client.last_name}} as your customer?
        <div ng-repeat="(key,value) in review_tags">
          <ion-checkbox class="checkbox-energized" ng-model="value.selected">
            {{value.name}}
          </ion-checkbox>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer ">
      <button class="button button-full orange-button" ng-click="submitClientReview()">
        Submit
      </button>
    </div>

  </ion-view>
