<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">{{modalTitle}}</h1>
    </ion-header-bar>
    <ion-content has-header="true" have_subheader="true" padding="true">
      <form name="bidForm" novalidate ng-submit="submitCarRentalProposal()">
        <div class="list padding no-upper-padding">
          <div class="custom-input-label">Your Amount</div>
          <div class="row">
            <div class="col col-50">
              <div class="item item-input">
                <input type="number" name = "price" ng-model="bid.amount"  placeholder="Amount in AED" required=""/>
              </div>
            </div>
            <div class="col col-50">
              <div class="item item-input item-select padding currency-sel">
                <select class="custom-select"  ng-model="bid.amount_per" required="">
                  <option value="per_day" selected>per day</option>
                  <option value="per_week">per week</option>
                  <option value="per_month">per month</option>
                </select>
              </div>
            </div>
          </div>

          <div class="left-align-text" ng-if="current_offer.has_budget" >Client budget is {{current_offer.price}} {{current_offer.price_per}}</div>
          <div class="row double-input" style="margin-top:5px;">
            <div class="col-50">
              <div class="custom-input-label">
                Car Model
              </div>
              <div class="item item-input item-select padding custom-select-container">
                <select class="custom-select" ng-model="bid.data.car_model" required="">
                  <option selected="" value="">Any</option>
                  <option
                  ng-repeat="(key, value) in models"
                  value="{{key}}">
                  {{value}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-50 second-child">
            <div class="custom-input-label">
              Model Year
            </div>
            <div class="item item-input item-select padding custom-select-container">
              <select class="custom-select" ng-model="bid.data.year" required="">
                <option value="" selected disabled="">Any</option>
                <option
                ng-repeat="year in years"
                value="{{year}}">
                {{year}}
              </option>
            </select>
          </div>
        </div>

      </div>
      <div class="row padding">
        <div class="col">
          <button type="button" class="button button-full button-energized"  ng-click="popover.show($event)">
            Upload Image
          </button>
        </div>
      </div>
      <div  ng-if="image">
        <img class="avatar-img" ng-src="{{image}}">
      </div>
      <div>
        <p class="assertive" ng-if="!image">Upload picture</p>
      </div>
      <div>
        <div class="custom-input-label padding-top">Enter your message</div>
        <div class="item item-input" >
          <textarea rows="6" name="message" ng-model = "bid.message" placeholder="Optional" maxlength="250">
          </textarea>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit" class="button button-block button-energized" ng-disabled="bidForm.$invalid || !image" >
  </form>
</ion-content>

</ion-view>
