<ion-view>
  <div class="modal">
    <ion-header-bar class="bar theme-bg" align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close icon-white" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title light">{{modalTitle}}</h1>
    </ion-header-bar>
    <ion-content has-header="true" have_subheader="true" padding="true">
      <form name="bidForm" novalidate ng-submit="postProposal()">
        <div class="list padding no-upper-padding">
          <div class="text-12 text-grey">Your Amount</div>
          <div class="item item-input bottom-border">
            <input type="number" name = "price" placeholder="AED" ng-model="bid.amount" required=""/>
          </div>
          <!-- <div class="left-align-text" ng-if="current_offer.has_budget" >Client budget is {{current_offer.currency}} {{current_offer.price}}</div> -->
          <div class="padding-top">
          <ionic-datepicker class="padding-top-15" input-obj="dateObject">
            <label class="item item-input item-icon-right bottom-border">
              <label class="ng-binding">{{specificDate | amDateFormat:'Do MMMM YYYY'}}</label>
              <i class="icon icon-calendar text-grey text-22"></i>
            </label>
          </ionic-datepicker>
        </div>
          <div class="padding-top-20">
            <div class="item item-input bottom-border  padding-top" >
              <textarea class="padding-top" rows="1" name="message" placeholder="Send your message(optional)" ng-model = "bid.message" maxlength="250">
              </textarea>
            </div>
          </div>
        </div>
      </form>
    </ion-content>
    <div class="bar bar-footer bar-energized zero-padding">
      <button class="button button-full button-energized" ng-disabled="!bid.amount || !specificDate" ng-click="postProposal()">
        Submit
      </button>
    </div>
  </ion-view>
