<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_modal()"></button>
      </div>
      <h1 class="title">Update Categories</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <label class="bar item item-input bottom-border">
        <i class="icon icon-search placeholder-icon"></i>
        <input type="text" placeholder="Search your service categories" ng-model="search_string">
      </label>
    </div>
    <ion-content has-header="true" style="margin-top:50px;" has-subheader="true" has-footer="true" padding="true">

      <div class="list zero-border" ng-repeat="item in categories | filter:search_string">
        <div class="item item-divider zero-border">
          <p class="text-12"><b>{{item.name}}</b></p>
        </div>
        <div class="item item-checkbox-right zero-border zero-padding" ng-repeat="subcategory in item.subcategories | filter:search_string">
          <ion-checkbox class="zero-border checkbox-energized" ng-model="subcategory.selected">
            <span class="no-wrap text-12"><b>{{subcategory.name}}</b></span>
          </ion-checkbox>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized">
      <div class="button-bar footer-bar">
        <a class="button button-energized" ng-click="supplierSignUp()">Next!</a>
      </div>
    </ion-footer-bar>

  </ion-view>
