<ion-modal-view class="signup">
    <ion-header-bar class="no-header-line">
      <div class="buttons">
        <button class="button button-icon icon icon-close" ng-click="cancel_verify_num()"></button>
      </div>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
      <div class="item icon-center text-60-px zero-border">
          <i class="icon icon-checkmark balanced"></i>
        </div>
        <div class="item zero-border text-center">
          <p class="padding normal-whitespace text-16 text-balanced">
            We've sent you a verification code on {{user.mobile}} to verify
          </p>
        </div>
        <form name="codeForm" class="margin-top-negative-20" novalidate>
          <div class="item zero-border">
            <label class="item bottom-border item-input">
              <input type="password" ng-model="user.code" pattern="[0-9]*" inputmode="numeric" placeholder="Enter a Code"  required="" />
            </label>
          </div>
          <div class="item text-center  zero-border">
            <p class="grey-frame text-14">
              Didn't recieve a code?
              <a class="button button-clear margin-top-negative-12" ng-click="resend_code()">
                <b class="energized">Resend</b>
              </a>
            </p>
          </div>
          <div class="item text-center zero-border">
            <p class="grey-frame text-14">
              OR
            </p>
          </div>
          <div class="item text-center zero-border">
            <p class="grey-frame text-14">
              <a class="button button-clear" ng-click="change_phone_num()">
                <b class="energized">Change Number</b>
              </a>
            </p>
          </div>
        </form>
    </ion-content>
    <div class="bar bar-footer bar-energized">

      <button class="button button-full button-energized" ng-disabled="user.code.length != '4'" ng-click="verfiy_user_num()">
        Verify
      </button>
    </div>
  </ion-modal-view>
