@charset "UTF-8";
* {
    font-family: 'roboto-regular' !important;
}
h1,h2,h3,h4,h5,h6,b,strong{
  font-family: 'roboto-bold' !important;
}
.roboto-regular {
  font-family: "roboto-regular" !important;
}
.title{
  font-family: "roboto-medium" !important;
}
.roboto-bold {
  font-family: "roboto-bold" !important;
}

.roboto-light {
  font-family: "roboto-light" !important;
}

.roboto-medium {
  font-family: "roboto-medium" !important;
}

.height-45{
  height: 45%;
}
.review-approve .bar .title{
  overflow: visible !important;
}
.review-approve .bar-footer{
  padding: 0px;
}
.review-approve .bar-footer .button{
  border-radius: 0px !important;
}
.review-label{
  padding: 5px;
  text-align: center;
  background: #EAEAEA;
}
.feelings-smiley-container{
  text-align: center;
  border: black 1px;
  border-style: solid;
}
.feelings-smiley-container .lnr{
  font-size: 30px
}
.smiley-label{
  font-size: 20px;
}
.feeling-selector .active {
  background: #90A83B;
  color: white;
}
.button-bar-66{
  width: 66% !important;
}

.checkbox-buttons .button{
  border: black 1px !important;
  border-style: solid !important;
}
.no-right-border{
  border-right-style: none !important;
}
.checkbox-buttons .no-right-border {
  border-right-style: none !important;
}
.standard-margin {
  margin: 5px;
}
.text-center{
  text-align: center;
  display: inline;
}
.inline-text{
  display: inline !important;
}
.text-center-normal{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.heading-text{
  font-size: 24px;
  color: #757575;
  font-weight: bold;
}

.bold-text{
  font-weight: bold;
}

.icon-center{
  text-align: center;
}

.line-height-5{
  line-height: 5px;
}

.text-10{
  font-size: 10px !important;
}

.text-11{
  font-size: 11px !important;
}

.text-12{
  font-size: 12px !important;
}

.text-14{
  font-size: 14px !important;
}

.text-16{
  font-size: 16px !important;
}

.text-18{
  font-size: 18px !important;
}

.text-20{
  font-size: 20px !important;
  color: #757575;
}
.text-22{
  font-size: 22px !important;
  color: #757575;
}

.text-25{
  font-size: 25px !important;

}

.text-24{
  font-size: 25px !important;
}

.text-36{
  font-size: 36px !important;
}

.text-40{
  font-size: 40px !important;
}

.text-60-px{
  font-size: 60px !important;
}

.text-balanced{
  color: #72960c !important;
}
.heading-color{
  color: #565552;
}


.no-left-right-border{
  border-left: none;
  border-right: none;
}
.no-bottom-border{
  border-bottom: none;
}
.no-top-border{
  border-top: none;
}
.top-border{
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.bottom-border {
  border-left: none;
  border-right: none;
  border-top: none;
}
.zero-border{
  border: none;
  border-style: none;
}
.normal-whitespace{
  white-space: normal !important;
}
.card-with-no-shadow{
  border: none;
  box-shadow: none;
}
.scroll{
  height:100% !important;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10% !important;
}
.height-90{
  height: 80%;
}
.height-10{
  height: 10%;
}
.icon-85{
  width: 85px !important;
}
.icon-40{
  width: 40px !important;
}
.padding-top-0{
  padding-top: 0px;
}
 .padding-top-30{
   padding-top: 30px;
 }
.no-left-padding-5{
  padding: 5px 5px 5px 0;
}
.padding-5{
  padding: 5px;
}
.padding-bottom-0{
  padding-bottom: 0px;
}
.padding-left-5{
  padding-left: 5px;
}
.padding-left-0{
  padding-left: 0px;
}
.padding-right-5{
  padding-right: 5px;
}
.padding-top-5{
  padding-top: 5px;
}
.padding-top-15{
  padding-top: 15px;
}
.padding-top-10{
  padding-top: 10px !important;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-top-50{
  padding-top: 50px !important;
}

.img-100{
  width: 100px !important;
}
.margin-top-negative-10{
  margin-top: -10px;;
}
.margin-top-negative-12{
  margin-top: -12.5px;;
}

.margin-top-0{
  margin-top: 0px;;
}
.margin-top-negative-2{
  margin-top: -2px;;
}
.margin-top-negative-20{
  margin-top: -20px;
}
.margin-top-5{
  margin-top: 5px !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.margin-top-15{
  margin-top: 15px !important;
}
.padding-top-negative-2{
  padding-top: -2px;;
}
.grey-frame{
  color: #757575;
}
.grey-75{
  color: #757575;
}
.go-right{
  float:right;
}
.go-left{
  float:left;
}
.border-grey{
  border: 1px solid #EAEAEA !important;
}
.table-div{
  display: table;
  height: 56px;
}
.height-65{
  max-height: 60px;
}
.center-cell {
  display: table-cell;
  vertical-align: middle;
}
.center-avatar-div{
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.center-div-120{
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.center-circle{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border:2px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.center-circle-small{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border:2px solid #cccccc;
  background: #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.blue-icon{
  color: #3B5998 !important;
}
.red-icon{
  color: #DB4437 !important;
}
.white-icon{
  color: #fff !important;
}

.app-header{
  color: #b2b2b2;
}
.menu-header{
  background-color: #EAEAEA;
  color: #757575;
}
.zero-padding{
  padding: 0px !important;
}
.zero-padding-right{
  padding-right: 0px !important;
}
.zero-margin{
  margin: 0px !important;
}
.col-xs-3, .col-sm-3, .col-md-3{
  border: 1px solid #EAEAEA !important;
}
.icon-container img{
  width: 70%;
  height: 70%;
}
.button-line{
  border-radius: 1px;
  line-height: 15px;
  background-color: #fff;
}
.icon-container p{
  font-size: 0.75em !important;
  font-weight: bold;
  max-width: 90%;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
  color: #757575 !important;
  text-align: center;
}
.custom-select-container{
  height: 40px !important;
}
.md-scroll-mask { position: initial;}
.custom-select{
  direction: inherit !important;
  position: relative !important;
  width: 1000px !important;
  padding-left: 4px !important;
  max-width: 100% !important;
  padding-right: 20px !important;
}
.offer .row{
  padding:0px !important;
}
.offer .no-upper-padding{
  padding-top: 0px !important;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.accordion-header {
  height: 47px;
}
.accordion-header-60 .icon{
  font-size: inherit;
  color: #999;
}
.accordion-header .icon{
  font-size: inherit;
}
.accordion-item-selected{
  background: gray;
}
.right-align-text{
  font-size: 12px;
  text-align: right;
  margin-top: 8px;
  color: #999 !important;
}
.left-align-text{
  font-size: 12px;
  text-align: left;
  margin-top: 8px;
  color: #999 !important;
}
.custom-input-label{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.margin-bottom-5{
  margin-bottom:5px;
}
.upper-margin{
  margin-top: 5px !important;
}
.double-input{
  position: inherit;
}
.double-input .col-50{
  max-width: 48% !important;
}
.double-input .second-child{
  position: absolute;
  right: 0;
}
.currency-sel{
  height: 47px;
}
.height-32{
  height:32px
}
.button-bar-with-border{
  border: solid 1px #999 !important;
}
.button-bar-with-border > .button{
  border-radius: 0px !important;
}
.text-sliver-white{
  color: #C0C0C0;
}
.text-grey{
  color: #999999;
}
.text-dark-grey{
  color: #555555 !important;
}
.background-d{
    background-color: #dddddd;
}
.sct_help{
  background-image:url("../img/sct_help.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grey-background{
  background-color: #757575;
  color: #fff !important;
}
.popup-container .popup{
  background-color: #fff !important;
  color: #252B37;
}
.no-title .popup-head {
  display: none;
}
.no-title .popup-buttons {
  margin-left: 35px;;
}
.no-wrap{
  white-space: normal !important;
}
.positive-z-index{
  z-index: 99;
  width: 100%;
  position: absolute;
}
.remove-button{
  position: absolute;
  z-index: 999;
  right: 20px;
}
.button-right-30{
  position: absolute;
  z-index: 999;
  right: 28%;
}
.opacity-half{
  opacity: 0.5;
}
.avatar-img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.subcategory-img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}
.avatar-img-120 {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.bottom-corner {
  position: absolute;
  bottom: 0;
  right: 0;
}
.edit_photo {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 2.5em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #f39c12;
  text-align: center;
  top: calc(50% + 10px);
  left: calc(50% + 30px);
}
.center-box{
  width: 100%;
  height: 320px;
  margin: 0 auto;
  border:2px solid #cccccc;
}
.center-box-medium{
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border:2px solid #cccccc;
}
.vertical-align-text{
  height: 250px;
  line-height: 25px;
}
.lower_case{
  text-transform: lowercase;
}
.small-label {
  font-size: 12px !important;
}
.break-words {
  word-break: keep-all;
}
.bg-light-gray{
  background-color: #F9F9F9;
}
.white-bg{
  background-color: #fff;
}
.bg-v-light-gray{
  background-color: #F9F9F9;
}
.thin-border{
  border: 1px solid #757575;
}
.text-danger{
  color: #ef473a !important;
}
.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.left-border{
  border-left: 1px rgba(198, 198, 198, 0.34);
  border-left-style: solid;
}
.balanced-badge-box{
  background-color: #72960C;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  min-width: 10px;
  padding: 3px 8px;
  text-align: center;
  vertical-align: baseline;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
.light-badge-box{
  background-color: #fff;
  color: #757575;
  display: inline-block;
  font-size: 10px;
  font-family: "roboto-medium" !important;
  line-height: 13.5px;
  min-width: 30px;
  padding: 5px;
  text-align: center;
  vertical-align: baseline;
  border-radius: 3px;
  border: 1px solid #dddddd;
  white-space: nowrap;
  z-index: 1;
}

.popover {
  width: 150px;
}
.padding-right-10{
  padding-right: 10px;
}
.custum-badge{
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  min-width: 10px;
  padding: 3px 8px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  z-index: 1;
}
.right-activity {
  padding-left: 5px;
  padding-right: 45px;
}

.left-activity {
  padding-left: 45px;
  padding-right: 5px;
}
.ionic_toast {
  background-color: rgba(0, 0, 0, 0.8);
}
.theme-color{
  color: #f39c12;
}
.theme-bg{
  background-color: #323132;
  color: #fff !important;
}
.theme-text{
  color: #323132 !important;
}
.icon-white{
  color: white !important;
}
.icon-flag:before {
  content: "\e9cc";
}
.menu-header .profile-box-thumb{
  max-width: 45px;
  max-height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: -10px;
}
.round-image{
  max-width: 40px;
  max-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 5px;
}
.round-image-25{
  max-width: 25px;
  max-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.left-menu{
  .icon{
    color: #f39c12 !important;
    font-size: 24px !important;
  }
}
.orange-background{
  background: #f39c12 !important;

}
.orange-button{
  background: #f39c12 !important;
  color: #fff !important;
}

.search-content{
  z-index: 999;
  position: absolute;
  width: 100%;
}
.selected-supplier{
  background-color: #F5F5F5;
}
.dotted-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line-height-2{
  line-height: 2em;
}
.scroll-view.scroll-x{
  overflow-x: hidden;
}

.background-grey{
  background-color: #F2F2F2 !important;
}
.fill_level {
  background: url('../img/level.svg') 0 100% no-repeat;
  width:28px;
  margin-left: 25px;
}
.outline_level {
  background: url('../img/level_outline.png') 0 100% no-repeat;
  width:50px;
}
.fill_level {
  height :388px;
  position:relative;
}
.outline_level {
  background-position: 0px 100%;
  bottom:0;
  left:0;
  position:absolute;
  height:308px;
  transition:height 0.2s linear;
}
.rcorner_border {
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 2px;
  margin-top: 2%;
}
.achievment_badge{
  margin-left: 2%;
}
.accordion-header-60{
  height: 60px;
}
.light-blue{
  background-color: #E6F4F3;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-left-20{
  margin-left: 20px;
}
.zero-margin-bottom{
  margin-bottom: 0px !important;
}

.radio-energized .radio-icon{
  color: #f39c12 !important;
}
.select_category{
  .bar-header{
    background-color: #323132;
    color: #fff !important;
  }
}
.bar-header {
  background-image: none !important;
  border-bottom: none !important;
}
.bar {
  border:0 !important;
  background-image: none !important;
}
.border-radius-50{
  border-radius: 50%;
}
.break-word{
  word-wrap: break-word !important;
}
.onModal .popover.active {
    opacity: 1;
}
.padding-left-right{
  padding-left: 6px;
  padding-right: 6px;
}

.padding-right-5{
  padding-right: 5px;
}
.padding-left-36{
  padding-left: 36px;
}
