.customer-review{
    .item-radio {
        margin: 15px 0px 15px 0px ;
    }
    .button.button-full{
        margin: 0px !important;
        font-size: 16px;
    }
    .bar-footer{
        padding: 0px;
    }
}
