.app-dashboard{
  background-color: #F2F2F2;

}
.app-dashboard .status{
  background-color: #FFFFFF;
  text-align: center;
  height: 39px;
  line-height: 39px;
  font-size: 16px;
}
.white-background{
  background-color: #FFFFFF !important;
}
.stats-container{
  width: 100%;
  float: left;
}
.app-dashboard .stats-1{
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}
.app-dashboard .stats1-sub-section{
  width: 48%;
  background-color: #FFFFFF;
  padding-left: 6px;
  padding-top: 5px;
  font-size: 10px;
}
.app-dashboard .stats1-sub-section p{
  margin: 0px;
}
.app-dashboard .stats1-sub-section .centered-lg-text {
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  color: #555555;
}
.app-dashboard .stats-2{
  width: 95% !important;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 10px;
  padding: 2px;
}
.app-dashboard .graph{
  width: 95% !important;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 10px;
  padding: 4px 2px 2px 2px;
}

.stats-2 .stats-2-inner-container{
  width: 100%;
  background: #FFFFFF;
  padding: 2px 5px 0px 5px;
}
.stats-2 .amount{
  font-size: 20px;
  line-height: 56px;
}
.stats-2 .revenue{
  width: 50%;
}
.stats-2 .all-time{
  width: 50%;
  float: left;
  text-align: right;
}
.stats-2 .goal-amount{
  font-size: 20px;
  padding: 5px 16px 5px 20px;
  border-bottom: 1px solid;
  border-color: #F2F2F2;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
