.deposit{
  background-color: #f2f2f2;
}
.white-background{
  background-color: #ffffff !important;
}
.deposit .button.button-full{
  margin: 0px !important;
  font-size: 14px;
}
.deposit .bar-footer{
  padding: 0px;
}
.job-detail{
  background: #F2F2F2;
}
.job-detail .item-note{
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  left: auto;
  right: 11px;
}
.job-detail .item-note span{
  display: block;
  margin-top: 25px;
  color: black;
}
.job-detail .code{
  font-size: 12px;
}
.payment-method .item{
  margin: 5px;
  line-height: 0px !important;

}

.payment-method .icon{
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.lrg-checkbox{
  width: 15px;
  height: 15px;
}
.lrg-checkbox-label{
  font-size: 14px;
  padding: 2px 0px 0px 0px;
}
.guarantee-text{
  font-size: 14px;
  overflow: visible;
}
.guarantee{
  margin-top: 10px;
}
.payment-method .item-radio input:checked + .radio-content .item-content {
  /* style the item content when its checked */
  border-color: #f39c12;
  border-width: 1px;
  border-style: solid;
}
