.landing{
  .bg{
    background: #F2F2F2 !important;
  }
  .custom-grid-container{
    width: 100%;
    float: left;
  }
  .col-33{
    float:left !important;
    width: 30.3% !important;
    margin: 4px;
  }

  .icon-container p{
    max-width: 100% !important;
    font-size: 10px !important;
    font-weight: bold !important;
  }
  .icon-container img{
    width: auto !important;
    height: auto !important;
    max-height: 45px !important;
  }
  .no-bg{
    background: none !important;
  }
  .bar-footer{
    .button.button-full{
      margin: 0px !important;
      font-size: 16px;
    }

    .button-bar > .button:only-child {
      border-radius: 0px !important;
      color: #FFBB5A !important;
    }
    a.button.icon-right:before {
      margin-top: 0px !important;
    }
    .button.icon-left:before {
      float: none !important;
      line-height: 27px !important;
      margin-right: 2px !important;
    }
  }
  .bar-footer{
    padding: 0px;
  }
  p {
    margin: 6px 0 3px 0px !important;
  }
  .row{
    padding: 5px 5px 5px 0px !important;
  }

}
