.laundri{
  .custom-item-divider{
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 28px;
    background-color: #f2f2f2;
    color: #999999 !important;
    font-family: "roboto-medium" !important;
    font-size: 12px !important;
  }
  .has-washing-custom-footer{
    bottom: 65px !important
  }
  .quantity-selector{
    float: right;
    color: #aaa;
    font-size: 14px;
    line-height: 25px;
    background-color: #f2f2f2;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 4px;
  }
  .quantity-selector .button {
    min-height: 20px !important;
    line-height: 24px !important;
    padding: 0 6px !important;
    min-width: 20px;
    background-color: #f2f2f2;
  }
  .input-span{
    min-height: 20px !important;
    min-width: 20px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    color: #555555 !important;
    font-family: "roboto-medium" !important;
    font-size: 12px !important;
  }
  .quantity-selector .button.icon:before, .button.icon-left:before, .button.icon-right:before{
    line-height: 24px;
    font-size: 16px !important;
  }
  .washing-custom-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    background: #757575;
    color: white;
  }
  .light-gray{
    color: #cccccc;
    margin: 0;
    font-family: "roboto-regular" !important;
    font-size: 11px !important;
  }
  .footer_string{
    margin: 0;
    font-size: 14px !important;
    color: #ffffff !important;
    font-family: "roboto-medium" !important;
  }
  .custom-label{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #999999;
    font-family: 'roboto-medium' !important;
  }
  input[type="text"]{
    font-family: 'roboto-medium' !important;
    font-size: 14px;
    color: #cccccc;
  }
  input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    background-color: #fff;
  }
  .item {
    max-height: 74px;
  }
  .col{
    padding: 2px;
  }
}
