.chat .scroll{
      height: 100% !important;
  }
  .customer-sub-header{
      position: absolute;
      width: 100%;
      top:44px;
  }
  .has-custom-chat-header{
      top:117px;
  }
  .chat .custom-footer{
      position: absolute;
      bottom:0px;
      height: 50px;
      width:100%;
      border-color: #b2b2b2;
      border-width: 1px;
      border-style: solid;
      margin: -1px;
      border-right: none;
      z-index: 2;
  }
  .chat .scroll-view.scroll-y{
      overflow: hidden !important;
  }
  .custom-footer textarea{
    float: left;
    width: 88%;
    height: 50px;
    padding-left: 5px;
    overflow: hidden;
  }
  .custom-footer .button{
      font-size: 35px !important;
      position: absolute;
      z-index: 2;
      right: -5px;
  }
  .chat .custom-footer .item-input-inset{
      padding: 0px !important;
  }
  .has-custom-chat-footer{
      bottom: 50px;
  }
  .item-info{
      font-size: 12px;
  }
  .old-messages{
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      background: #F9F9F9;
      height: 28px;
      line-height: 28px
  }
  .message-circle{
      width:25px;
      text-align: center;
      font-size: 22px;
      position: absolute;
  }
  .left-message .message-circle, .left-activity .message-circle{
      left: 2px;
  }

  .right-message .message-circle, .right-activity .message-circle{
      right: 2px
  }
  .message-check-mark{
      width: 25px;
      height: 100%;
      position: absolute;
      text-align: center;
      line-height: 100%;
      display: flex;
      align-items: center;
      background: #CCCCCC;
  }
  .left-message .message-check-mark{
      left: 30px;
  }
  .right-message .message-check-mark{
      right: 30px;
  }
  .message-check-mark .icon{
      margin: 0 auto;
      color: white !important;
  }

  .message-container{
      border-color: #ddd;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      margin: -1px;
      margin-top: 10px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
      border:none;
  }
  .message-body-background{
    background: #f7f7f7 none repeat;
  }
  .message-body{

      padding: 5px
  }
  .message-body .content{
      padding: 5px;
  }

  .message-body .message-body-info{
      font-size: 12px;
  }
  .message-body .message-body-info .part{
      margin-left: 5px;
  }

  .message-body .row{
      padding: 0px;
  }

  .right-message {
      padding-left: 10px;
      padding-right: 55px;
  }

  .left-message {
      padding-left: 55px;
      padding-right: 10px;
  }

  .submit-review-button{
      margin: 0 auto !important;
    margin-top: 13px !important;
    width: 90% !important;
  }
  .left-seen{
      height: 15px;
  }
  .left-seen span{
        position: absolute;
    left: 30px;
    font-size: 10px;
  }

  .right-seen{
      height: 15px;
  }
  .right-seen span{
     position: absolute;
     right: 30px;
     font-size: 10px;
  }
