.profile{
  .black-background{
    background-color: #323132;
    color: #fff !important;
  }
  .black-background p{
    color: #fff !important;
  }
  .item p {
    color: #fff !important;
  }
  .theme-bg p {
    color: #fff !important;
  }
  .custum-badge-energized{
    background-color: #f39c12;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-family: "roboto-medium" !important;
    min-width: 70px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    z-index: 1;
  }
  .center-circle-60{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border:2px solid #cccccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .name{
    text-align: center;
    font-size: 16px;
    font-family: "roboto-medium" !important;
    color: #fff;
    padding-top: 12px;
  }
  .low-line{
    margin-top: -11px;
    padding-bottom: 10px;
  }
  .edit-corner{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  .custom-list .icon{
    color: #f39c12;
  }
  .custom-list .col-90{
      border-bottom: thin solid #f0f0f0;
  }
  .custom-list-text{
      font-size: 14px;
      font-family: "roboto-medium" !important;
      color: #555555 !important;
      line-height: 1.8;
  }
  .custom-list .row{
    padding: 10px 10px 10px 5px;
  }
}
