.proposalListModal{
  .name_span{
    display: inline-block;
    min-width: 160px;
    font-size: 16px;
    font-family: "roboto-medium" !important;
    color: #555555 !important;
    padding-left: 6px;
    padding-right: 6px;
 
  }
}
