.protected{
    background: #F2F2F2 !important;
    .card{
        text-align: center;
        padding: 0px 10px 10px 10px;
        p{
            color: #B5B5B5;
        }
    }
    .heading-text{
        color: #605F5D;
        font-size: 20px;
        margin-top: 16px;
    }
    img{
        margin-top: 16px;
    }
}
