.signup{
  .heading-style{
    color: 565656;
    text-align: center;
    font-size: 16px;
    font-weight: normal !important;
    white-space: normal !important;
  }
  .no-header-line{
      border: none !important;
      border-style: none !important;
      background-image:none !important;
  }
  .title{
      font-size: 18px !important;
      color: #fff !important;
  }
  .light-background{
    background-color: #dddddd;
  }
  .bar-footer{
    padding: 0px;
  }
}
.login{
  .col{
    padding: 0px !important;
  }
}
