.supplier-profile{
  .white-border{
    border: solid 1px;
    border-color: #fff;
  }
  .white-text{
    color: #fff;
  }
  .p-col{
    white-space: normal !important;
    color: #fff !important;
    font-size: 12px !important;
  }
  .small-label{
    font-size: 12px !important;
  }

  .gallery-inline {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 2px 8px;
  }
  .gallery-image{
    height: 120px;
    width: 120px;
  }
  .black-background{
    background-color: #323132;
    color: #fff !important;
  }
  .black-background p{
    color: #fff !important;
  }
  .s_name{
    text-align: center;
    line-height: 2;
  }
  .status_circle {
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 2.5em;
    text-align: center;
    bottom: calc(50% + 12px);
    left: calc(50% + 35px);
  }
  .status_circle_image {
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 2.5em;
    text-align: center;
    bottom: calc(50% + 35px);
    left: calc(50% + 20px);
  }
  
}
