<ion-popover-view style="max-height: 175px;">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="edit()" >
        Edit
      </a>
      <a class="item" ng-click="delete()">
        Delete
      </a>
      <a class="item" ng-click="makeDefault()">
        Make as Default
      </a>
    </div>
  </ion-content>
</ion-popover-view>
