<ion-popover-view style="opacity:1; max-height:150px;">
  <ion-content>
    <div class="list">
      <div class="item" ng-click="openOfferDetailModal()">
        <p class="text-12">Offer Detail</p>
      </div>
      <div class="item" ng-if="current_offer.status =='Open' && current_offer.bid_type !='direct'" ng-click="invite(current_offer)">
        <p class="text-12">Invite</p>
      </div>
      <div class="item" ng-if="current_offer.bid_type =='direct' && current_offer.can_invite" ng-click="invite(current_offer)">
        <p class="text-12">Invite</p>
      </div>
    </div>
  </ion-content>
</ion-popover-view>
