<ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item item-icon-left" ng-click="putStatus('online')">
        <i class="icon ion-ios-circle-filled text-20" style="color:green !important;"></i>
        <p class="text-16">Online</p>
      </div>
      <div class="item item-icon-left" ng-click="putStatus('busy')">
        <i class="icon ion-minus-circled text-20"   style="color:red !important;"></i>
        <p class="text-16">Busy</p>
      </div>
      <div class="item item-icon-left" ng-click="putStatus('offline')">
        <i class="icon ion-ios-circle-outline text-20"></i>
        <p class="text-16">Offline</p>
      </div>
    </div>
  </ion-content>
</ion-popover-view>
