<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" ng-click="takePhoto()" >
        Take Photo
      </a>
      <a class="item" ng-click="choosePhoto()">
        Upload Photo
      </a>
      <a class="item" ng-click="chooseFile()">
        Upload File
      </a>
    </div>
  </ion-content>
</ion-popover-view>
