@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iuhel8');
  src:  url('fonts/icomoon.eot?iuhel8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iuhel8') format('truetype'),
    url('fonts/icomoon.woff?iuhel8') format('woff'),
    url('fonts/icomoon.svg?iuhel8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
.icon-arrow_graph_up:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrow_swap:before {
  content: "\e904";
}
.icon-award:before {
  content: "\e905";
}
.icon-bookmark_fill:before {
  content: "\e906";
}
.icon-bookmark_outline:before {
  content: "\e907";
}
.icon-calander:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-card:before {
  content: "\e90a";
}
.icon-cash:before {
  content: "\e90b";
}
.icon-checkmark:before {
  content: "\e90c";
}
.icon-check_mark_round:before {
  content: "\e90d";
}
.icon-clock .path1:before {
  content: "\e90e";
  color: rgb(26, 26, 26);
}
.icon-clock .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-close:before {
  content: "\e910";
}
.icon-danger:before {
  content: "\e911";
}
.icon-download:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-envelop:before {
  content: "\e914";
}
.icon-envelope:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-facebook_f:before {
  content: "\e917";
}
.icon-file:before {
  content: "\e918";
}
.icon-happy:before {
  content: "\e919";
}
.icon-heart_fill:before {
  content: "\e91a";
}
.icon-heart_outline:before {
  content: "\e91b";
}
.icon-help_circled:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-info:before {
  content: "\e91e";
}
.icon-in_folder:before {
  content: "\e91f";
}
.icon-list:before {
  content: "\e920";
}
.icon-location:before {
  content: "\e921";
}
.icon-lock:before {
  content: "\e922";
}
.icon-message:before {
  content: "\e923";
}
.icon-more_vertical:before {
  content: "\e924";
}
.icon-navicon:before {
  content: "\e925";
}
.icon-neutral:before {
  content: "\e926";
}
.icon-out_folder:before {
  content: "\e927";
}
.icon-person:before {
  content: "\e928";
}
.icon-phone:before {
  content: "\e929";
}
.icon-plus_person:before {
  content: "\e92a";
}
.icon-plus_persons:before {
  content: "\e92b";
}
.icon-plus_square:before {
  content: "\e92c";
}
.icon-position:before {
  content: "\e92d";
}
.icon-question_tip:before {
  content: "\e92e";
}
.icon-sad:before {
  content: "\e92f";
}
.icon-search:before {
  content: "\e930";
}
.icon-setting:before {
  content: "\e931";
}
.icon-share:before {
  content: "\e932";
}
.icon-trash:before {
  content: "\e933";
}
.icon-twitter_t:before {
  content: "\e934";
}
.icon-user:before {
  content: "\e935";
}
.icon-user_dressed:before {
  content: "\e936";
}

