<form name="addressform">
  <div class="list">
    <div>
      <label class="item bottom-border  item-input item-floating-label">
        <span class="input-label">Name </span>
        <input type="text" name="name" ng-model="address.name" placeholder="Address Title" required="" />
      </label>
    </div>
    <div class="upper-margin">
      <intlpn class="bottom-border" name="phone" ng-model="address.phone" placeholder="Phone number (optional)" required="false" default-country="ae"></intlpn>
    </div>

    <div>
      <label class="item bottom-border  item-input item-floating-label">
        <span class="input-label">Street Address</span>
        <input type="text" name="street_address" ng-model="address.street_address" placeholder="Street Address" required="" />
      </label>
    </div>
    <div class="item item-input item-select padding upper-margin custom-select-container">
      <select class="custom-select" name="country" ng-model="address.country" required="">
        <option value="" selected="" disabled="">Country</option>
        <option
        ng-repeat="(countryCode, countryName) in countries"
        value="{{countryCode}}">
        {{countryName}}
      </option>
    </select>
  </div>
  <div class="item item-input item-select upper-margin padding custom-select-container">
    <select class="custom-select" name = "city" ng-model="address.city" required="">
      <option value="" selected="" disabled="">City</option>
      <option
      ng-repeat="(cityCode,cityName) in cities[address.country]"
      value="{{cityCode}}">
      {{cityName}}
    </option>
  </select>
</div>
<div class="item item-input item-select upper-margin custom-select-container">
  <select class="custom-select" name="area" ng-model="address.area" required="">
    <option value="" selected="" disabled="">Area</option>
    <option
    ng-repeat="(areaCode,areaName) in areas[address.city]"
    value="{{areaCode}}">
    {{areaName}}
  </option>
</select>
</div>
</div>
<button ng-if="!address.id" class="button button-block button-dark" ng-click="addAddress(address)" ng-disabled="!(address.name && address.country && address.city && address.area && address.street_address)">
  Add
</button>
<button ng-if="address.id" class="button button-block button-dark" ng-click="addAddress(address)" ng-disabled="!(address.name && address.country && address.city && address.area && address.street_address)">
  Save
</button>

</form>
