<div class="list zero-border zero-padding" >
  <!--
  once we have to show main categories uncomment this

  <div class="item item-divider zero-border zero-padding">
  <p class="text-12"><b>{{item.name}}</b></p>
</div> -->
<div ng-repeat="item in categories | filter:search_string">
  <div class="item item-checkbox-left zero-border zero-padding" ng-repeat="subcategory in item.subcategories | filter:search_string">
    <ion-checkbox class="zero-border checkbox-energized" ng-model="subcategory.selected">
      <span class="no-wrap text-12 roboto-medium text-dark-grey">{{subcategory.name}}</span>
    </ion-checkbox>
  </div>
</div>
<div class="item item-divider padding margin-bottom-5" ng-click="construction()">
  <p class="small-label text-center-normal"><b>Didn't Find Your Category? Suggest us.</b></p>
</div>
</div>
