<div class="item">
  <div class="row">
    <div class="col col-80">
      <h2>{{current_offer.title}}</h2>
    </div>
    <div class="col col-20" ng-if="current_offer.has_budget">
      {{current_offer.currency + ' ' + current_offer.price}}
    </div>
    <div class="col col-20" ng-if="!current_offer.has_budget">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grey-frame" ng-if="current_offer.created_at">By {{current_offer.client.first_name + ' ' + current_offer.client.last_name}}, <span am-time-ago="current_offer.created_at"></span></div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50" ng-if="!current_offer.done_in">
      <div class="small-label">Need car on</div>
      <div class="small-label" ><b>{{current_offer.date_time| amDateFormat:'Do MMMM YYYY, h:mm a'}}</b></div>
    </div>
    <div class="col col-50">
      <div class="small-label">Area</div>
      <div class="small-label" ng-if="locations[current_offer.location]"><b>{{locations[current_offer.location]}}</b></div>
      <div class="small-label" ng-if="!locations[current_offer.location]"><b>{{current_offer.location}}</b></div>
    </div>
  </div>
  <div class="row">

    <div class="col col-30 text-center small-label">
      {{current_offer.bids_count}} Proposal
    </div>
    <div class="col col-30 small-label text-center left-border" ng-if="current_offer.done_in">
      Expire in {{current_offer.done_in}} days
    </div>
    <div class="col col-30 small-label text-center left-border" ng-if="!current_offer.done_in">
      Expire <span am-time-ago="current_offer.date_time"></span>
    </div>
    <div class="col col-50">
    </div>
  </div>
</div>
<div class="item">
  <div>
    <h2 class="grey-frame">CAR INFORMATION</h2>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="small-label">Type</div>
      <div class="small-label" ><b>{{current_offer.detail.car_type}}</b></div>
    </div>
    <div class="col col-50">
      <div class="small-label">Brand</div>
      <div class="small-label" ><b>{{current_offer.detail.brand}}</b></div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="small-label">Car Model</div>
      <div class="small-label" ><b>{{current_offer.detail.car_model}}</b></div>
    </div>
    <div class="col col-50">
      <div class="small-label">Quantity</div>
      <div class="small-label" ><b>{{current_offer.detail.quantity}}</b></div>
    </div>
  </div>
  <div class="row upper-margin">
    <div class="col col-100">
      <div class="small-label"><b>Including</b></div>
      <p class="no-wrap" ng-if= "current_offer.detail.isofix">ISOFIX</p>
      <p class="no-wrap" ng-if= "current_offer.detail.smoking"> Smoking will be in car</p>
      <p class="no-wrap" ng-if= "current_offer.detail.gps">Car should include GPS sensor.</p>
    </div>
  </div>
  <div class="row upper-margin" ng-if= "current_offer.additional_req">
    <div class="col col-100">
      <div class="small-label"><b>Additional Requirement</b></div>
      <p class="no-wrap" >{{current_offer.additional_req}}</p>
    </div>
  </div>

</div>
