<div class="item">
  <div class="row">
    <div class="col col-80">
      <h2>{{current_offer.title}}</h2>
    </div>
    <div class="col col-20" ng-if="current_offer.has_budget">
      {{current_offer.currency + ' ' + current_offer.price}}
    </div>
    <div class="col col-20" ng-if="!current_offer.has_budget">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grey-frame" ng-if="current_offer.created_at">By {{current_offer.client.first_name + ' ' + current_offer.client.last_name}}, <span am-time-ago="current_offer.created_at"></span></div>
    </div>
  </div>

  <div class="row">

    <div class="col small-label">
      {{current_offer.bids_count}} Proposal
    </div>
  </div>
</div>
<div class="item">
  <div>
    <h2 class="grey-frame">INFORMATION</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="small-label">{{current_offer.title.replace("for", "includings:")}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-40">
      <div class="small-label">Building Type</div>
      <div class="small-label" ><b>{{current_offer.detail.property}}</b></div>
    </div>
    <div class="col col-40">
      <div class="small-label">Size</div>
      <div class="small-label" ><b>{{current_offer.detail.size}}</b></div>
    </div>
    <div class="col col-20" ng-if="current_offer.detail.bathrooms">
      <div class="small-label">Bathrooms</div>
      <div class="small-label" ><b>{{current_offer.detail.bathrooms}} Bathrooms</b></div>
    </div>
  </div>
  <div class="row upper-margin">
    <div class="col col-50">
      <div class="small-label">Budget</div>
      <div class="small-label" ><b>{{current_offer.currency + ' ' + current_offer.price}}</b></div>
    </div>
    <div class="col col-50" ng-if="current_offer.date_time">
      <div class="small-label">Date</div>
      <div class="small-label" ><b>{{current_offer.date_time| amDateFormat:'Do MMM YY, h:mm a'}}</b></div>
    </div>
  </div>
  <div class="row upper-margin" ng-if= "current_offer.additional_req">
    <div class="col col-100">
      <div class="small-label"><b>Additional Requirement</b></div>
      <p class="no-wrap" >{{current_offer.additional_req}}</p>
    </div>
  </div>
</div>
