<div class="item">
  <div class="row">
    <p class="text-16 roboto-medium text-dark-grey">{{current_offer.title | underscoreless}}</p>
  </div>
  <div class="row">
    <div class="text-11 text-grey roboto-regular" ng-if="current_offer.created_at"><span am-time-ago="current_offer.created_at"></span></div>
  </div>
</div>
<div class="row upper-margin">
  <div class="col col-50">
    <div class="text-11 text-grey">Budget</div>
    <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.currency + ' ' + current_offer.price}}</div>
  </div>
  <div class="col col-50" >
    <div class="text-11 text-grey">Required On</div>
    <div class="text-12 roboto-medium text-dark-grey" ng-if="current_offer.date_time">{{current_offer.date_time| amDateFormat:'Do MMM YY, h:mm a'}}</div>
    <div class="text-12 roboto-medium text-dark-grey" ng-if="!current_offer.date_time">Not Available</div>
  </div>
</div>

<div class="row">
  <div class="col col-50">
    <div class="text-11 text-grey">Property Type</div>
    <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.property}}</div>
  </div>
  <div class="col col-50">
    <div class="text-11 text-grey">Required In</div>
    <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.required_in}}</div>
  </div>
</div>
<div class="item">
  <div>
    <p class="text-14 text-grey">INFORMATION</p>
  </div>

  <div class="row upper-margin">
    <div class="col col-100">
      <div class="text-11 text-grey"><b>Includes</b></div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.pipe_repairing">Pips Repairing. </p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.water_pump">Water Pumps.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.water_leakage">Water Leakage.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.drain_blockage">Drain Blockage.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.new_installation">New Installation.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.other">Other.</p>
    </div>
  </div>
  <div class="row upper-margin" ng-if= "current_offer.additional_req">
    <div class="col col-100">
      <div class="text-11 text-grey">Further Details</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" >{{current_offer.additional_req}}</p>
    </div>
  </div>
</div>
