<div class="item">
  <div class="row">
    <p class="text-16 roboto-medium text-dark-grey">{{current_offer.title}}</p>
  </div>
  <div class="row">
    <div class="text-11 text-grey roboto-regular" ng-if="current_offer.created_at"><span am-time-ago="current_offer.created_at"></span></div>
  </div>

  <div class="row padding-top-10">
    <div class="col col-50" ng-if="current_offer.has_budget">
      <div class="text-11 text-grey">Budget</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="current_offer.has_budget">{{current_offer.currency + ' ' + current_offer.price}}</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="!current_offer.has_budget">Not defined</div>
    </div>
    <div class="col col-50">
      <div class="text-11 text-grey">Pickup</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.date_time| amDateFormat:'Do MMM YY, h:mm a'}}</div>
    </div>
  </div>

    <div class="row">
      <div class="col col-50">
        <div class="text-11 text-grey">Delivery</div>
        <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.return_date_time| amDateFormat:'Do MMM YY, h:mm a'}}</div>
      </div>
      <div class="col col-50">
        <div class="text-11 text-grey">Area</div>
        <div class="text-12 roboto-medium text-dark-grey" >Not Available</div>
      </div>
    </div>
  <div class="row">
    <div class="col col-50" ng-if="current_offer.done_in">
      <div class="text-11 text-grey">Expire in</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="current_offer.done_in">{{current_offer.done_in}} days</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="!current_offer.done_in"><span am-time-ago="current_offer.date_time"></span></div>
    </div>
  </div>
</div>

<div class="item">
  <div>
    <p class="text-14 text-grey">MENS AND LADIESWEAR</p>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Washing</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'mens_n_ladies_wear' :'wash'}} </p>
    </div>
    <div class="col col-50">
      <div class="text-11 text-grey">Ironing</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'mens_n_ladies_wear' :'iron'}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Dry Cleaning</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'mens_n_ladies_wear' :'dryclean'}} </p>
    </div>
  </div>
</div>
<div class="item">
  <div>
    <p class="text-14 text-grey">Others Wear</p>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Washing</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'other_wear' :'wash'}} </p>
    </div>
    <div class="col col-50">
      <div class="text-11 text-grey">Ironing</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'other_wear' :'iron'}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Dry Cleaning</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey">{{current_offer.detail | laundryIncludings: 'other_wear' :'dryclean'}} </p>
    </div>
  </div>
</div>

<div class="item">
  <div class="row upper-margin" ng-if= "current_offer.additional_req">
    <div class="col col-100">
      <div class="text-11 text-grey">Additional Requirement</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" >{{current_offer.additional_req}}</p>
    </div>
  </div>
</div>
