<div class="item">
  <div class="row">
    <p class="text-16 roboto-medium text-dark-grey">{{current_offer.title}}</p>
  </div>
  <div class="row">
    <div class="text-11 text-grey roboto-regular" ng-if="current_offer.created_at"><span am-time-ago="current_offer.created_at"></span></div>
  </div>

  <div class="row padding-top-10">
    <div class="col col-50" ng-if="current_offer.has_budget">
      <div class="text-11 text-grey">Budget</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="current_offer.has_budget">{{current_offer.currency + ' ' + current_offer.price}}</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="!current_offer.has_budget">Not defined</div>
    </div>
    <div class="col col-50" ng-if="current_offer.done_in">
      <div class="text-11 text-grey">Need to be done in</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.done_in}} days</div>
    </div>
    <div class="col col-50" ng-if="!current_offer.done_in">
      <div class="small-label">Need to be done on</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.date_time| amDateFormat:'Do MMMM YYYY, h:mm a'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Area</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="locations[current_offer.location]">{{locations[current_offer.location]}}</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="!locations[current_offer.location]">{{current_offer.location}}</div>
    </div>
    <div class="col col-50" ng-if="current_offer.done_in">
      <div class="text-11 text-grey">Expire in</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="current_offer.done_in">{{current_offer.done_in}} days</div>
      <div class="text-12 roboto-medium text-dark-grey" ng-if="!current_offer.done_in"><span am-time-ago="current_offer.date_time"></span></div>
    </div>
  </div>
</div>
<div class="item">
  <div>
    <span class="text-12 text-grey roboto-medium">INFORMATION</span>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">Property Type</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.property}}</div>
    </div>
    <div class="col col-50">
      <div class="text-11 text-grey">AC type</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.ac_type}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <div class="text-11 text-grey">AC Size</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.ac_size}} tons</div>
    </div>

    <div class="col col-50">
      <div class="text-11 text-grey">Number of AC</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.detail.ac_no}}</div>
    </div>
  </div>
  <div class="row upper-margin">
    <div class="col col-50">
      <div class="text-11 text-grey">Budget</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.currency + ' ' + current_offer.price}}</div>
    </div>
    <div class="col col-50" ng-if="current_offer.date_time">
      <div class="text-11 text-grey">Required On</div>
      <div class="text-12 roboto-medium text-dark-grey" >{{current_offer.date_time| amDateFormat:'Do MMM YY, h:mm a'}}</div>
    </div>
  </div>


  <div class="row upper-margin">
    <div class="col col-100">
      <div class="text-11 text-grey">Includings</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.wet_service">Wet Servicing. </p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.dry_service">Dry Service.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.gas_refil">Gas Refil.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.installation">New Installation.</p>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" ng-if= "current_offer.detail.other">Other.</p>
    </div>
  </div>
  <div class="row upper-margin" ng-if= "current_offer.additional_req">
    <div class="col col-100">
      <div class="text-11 text-grey">Additional Comments</div>
      <p class="no-wrap text-12 roboto-medium text-dark-grey" >{{current_offer.additional_req}}</p>
    </div>
  </div>
</div>
