<div class="list padding no-upper-padding">
  <div class="custom-input-label">
    House information
  </div>
  <div class="row double-input">
    <div class="col-50">
      <div class="item item-input item-select padding custom-select-container bottom-border">
        <select class="custom-select" ng-model="offer.detail.house_type" required="">
          <option value="" selected="" disabled="">House Type</option>
          <option value="office">Office</option>
          <option value="villa">Villa</option>
          <option value="studio">Studio</option>
          <option value="1bhk">1 BHK</option>
          <option value="2bhk">2 BHK</option>
          <option value="3bhk">3 BHK</option>
          <option value="4bhk">4 BHK</option>
          <option value="5bhk">5 BHK</option>
        </select>
      </div>
    </div>
    <div class="col-50 second-child">
      <div class="item item-input item-select padding custom-select-container bottom-border">
        <select class="custom-select" ng-model="offer.detail.size" required="">
          <option value="" disabled="">Size (sq. ft.)</option>
          <option value="100-300">100-300 (sq. ft.)</option>
          <option value="300-600">301-600 (sq. ft.)</option>
          <option value="600-900">601-900 (sq. ft.)</option>
          <option value="900-1200">901-1200 (sq. ft.)</option>
          <option value="1200-2000">1201-2000 (sq. ft.)</option>
          <option value="2000-3000">2001-3000 (sq. ft.)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row double-input" style="margin-top:5px;">
    <div class="col-50">
      <div class="item item-input item-select padding custom-select-container bottom-border">
        <select class="custom-select" ng-model="offer.detail.bedrooms" required="">
          <option value="" disabled="">bedroom</option>
          <option value="0">0 bedroom</option>
          <option value="1">1 bedroom</option>
          <option value="2">2 bedrooms</option>
          <option value="3">3 bedrooms</option>
          <option value="4">4 bedrooms</option>
          <option value="5">5 bedrooms</option>
          <option value="6">6 bedrooms</option>
          <option value="7">7 bedrooms</option>
          <option value="8">8 bedrooms</option>
          <option value="9">9 bedrooms</option>
          <option value="10">10 bedrooms</option>
        </select>
      </div>
    </div>
    <div class="col-50 second-child">
      <div class="item item-input item-select padding custom-select-container bottom-border">
        <select class="custom-select" ng-model="offer.detail.bathrooms" required="">
          <option selected="" value="" disabled="">Bathrooms</option>
          <option value="1">1 bathroom</option>
          <option value="2">2 bathrooms</option>
          <option value="3">3 bathrooms</option>
          <option value="4">4 bathrooms</option>
          <option value="5">5 bathrooms</option>
        </select>
      </div>
    </div>
  </div>
  <div class="list">
    <ion-item class="item-icon-right accordion-header upper-margin"
    ng-click="options.show = !options.show"
    ng-class="{active: options.show}">
    <i class="icon" ng-class="options.show ? 'ion-arrow-up-b' : 'ion-arrow-right-b'"></i>
    Cleaning Including
  </ion-item>

  <ion-item class="item-accordion"
  ng-repeat="item in includings"
  ng-show="options.show"
  >
  <ion-checkbox class="zero-padding-right zero-border checkbox-energized" ng-model="offer.detail[item.key]">
    <span class="no-wrap">{{item.value}}</span>
  </ion-checkbox>
</ion-item>
</div>
<div ng-if="!offer.date_time">
  <div class="custom-input-label">Needs to be done in</div>
  <div class="item item-input item-select padding custom-select-container bottom-border">
    <select class="custom-select" ng-model="offer.done_in" required="">

      <option value="" selected=""> -- Select --</option>
      <option value="1">1 day</option>
      <option value="2">2 days</option>
      <option value="3">3 days</option>
      <option value="4">4 days</option>
      <option value="5">5 days</option>
      <option value="6">6 days</option>
      <option value="7">7 days</option>
      <option value="30">more than 7 days</option>

    </select>
  </div>
</div>
<div ng-if="offer.date_time">
  <div class="custom-input-label">Needs to be done on</div>
  <div class="item">
    <button class="button button-clear go-right" ng-click="removeSpecificTime()">
      Remove
    </button>

    <div class="custom-input-label go-left">
      {{offer.date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
    </div>
  </div>
</div>
<div class="right-align-text">
  <button class="button button-clear button-energized" ng-click="showDateTimeModal('date_time')">
    I have a specific date and time
  </button>
</div>

<div class="custom-input-label">Additional requirements</div>
<div class="item item-input bottom-border" >
  <textarea rows="1" ng-model = "offer.additional_req" maxlength="250" placeholder="For eg: Need a cleaner who can clean my terrace and balcony">
  </textarea>
</div>
<div ng-if="!hideBudget">
  <div class="custom-input-label">Your Budget</div>
  <div class="row">
    <div class="col-50">
      <div class="button-bar button-bar-with-border">

        <a class="button button-small button-dark" ng-click="offer.has_budget = true" ng-class="offer.has_budget ? 'button-dark' : 'button-stable'">
          <span> <i ng-if="offer.has_budget" class="icon-checkmark energized"></i> </span>Yes
        </a>

        <a class="button button-small button-stable icon-left" ng-click="offer.has_budget = false" ng-class="offer.has_budget ? 'button-stable' : 'button-dark'">
          <span> <i ng-if="!offer.has_budget" class="icon-checkmark energized"></i> </span>No
        </a>
      </div>
    </div>
    </div>
    <div class="upper-margin" ng-if="offer.has_budget">
      <div class="item item-input custom-select-container bottom-border">
        <input type="number" placeholder="Price" ng-model="offer.price" required=""/>
      </div>
    </div>
  </div>
</div>
