<div class="list">
  <div class="item item-button-right" ng-repeat="job in jobsList | filter:search_string" ng-click="offerDetails(job)">

    <button class="button button-clear" ng-click="saveJob($index);$event.stopPropagation();">
      <i class="icon" ng-class="job.is_saved ? 'balanced icon-bookmark_fill' : 'text-grey icon-bookmark_outline'" ></i>
    </button>
    <span class="energized text-14 roboto-medium">{{job.title}}</span>
    <div class="text-11 text-grey" ng-if="!job.created_at">By {{job.client.first_name + ' ' + job.client.last_name}}</div>
    <div class="text-11 text-grey" ng-if="job.created_at">By {{job.client.first_name + ' ' + job.client.last_name}}, <span am-time-ago="job.created_at"></span></div>
    <div class="row text-left zero-padding">
      <div class="col col-50 padding-left-0" ng-if="job.done_in">
        <div class="text-11 text-grey">Needs to do in</div>
        <div class="text-11 text-dark-grey roboto-medium" >{{job.done_in}} days</div>
      </div>
      <div class="col col-50 padding-left-0" ng-if="!job.done_in">
        <div class="text-11 text-grey">Date and Time</div>
        <div class="text-11 text-dark-grey roboto-medium" >{{job.date_time | amDateFormat:'Do MMM YY'}}</div>
        <!-- <div class="text-11 text-grey" ><b am-time-ago="job.date_time"></b></div> -->
      </div>
      <div class="col col-50 padding-left-0">
        <div class="text-11 text-grey">Area</div>
        <div class="text-11 text-dark-grey" ng-if="locations[job.location]"><b>{{locations[job.location]}}</b></div>
        <div class="text-11 text-dark-grey" ng-if="!locations[job.location]"><b>{{job.location}}</b></div>
      </div>
    </div>
    <div class="row zero-padding">
      <div class="no-left-padding-5">
        <span class="light-badge-box">{{job.bid_type | capitalizeFirst}}</span>
      </div>
      <div class="padding-5">
        <span class="text-center text-12 roboto-medium padding-left-0 text-dark-grey" ng-if="job.has_budget && job.price">{{job.currency + ' ' + job.price}}</span>
      </div>
      <!-- <div  class="col col-20 padding-left-0" ng-if="job.bid_type">

    </div> -->

    <div class="text-center text-12 roboto-medium left-border padding-5 text-dark-grey">
      {{job.bids_count}} Proposal
    </div>
    <div class=" text-center text-12 roboto-medium left-border padding-5 text-dark-grey" ng-if="job.done_in">
      Expire in {{job.done_in}} days
    </div>
    <div class=" text-center text-12 roboto-medium left-border padding-5 text-dark-grey" ng-if="!job.done_in">
      Expire <span class="text-12 roboto-medium text-dark-grey" am-time-ago="job.date_time"></span>
    </div>
  </div>
</div>
</div>
<button class="button button-full button-energized" ng-if="current_page < total_pages" ng-click="loadMore(current_page+1)" >
  View more
</button>
<empty-place-holder ng-if="!jobsList.length"
heading="No Offer!"
message="No Job available"
>
</empty-place-holder>
