<div class="laundri list padding no-upper-padding">
  <div class="custom-label">PickUp details</div>
  <label ng-if="offer.date_time" class="item item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('date_time')">
    {{offer.date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
    <i class="icon icon-calendar"></i>
  </label>
  <!-- Doing this to show placeholder -->
  <label ng-if="!offer.date_time" class="item item-input item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('date_time')">
    <input type="text" readonly placeholder="Choose Date and time">
    <i class="icon icon-calendar"></i>
  </label>

  <div class="custom-label">Delivery details</div>
  <label ng-if="offer.return_date_time" class="item item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('return_date_time')">
    {{offer.return_date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
    <i class="icon icon-calendar"></i>
  </label>
  <!-- Doing this to show placeholder -->
  <label ng-if="!offer.return_date_time" class="item item-input item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('return_date_time')">
    <input type="text" readonly placeholder="Choose Date and time">
    <i class="icon icon-calendar"></i>
  </label>
  <div class="custom-label">Please Provide your requirement</div>
  <div class="item item-icon-right upper-margin bg-v-light-gray padding" ng-click="laundryModal('wash')">
    <i class="icon ion-chevron-right text-14"></i>
    <div class="row">
      <div class="col">
        <p class="text-11 text-grey">Washing</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-90">
        <p class="text-14 text-dark-grey" ng-if="offer.detail.wash">{{laundryIncludings.wash}}</p>
        <p class="text-14 text-dark-grey" ng-if="!offer.detail.wash">Select</p>
      </div>
    </div>

  </div>
  <div class="item item-icon-right upper-margin bg-v-light-gray padding" ng-click="laundryModal('dryclean')">
    <i class="icon ion-chevron-right text-14"></i>
    <div class="row">
      <div class="col">
        <p class="text-11 text-grey">Dry Cleaning</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-90">
        <p class="text-14 text-dark-grey roboto-medium" ng-if="offer.detail.dryclean">{{laundryIncludings.dryclean}}</p>
        <p class="text-14 text-dark-grey roboto-medium" ng-if="!offer.detail.dryclean">Select</p>
      </div>
    </div>

  </div>
  <div class="item item-icon-right upper-margin bg-v-light-gray padding" ng-click="laundryModal('iron')">
    <i class="icon ion-chevron-right text-14"></i>
    <div class="row">
      <div class="col">
        <p class="text-11 text-grey">Ironing</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-14 text-dark-grey roboto-medium" ng-if="offer.detail.iron">{{laundryIncludings.iron}}</p>
        <p class="text-14 text-dark-grey roboto-medium" ng-if="!offer.detail.iron">Select</p>
      </div>
    </div>
  </div>

  <div class="custom-label">Additional requirements</div>
  <div class="item item-input bottom-border" >
    <textarea rows="1" ng-model = "offer.additional_req" maxlength="250" placeholder="For eg: Need a cleaner who can clean my terrace and balcony">
    </textarea>
  </div>
  <div ng-if="!hideBudget">
    <div class="custom-input-label">Your Budget</div>
    <div class="row">
      <div class="col-50">
        <div class="button-bar button-bar-with-border">
          <a class="button button-dark  button-small" ng-click="offer.has_budget = true" ng-class="offer.has_budget ? 'button-dark' : 'button-stable'">
            <span> <i ng-if="offer.has_budget" class="icon-checkmark energized"></i> </span>Yes
          </a>
          <a class="button button-stable  button-small" ng-click="offer.has_budget = false" ng-class="offer.has_budget ? 'button-stable' : 'button-dark'">
            <span> <i ng-if="!offer.has_budget" class="icon-checkmark energized"></i> </span>No
          </a>
        </div></div>
      </div>
      <div ng-if="offer.has_budget">
        <div class="row upper-margin">
          <div class="col">
            <div class="item item-input bottom-border">
              <input type="number" ng-model="offer.price" placeholder="Price" required=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
