<div class="list padding no-upper-padding">

  <div class="row double-input">
    <div class="item item-input item-select padding custom-select-container bottom-border">
      <select class="custom-select" ng-model="offer.detail.property" required="">
        <option value="" selected="" disabled="">Property Type</option>
        <option value="residential">Residential</option>
        <option value="commercial">Commercial</option>
      </select>
    </div>
  </div>

  <div class="row double-input" style="margin-top:5px;">
    <div class="item item-input item-select padding custom-select-container bottom-border">
      <select class="custom-select" ng-model="offer.detail.required_in" required="">
        <option value="" disabled="">Required In</option>
        <option value="bathroom">Bathroom/Toilet</option>
        <option value="bedroom">Bedrooms/Rooms</option>
        <option value="kitchen">Kitchen</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>

  <div class="custom-input-label">Required for</div>
  <div class="item item-icon-right upper-margin bg-v-light-gray" ng-click="acServiceSelectModal()">
    <i class="icon ion-chevron-right text-16"></i>
    <p class="text-12 grey-frame" ng-if="includings_string"><b>{{includings_string}}</b></p>
    <p class="text-12 grey-frame" ng-if="!includings_string"><b>--Select--</b></p>
  </div>
  <div ng-if="!offer.date_time">
    <div class="custom-input-label">Needs to be done in</div>
    <div class="item item-input item-select padding custom-select-container bottom-border">
      <select class="custom-select" ng-model="offer.done_in" required="">

        <option value="" selected=""> -- Select --</option>
        <option value="1">1 day</option>
        <option value="2">2 days</option>
        <option value="3">3 days</option>
        <option value="4">4 days</option>
        <option value="5">5 days</option>
        <option value="6">6 days</option>
        <option value="7">7 days</option>
        <option value="30">more than 7 days</option>

      </select>
    </div>
  </div>
  <div ng-if="offer.date_time">
    <div class="custom-input-label">Needs to be done on</div>
    <div class="item">
      <button class="button button-clear go-right" ng-click="removeSpecificTime()">
        Remove
      </button>

      <div class="custom-input-label go-left">
        {{offer.date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
      </div>
    </div>
  </div>
  <div class="right-align-text">
    <button class="button button-clear" ng-click="showDateTimeModal('date_time')">
      I have a specific date and time
    </button>
  </div>

  <div class="custom-input-label">Describe in details</div>
  <div class="item item-input bottom-border" >
    <textarea rows="2" ng-model = "offer.additional_req" maxlength="250" placeholder="For eg: There is water leakage problem in my bathroom." required="">
    </textarea>
  </div>

  <div ng-if="!hideBudget">
    <div class="custom-input-label">Your Budget</div>
    <div class="row">
      <div class="col-50">
        <div class="button-bar button-bar-with-border">
          <a class="button button-dark button-small" ng-click="offer.has_budget = true" ng-class="offer.has_budget ? 'button-dark' : 'button-stable'">
            <span> <i ng-if="offer.has_budget" class="icon-checkmark energized"></i> </span>Yes
          </a>
          <a class="button button-stable button-small" ng-click="offer.has_budget = false" ng-class="offer.has_budget ? 'button-stable' : 'button-dark'">
            <span> <i ng-if="!offer.has_budget" class="icon-checkmark energized"></i> </span>
            No
          </a>
        </div></div>
      </div>
      <div class="upper-margin" ng-if="offer.has_budget">
        <div class="item item-input custom-select-container bottom-border">
          <input type="number" placeholder="Price" ng-model="offer.price" required=""/>
        </div>
      </div>
    </div>
  </div>
