<div ng-repeat="activity in completeHistory">
  <div class="message-container right-activity" ng-if="activity.status === 'supplier_posted' || activity.status === 'supplier_reposted'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div>
        <span class="grey-frame" ng-if="activity.status === 'supplier_posted'">Proposal Details</span>
        <span class="grey-frame" ng-if="activity.status === 'supplier_reposted'">Proposal Details(proposed again)</span>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}{{activity.amount_per}}</b></div>
        </div>
        <div class="col col-50" ng-if="activity.data.car_model">
          <div class="small-label"><b>Car Details</b></div>
          <div class="text-16"><b>{{activity.data.car_model}} {{activity.data.year}}</b></div>
          <div  ng-if="activity.image">
            <img class="subcategory-img" ng-src="{{prefix}}/{{activity.image.image.url}}">
          </div>
        </div>

        <div class="col col-50" ng-if="activity.start_date">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>

      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>

      <div ng-if="activity.is_current_proposal == true && !isSupplier">
        <div class="row">
          <div class="col col-50">
            <button class="button button-outline button-block button-dark" ng-disabled="current_proposal.status=='client_cancel'" ng-click="openDeposit()">
              Accept
            </button>
          </div>
          <div class="col col-50">
            <button class="button button-outline button-block button-dark"  ng-disabled="current_proposal.status=='client_cancel'" ng-click="openDeclineProposal()">
              Decline
            </button>
          </div>
        </div>
        <div class="row padding-top-0">
          <div class="col padding-top-0">
            <button class="button button-outline button-block button-dark" ng-click="openBargain('Bargain Detail','client_bargain')">
              Bargain
            </button>
          </div>
        </div>
      </div>
      <button class="button button-stable" ng-if="isSupplier && activity.is_current_proposal" ng-click="cancelProposal('supplier_cancel')">
        Cancel
      </button>
    </div>
  </div>
  <div class="message-container left-activity" ng-if="activity.status === 'client_accept'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div class="bg-v-light-gray">
        <i class="icon icon-checkmark text-16"></i>
        <span class="grey-frame">Proposal accepted</span>
      </div>

      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}</b></div>
        </div>
        <div class="col col-50">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>
      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>

    </div>

  </div>
  <div class="message-container right-activity" ng-if="activity.status === 'supplier_cancel' || activity.status === 'supplier_bargain_cancel'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div class="bg-v-light-gray">
        <i class="icon icon-close text-16"></i>

        <span class="grey-frame">Proposal Cancelled</span>
      </div>

      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}</b></div>
        </div>
        <div class="col col-50">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>
      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-container left-activity" ng-if="activity.status === 'client_cancel' || activity.status === 'client_bargain_cancel' || activity.status === 'client_accept_cancel'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div class="bg-v-light-gray">
        <span class="grey-frame">Proposal rejected</span>
      </div>

      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}</b></div>
        </div>
        <div class="col col-50">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>
      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="message-container right-activity" ng-if="activity.status === 'supplier_bargain_accept'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div class="bg-v-light-gray">
        <i class="icon icon-checkmark text-16"></i>
        <span class="grey-frame">Bargain Accepted</span>
      </div>

      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}</b></div>
        </div>
        <div class="col col-50">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>
      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-container left-activity" ng-if="activity.status === 'client_bargain'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="thin-border padding">
      <div>
        <span class="small-label">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
      </div>
      <div class="bg-v-light-gray">
        <span class="grey-frame">Bargain details</span>
      </div>

      <div class="row">
        <div class="col col-50">
          <div class="small-label">Amount</div>
          <div class="small-label" ><b>{{activity.amount}}</b></div>
        </div>
        <div class="col col-50">
          <div class="small-label">Start Date</div>
          <div class="small-label" ><b>{{activity.start_date | amDateFormat:'Do MMMM YYYY h:mm:a'}}</b></div>
        </div>
      </div>
      <div class="row" ng-if= "activity.message">
        <div class="col col-100">
          <div class="small-label"><b>Message</b></div>
          <p class="no-wrap small-label" >{{activity.message}}</p>
        </div>
      </div>
      <button class="button button-stable" ng-if="!isSupplier && activity.is_current_proposal" ng-click="cancelProposal('client_bargain_cancel')">
        Cancel
      </button>
      <div ng-if="activity.is_current_proposal == true && isSupplier">
        <div class="row">
          <div class="col col-50">
            <button class="button button-outline button-block button-dark" ng-click="updateProposal({'id':activity.id,'status':'supplier_bargain_accept'})">
              Accept
            </button>
          </div>
          <div class="col col-50">
            <button class="button button-outline button-block button-dark"  ng-click="updateProposal({'id':activity.id,'status':'supplier_bargain_cancel'})">
              Decline
            </button>
          </div>
        </div>
        <div class="row padding-top-0">
          <div class="col padding-top-0">
            <button class="button button-outline button-block button-dark" ng-click="openBargain('New Proposal ( bargain replay )','supplier_reposted')">
              New Proposal
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- supplier_bargain_accept
  supplier_bargain_cancel -->

  <div class="message-container left-message" ng-if="activity.status === 'client_complete_approve' && !isSupplier">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="message-check-mark">
      <i class="icon icon-checkmark">
      </i>
    </div>
    <div class="message-body">
      <div class="message-body-info">
        <span class="part">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
        <span class="part"></span>
      </div>
      Job has been completed
    </div>
  </div>
  <div class="message-container left-message" ng-if="activity.status === 'client_complete_cancel'">
    <div class="message-circle">
      <i class="icon ion-record"></i>
    </div>
    <div class="message-check-mark">
      <i class="icon icon-close">
      </i>
    </div>
    <div class="message-body">
      <div class="message-body-info">
        <span class="part">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
        <span class="part"></span>
      </div>
      Marked Incomplete
    </div>
  </div>
  <div ng-if="activity.status === 'supplier_completed'&& !isSupplier">
    <div class="item item-icon-left item-icon-right upper-margin bg-v-light-gray">
      <div ng-if="!current_proposal.rating && activity.is_current_proposal" ng-click="openRatingModal()">
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap" ng-if="current_proposal.supplier.is_company">
          <b>{{current_proposal.supplier.company_name}}</b> has marked this job as done.Please review and approve to realse payment.
        </p>
        <p class="text-12 grey-frame no-wrap" ng-if="!current_proposal.supplier.is_company">
          <b>{{current_proposal.supplier.first_name}} {{current_proposal.supplier.last_name}}</b>has marked this job as done.Please review and approve to realse payment.
        </p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>
      <div ng-if="current_proposal.rating || !activity.is_current_proposal">
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap" ng-if="current_proposal.supplier.is_company">
          <b>{{current_proposal.supplier.company_name}}</b> has marked this job as done.
        </p>
        <p class="text-12 grey-frame no-wrap" ng-if="!current_proposal.supplier.is_company">
          <b>{{current_proposal.supplier.first_name}} {{current_proposal.supplier.last_name}}</b>has marked this job as done.
        </p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>

    </div>
  </div>
  <!--  -->
  <div ng-if="activity.status === 'supplier_completed'&& isSupplier">
    <div class="item item-icon-left item-icon-right upper-margin bg-v-light-gray">
      <div>
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap">You marked this job as completed</p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>
    </div>
  </div>
  <div ng-if="activity.status === 'client_complete_approve'&& isSupplier">
    <div class="item item-icon-left item-icon-right upper-margin bg-v-light-gray">
      <div>
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap">
          {{current_offer.client.first_name}} {{current_offer.client.last_name}} has approved your request.
          He also submitted reviw about your service.
        </p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>
    </div>
  </div>
  <div ng-if="activity.status === 'supplier_feedback'&& isSupplier">
    <div class="item item-icon-left item-icon-right upper-margin bg-v-light-gray">
      <div>
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap">Job is done, your feedback submitted successfully</p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>
    </div>
  </div>

  <div ng-if="activity.status === 'supplier_started'">
    <div class="item item-icon-left item-icon-right upper-margin bg-v-light-gray">
      <div>
        <i class="icon icon-checkmark text-16"></i>
        <p class="text-12 grey-frame no-wrap">Job started</p>
        <i class="icon ion-chevron-right text-16"></i>
      </div>
    </div>
  </div>

  <div ng-if="activity.from">
    <div class="message-container" ng-class="activity.from.type=='supplier' ? 'right-message' : 'left-message'">
      <div class="message-circle">
        <i class="icon ion-record"></i>
      </div>
      <div class="message-check-mark">
        <i class="icon icon-checkmark">
        </i>
      </div>
      <div class="message-body message-body-background">
        <div class="message-body-info">
          <span class="part">{{activity.updated_at | amDateFormat:'Do MMMM YYYY h:mm:a'}}</span>
          <span class="part"></span>
        </div>
        {{activity.message}}
      </div>
    </div>
  </div>
</div>
