<div class="list">
  <div class="item item-button-right" ng-repeat="job in jobsList | filter:search_string">

    <button class="button button-clear button-small">
      <span class="roboto-medium text-11 text-grey">{{job.view_status}}</span>
    </button>
    <span class="text-16 roboto-medium">{{job.title}}</span>
    <div class="text-11 text-grey" ng-if="job.created_at"><span am-time-ago="job.created_at"></span>  <span class="light-badge-box">{{job.bid_type | capitalizeFirst}}</span> </div>
  </div>
</div>
<!-- <button class="button button-full button-energized" ng-if="current_page < total_pages" ng-click="loadMore(current_page+1)">
  View more
</button> -->
<empty-place-holder ng-if="!jobsList.length"
heading="No Proposal!"
message="No proposals available"
>
</empty-place-holder>
