<div class="list padding no-upper-padding">
  <div class="custom-input-label">Pick Up details</div>
  <label ng-if="offer.date_time" class="item item-icon-right padding custom-select-container" ng-click="showDateTimeModal('date_time')">
    {{offer.date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
    <i class="icon icon-calendar"></i>
  </label>
  <!-- Doing this to show placeholder -->
  <label ng-if="!offer.date_time" class="item item-input item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('date_time')">
    <input type="text" readonly placeholder="Choose Date and time">
    <i class="icon icon-calendar"></i>
  </label>
  <div class="item item-input item-select padding custom-select-container margin-top-5 bottom-border" >
    <select class="custom-select" ng-model="offer.location" required="">
      <option value="" disabled="">Location Area</option>
      <option value="dera"> Dera </option>
      <option value="silicon oasis"> Silicon oasis </option>
      <option value="Palm Jummehra"> Palm Jummerah</option>
      <option value="Rashdiya"> Rashida</option>
    </select>
  </div>

  <ion-checkbox class="zero-padding-right zero-border checkbox-energized margin-top-10" ng-model="options.differentReturn">
    <span class="no-wrap">Return to a different location</span>
  </ion-checkbox>

  <div class="custom-input-label">Return details</div>
  <label ng-if="offer.return_date_time" class="item item-icon-right padding custom-select-container" ng-click="showDateTimeModal('return_date_time')">
    {{offer.return_date_time | amDateFormat:'Do MMMM YYYY, h:mm a'}}
    <i class="icon icon-calendar text-grey"></i>
  </label>
  <!-- Doing this to show placeholder -->
  <label ng-if="!offer.return_date_time" class="item item-input item-icon-right padding custom-select-container bottom-border" ng-click="showDateTimeModal('return_date_time')">
    <input type="text" readonly placeholder="Choose Date and time">
    <i class="icon icon-calendar"></i>
  </label>
  <div ng-if="options.differentReturn">
    <div class="item item-input item-select padding custom-select-container margin-top-5 bottom-border" >
      <select class="custom-select" ng-model="offer.return_location" required="">
        <option value="" disabled="">Location Area</option>
        <option value="dera"> Dera </option>
        <option value="silicon oasis"> Silicon oasis </option>
        <option value="Palm Jummehra"> Palm Jummerah</option>
        <option value="Rashdiya"> Rashida</option>
      </select>
    </div>
  </div>
  <div class="custom-input-label">
    Car type
  </div>
  <div class="row double-input">
    <div class="item item-input item-select padding custom-select-container bottom-border">
      <select class="custom-select" ng-model="offer.detail.car_type" required="">
        <option value="" selected="" disabled="">Select</option>
        <option value="sedan">Sedan</option>
        <option value="suv">SUV & CrossOver</option>
        <option value="supports">Supports</option>
        <option value="van">Van</option>
        <option value="commercial">Commercial</option>
      </select>
    </div>
  </div>
  <div class="row double-input" style="margin-top:5px;">
    <div class="col-50">
      <div class="custom-input-label">
        Brand
      </div>
      <div class="item item-input item-select padding custom-select-container bottom-border">
        <select class="custom-select" ng-model="offer.detail.brand" required="">
          <option value="" selected disabled="">Any</option>
          <option
          ng-repeat="(key, value) in models"
          value="{{key}}">
          {{key}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-50 second-child">
    <div class="custom-input-label">
      Car Model
    </div>
    <div class="item item-input item-select padding custom-select-container bottom-border">
      <select class="custom-select" ng-model="offer.detail.car_model" required="">
        <option selected="" value="">Any</option>
        <option
        ng-repeat="(key, value) in models[offer.detail.brand]"
        value="{{key}}">
        {{value}}
      </option>
    </select>
  </div>
</div>

</div>
<div class="custom-input-label">
  No of cars
</div>
<div class="row double-input">
  <div class="item item-input item-select padding custom-select-container bottom-border">
    <select class="custom-select" ng-model="offer.detail.quantity" required="">
      <option value="" selected="" disabled="">Select</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>
<div class="custom-input-label">
  Period
</div>
<div class="row double-input">
  <div class="item item-input item-select padding custom-select-container bottom-border">
    <select class="custom-select" ng-model="offer.detail.period" required="">
      <option value="" selected="" disabled="">Select</option>
      <option value="1day">1 Day</option>
      <option value="2days">2 Days</option>
      <option value="3days">3 Days</option>
      <option value="4days">4 Days</option>
      <option value="5days">5 Days</option>
      <option value="6days">6 Days</option>
      <option value="1week">1 Week</option>
      <option value="2weeks">2 Weeks</option>
      <option value="3weeks">3 Weeks</option>
      <option value="1month">1 Month</option>
      <option value="3months">3 Months</option>
      <option value="6months">6 Months</option>
    </select>
  </div>
</div>
<div class="custom-input-label">
  Your Nationality
</div>
<div class="row double-input">
  <div class="item item-input item-select padding custom-select-container bottom-border">
    <select class="custom-select" ng-model="offer.detail.nationality" required="">
      <option value="" selected="" disabled="">Select</option>
      <option value="bahrain">Bahrain</option>
      <option value="india">India</option>
      <option value="kazhakistan">Kazhakistan</option>
      <option value="kuwait">Kuwait</option>
      <option value="pakistan">Pakistan</option>
      <option value="oman">Oman</option>
      <option value="qatar">Qatar</option>
      <option value="ksa">Saudi Arabia</option>
      <option value="uae">United Arab Emirates</option>
    </select>
  </div>
</div>
<ion-item class="item-icon-right accordion-header upper-margin"
ng-click="options.show = !options.show"
ng-class="{active: options.show}">
<i class="icon" ng-class="options.show ? 'ion-arrow-up-b' : 'ion-arrow-right-b'"></i>
Additional Options Required
</ion-item>

<ion-item class="item-accordion"
ng-repeat="item in includings"
ng-show="options.show"
>
<ion-checkbox class="zero-padding-right zero-border checkbox-energized" ng-model="offer.detail[item.key]">
<span class="no-wrap">{{item.value}}</span>
</ion-checkbox>
</ion-item>
<div class="custom-input-label">Additional requirements</div>
<div class="item item-input bottom-border" >
  <textarea rows="2" ng-model = "offer.additional_req" maxlength="250" placeholder="For eg: Need a budget friendly car.">
  </textarea>
</div>
<div ng-if="!hideBudget">
  <div class="custom-input-label" >Your Budget</div>
  <div class="row">
    <div class="col-50">
      <div class="button-bar button-bar-with-border">
        <a class="button button-small button-dark" ng-click="offer.has_budget = true" ng-class="offer.has_budget ? 'button-dark' : 'button-stable'">
          <span> <i ng-if="offer.has_budget" class="ion-checkmark energized"></i> </span>Yes
        </a>
        <a class="button button-small button-stable" ng-click="offer.has_budget = false" ng-class="offer.has_budget ? 'button-stable' : 'button-dark'">
          <span> <i ng-if="!offer.has_budget" class="icon-checkmark energized"></i> </span>
          No
        </a>
      </div>
    </div>
  </div>
  <div ng-if="offer.has_budget">
    <div class="row upper-margin">
      <div class="col-67">
        <div class="item item-input item-select bottom-border">
          <select class="custom-select" ng-model="offer.price" required="">
            <option value="" selected="">Select your budget</option>
            <option value="0-49">< 50</option>
            <option value="50-99">50-99</option>
            <option value="100-199">100-199</option>
            <option value="200-299">200-299</option>
            <option value="300-399">300-399</option>
            <option value="400-499">400-499</option>
            <option value="500-999">500-999</option>
            <option value="1000-1999">1000-1999</option>
            <option value="2000">> 2000</option>
          </select>
        </div>
      </div>
      <div class="col-33 padding-left-5">
        <div class="item item-input item-select  bottom-border">
          <select class="custom-select"  ng-model="offer.price_per" ng-init="offer.price_per = offer.price_per || 'per_day'" required="">
            <option value="per_day" selected>per day</option>
            <option value="per_week">per week</option>
            <option value="per_month">per month</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light-gray text-14 padding margin-top-5">
  The hirer is liable to pay the applicable INSURANCE EXCESS of 1500.00 AED in case of accident where the hirer is at mistake or the Third party is unknown.
</div>
<div class="text-12 padding">
  For more information about the driving licence in UAE, please <a>click here</a>.
</div>

</div>
<div class="list padding">

</div>
