<div class="search-content" ng-show="searchOpen.value">
  <div class="list">
    <div ng-if="searchResult.categories" class="item item-button-right top-border">
      <p class="text-16 grey-frame">Services</p>
      <button class="button button-clear text-16" ui-sref="menu.service">View All</button>
    </div>
    <div class="item item-icon-left zero-border " ng-repeat="category in searchResult.categories">
      <!-- <i class="icon ion-home"></i> -->
      <div class="icon">
        <img class="height-32" ng-src="img/icons/{{category.slug}}.svg">
      </div>
      <div>{{category.name}}</div>
    </div>
    <div ng-if="searchResult.offers" class="item item-button-right top-border">
      <p class="text-16 grey-frame">Offers</p>
      <button class="button button-clear text-16" ui-sref='menu.jobsList'>View All</button>
    </div>
    <div class="item item-icon-left zero-border " ng-repeat="offer in searchResult.offers" ng-click="offerDetails(offer)">
      <div class="icon">
        <img class="height-32" ng-src="img/icons/{{offer.category_slug}}.svg">
      </div>
      <div>{{offer.title}}</div>
    </div>
    <div ng-if="searchResult.suppliers" class="item item-button-right top-border">
      <p class="text-16 grey-frame">Supplier</p>
      <button class="button button-clear text-16" ui-sref='menu.viewSupplier'>View All</button>
    </div>

    <div class="item item-icon-left zero-border " ng-repeat="supplier in searchResult.suppliers">
      <i class="icon ion-person" ng-if="!supplier.image"></i>
      <div class="icon" ng-if="supplier.image">
        <img class="height-32 border-radius-50" ng-src="{{prefix}}/{{supplier.image}}">
      </div>

      <div class="text-16" ui-sref="menu.supplierProfile({'id':supplier.id})">{{supplier.name}}</div>
    </div>
    <div class="item item top-border" ng-if="user.type!='Supplier'">
      <button class="button zero-border button-bar icon-left ion-plus-circled button-clear" ng-click="refer_supplier()">Invite Supplier</button>
    </div>

  </div>
</div>
