.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}


.tabbed-slidebox .tsb-icons {
    text-align: center;
    position: relative;
	  background-color:#323132;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: #cccbcc;
	-webkit-transform:translate3d(0,8px,0);
}

.tabbed-slidebox .tsb-icons a.active {
    color: #f39c12;
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
	width:auto;
	font-size: 1em;
	line-height: 2em;
	text-decoration: none;
	margin: 0 10px;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
	border-bottom: 3px solid #cccbcc;
}
